/* 메뉴상세,장바구니 공통 */
.product-solo {
    position:relative; margin-bottom:10px; padding-top:20px; background:$white-color;
    .btn-del {
        position:absolute; top:10px; right:10px; width:40px; height:40px; padding:0; font-size:0;
        &:before {content:"\e6db"; font:400 22px/1 'element-icons'; color:$dark-color}
    }
}
.basket-product {
    margin:0 auto;
    .pic {position:relative; width:110px; height:110px; margin:0 auto 10px}
    .name-info { 
        padding:0 20px; text-align:center;
        .tit {display:inline-block; font-size:1.5rem; font-weight:$fw-bold; color:$darken-color}
        .txt-sub {font-size:1.2rem; color:$dark-color}
    }
}
.basket-list {
    margin:0 20px; padding:20px 0 0; border-bottom:1px solid $lighter-color;
    h3.tit {
        margin-bottom:14px; font-size:1.5rem; font-weight:$fw-medium; color:$darken-color;
        span {float:right; font-size:1.1rem; font-weight:$fw-regular; color:$main-color}
    }
    &.price-oneline dl {
        @include flexbox; @include align-items(center); padding-bottom:15px;
        .tit {font-size:1.5rem; font-weight:$fw-medium; color:$darken-color}
        .price {margin-left:auto}
    }
}
.wrap-price {
    @include flexbox; @include flex-wrap(nowrap); @include align-items(center);margin-bottom:15px;
    .tit {@include flex(2 1); font-size:1.3rem; line-height:1.4}
    .price {
        @include flex(1 0); margin-left:auto; text-align:right;
        .discount {display:inline-block; margin-right:4px; text-decoration:line-through; font-size:1.2rem; color:$dark-color}
    }
    label {display:block; width:100%}
    &.discount {
        margin-top:-10px;
        .tit, .price * {color:$main-color}
    }
}
.basket-all-total {
    padding:20px 20px 5px;
    .wrap-price p {font-size:1.8rem; font-weight:$fw-medium}
}

/* 장바구니 */
.basket-total-top {
    @include flexbox; @include align-items(center); height:50px; padding:0 20px; background:$main-color; 
    h2 {font-size:1.5rem; color:$white-color; font-weight:$fw-bold}
    button {margin-left:auto}
}
.menu-add {
    padding:10px 20px 20px;
    button {font-size:1.4rem; background:transparent}
}
.basket-total-bottom {
    padding:20px; background:$white-color;
    .wrap-price {
        margin-bottom:5px;
        .tit {font-size:1.4rem}
        .price p {font-size:2.3rem; font-weight:$fw-bold}
    }
}

/* 메뉴상세 */
.menu-detail {
    margin-bottom:0;
    .wrap-price {
        &.total {
            padding:20px 0 10px; border-top:1px dashed $light-color;
            .tit {font-size:1.4rem}
            .price p {font-size:2.3rem}
        }
        .tit {line-height:24px}
        .inp-check {@include flexbox}
    }
    .el-radio.wrap-price {
        @include flexbox; @include align-items(center); margin-right:0;
        .el-radio__label {
            @include flex(1);
            dl {@include flexbox}            
            .price span {color:$darken-color}
        }
    }
}