/* placeholder */
input::-webkit-input-placeholder {color:$light-color; font-weight:$fw-demiLight}
input::-moz-placeholder {color:$light-color; font-weight:$fw-demiLight}
input:-ms-input-placeholder {color:$light-color; font-weight:$fw-demiLight}
input::placeholder {color:$light-color; font-weight:$fw-demiLight; opacity:1}
textarea::-webkit-input-placeholder {color:$light-color; font-weight:$fw-demiLight}
textarea::-moz-placeholder {color:$light-color; font-weight:$fw-demiLight}
textarea:-ms-input-placeholder {color:$light-color; font-weight:$fw-demiLight}
textarea::placeholder {color:$light-color; font-weight:$fw-demiLight; opacity:1}


/* input 공용 스타일 */
.input-txt,
input[type=text],
input[type=tel] {
    height:36px; margin:0; padding:0 0 0 10px;
    background-color:$white-color; border-radius:2px; border:solid 1px $light-color;
    font-size:1.2rem; color:$darken-color; vertical-align:top; webkit-appearance:none;
    &:focus {outline:none}
}

/* 버튼이 붙어있는 인풋 */
.wrap-input {
    @include flexbox;
    .input-txt {@include flex(2); border-radius:2px 0 0 2px; border-right:0}
    .btn-input {@include flex(0 1 100px); height:36px; padding:0 10px; background:$main-color; color:$white-color; border-radius:0 2px 2px 0}
}

body {
    /* el-input */
    .el-input input {border:1px solid $main-color; font-size:1.15em; color:$darken-color; font-weight:$fw-regular}
    
    /* el-input Num */
    .input-num {display:inline-block; padding-right:10px; text-align:right}
    .el-input-number {
        width:104px; line-height:inherit;
        .el-icon-minus,
        .el-icon-plus {color:$main-color}
        .el-icon-minus:before,
        .el-icon-plus:before {position:relative; top:-3px}
        span[role="button"] {width:34px; height:34px; background:$white-color; line-height:42px}
        .el-input-number__decrease {border-right:1px solid $main-color}
        .el-input-number__increase {border-left:1px solid $main-color}
        .el-input__inner {padding:0 5px; border:1px solid $main-color; font-weight:$fw-demiLight; line-height:1}
        .el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
        .el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {border-color:$main-color}
    }
    .el-input-number.is-disabled {
        .el-input input, .el-input input:focus {border-color:$cd-color !important; background-color:$bg-lighter; color:$darken-color}
        .el-input-number__increase,
        .el-input-number__decrease {border-color:$cd-color; background-color:$bg-lighter}
        .el-input-number .el-input__inner {border-color:$dark-color; background-color:$bg-lighter}
        .el-icon-plus,
        .el-icon-minus {color:$dark-color; background-color:transparent}
    }
    
    /* Radio */
    .el-radio {
        .el-radio__label {padding:0 0 0 5px; font-size:13px; font-weight:$fw-regular}
        .el-radio__inner {width:24px; height:24px; border-radius:50%; background:$white-color; border-color:$light-color}
        .is-checked .el-radio__inner {background:$white-color; border-color:$main-color}
        .el-radio__inner::after {width:9px; height:9px; border-radius:50%; background:$main-color}
        .el-radio__input.is-checked+.el-radio__label {color:$main-color}
    }
}

/* Check Box */
.inp-check {
    display:inline-block; position:relative; font-size:1.3rem; line-height:24px; cursor:pointer;
    @include prefix((
        user-select:none
    ), webkit moz ms);
    .txt {position:relative; display:inline-block; margin:0; padding-left:30px}
    input {position:absolute; width:0; height:0; opacity:0; cursor:pointer}
    .checkmark {
        @include absolute(0,0,null,null); width:24px; height:24px; background:$white-color; border:1px solid $light-color; border-radius:2px;
        &:after {
            content:''; display:none; @include absolute(9px,6px,null,null); 
            width:5px; height:9px; border:solid $white-color; border-width:0 2px 2px 0; transform:rotate(45deg)
        }
    }
    input:checked ~ .checkmark {
        border-color:$main-color;
        &:after {display:block; border-color:$main-color}
    }
}