@import "/ud/common/css/normalize.css";
@import "/ud/common/css/NotoSansKR-Hestia.css";
@import "/ud/common/css/roboto.css";
@import "/ud/common/css/line-awesome.min.css";
@import "/ud/common/css/element.css"; /* element */
@import "./mixin.scss"; /* mixin & var */
@import "./grid.scss"; /* Grid system by Bootstrap */
@import "./element-variables.scss";
@import "./main.scss";
@import "./basket.scss";
@import "./order.scss";
@import "./member.scss";
@import "./popup.scss";
@import "./input.scss"; /* mixin & var */

@font-face {font-family:'Roboto'; unicode-range: U+30-39}

/* 공용 */
html {
    position:relative; min-width:320px; min-height:100%; word-break:keep-all;
    font: {
        family:'Roboto','NotoSansCJKkr','Noto Sans Korean',"돋움",Dotum,'Apple SD Gothic Neo',sans-serif;
        weight:$fw-demiLight;
        size:11px
    }
    body {height:100%; margin:0 auto; padding-top:50px; overflow-y:auto}
}

body {
    margin:0; padding:0; vertical-align:middle;
    color:$darker-color; letter-spacing:-0.5px; background:$bg-lighter;
    ol, ul, li {list-style:none; margin:0; padding:0}
    &:before {
        content:''; position:fixed; top:0; bottom:0; left:50%; transform:translateX(-50%); 
        width:100%; max-width:560px; height:100%; box-shadow:0 0 20px rgba($darken-color,.2)
    }
    &:after {content:''; display:block; width:100%; height:60px}
}

*, *:before, *:after {margin:0; box-sizing:border-box}

a,a:hover,a:active,a:visited {cursor:pointer; text-decoration:none; color:inherit}

/* 공통 레이아웃 */
.container {position:relative; max-width:560px; padding:0}
.row:last-child > div, .row .mb0 {margin-bottom:0}
.no-btn {margin-bottom:-50px}

/* common icon style */
.label-new {@include sp-label; border-color:$main-color; color:$main-color}
.label-discount {@include sp-label; border-color:$sub-color; color:$sub-color}
.ico-under-age {
    @include sp-label;
    width:18px; height:18px; padding:0; border-radius:50%; border-color:$main-color; vertical-align:text-top;
    color:$darken-color; line-height:18px; text-align:center; text-indent:-1px; letter-spacing:-0.1em; font-style:normal
}

/* button position */
.btn-top-r {
    position:absolute; right:0; top:0;
    button {position:relative}
}

/* button */
.btn {
    padding:10px; border:1px solid transparent; border-radius:$btn-radius;
    font-size:1.2rem; line-height:1; text-align:center;
    &:focus {outline:none}
}
.btn-lg {
    display:block; width:100%; height:5rem; padding:0; 
    line-height:5rem; font-size:1.4rem; font-weight:$fw-medium
}
.btn-red {@include bxshadow-rd; background-color:$main-color; color:$white-color}
.btn-redline {border-color:$main-color; background-color:$white-color; color:$main-color}
.btn-bkline {border-color:$darken-color; background-color:$white-color; color:$darken-color}
.btn-gyline {border-color:$darker-color; background-color:$white-color; color:$darker-color}
.btn-wline {border-color:$white-color; color:$white-color}
.btn-light {color:$darker-color; border:1px solid $light-color}
.btn-opacity {border-color:$main-color; background-color:rgba($main-color,.7); color:$white-color}
button {
    position:relative; border:inherit; background:inherit;
    input[type="file"] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0}
}
.btn-ico-del {
    width:16px; height:16px; padding:0; background-color:$dark-color; border-radius:50%;
    i {font-size:14px; color:$white-color; font-weight:900}
}
.wrap-btn {
    padding:20px;
    .btn-gyline {background:transparent}
}

/* text */
.tit-h2 {
    margin-bottom:14px; padding-bottom:14px;
    text-align:center; font-weight:$fw-bold; color:$darken-color; font-size:1.5rem; line-height:1;
    border-bottom:1px solid $lighter-color
}
.txt-b {font-size:1.15rem; color:$darken-color}
.txt-s {font-size:1.1rem}
.txt-rd {color:$main-color}
.txt-gr {color:$dark-color}
.txt-link {
    display:inline-block; margin:0 8px; color:$dark-color;
    &:after {content:"\f105"; font:900 10px/1 'Line Awesome Free'}
}
/* 하단 주의사항 text */
.txt-caution {
    padding:20px; color:$dark-color; line-height:1.3;
    h5 {margin-bottom:5px; font-size:1.3rem; font-weight:$fw-regular; color:$darker-color}
    p, ul {margin-bottom:8px}
    li {margin-bottom:2px}
    .txt {font-size:1.2rem}
}

/* list */
.list-type {
    li {
        position:relative; padding-left:10px; line-height:1.3;
        &:not(:last-of-type) {margin-bottom:4px}
        &:before {position:absolute; left:0}
    }
    &.check li {
        padding-left:16px;
        &:before {content:"\e6da"; top:0; font-family:element-icons; speak:none; color:$main-color}
    }
    &.disc li {
        &:before {content:''; top:4px; width:3px; height:3px; border-radius:50%; background-color:$dark-color}
    }
}

/* header */
header {
    position:fixed; top:0; width:100%; max-width:560px; height:50px;
    background:$white-color; border-bottom:1px solid $bg-lighter; z-index:101;
    .header {
        position:relative; height:50px;
        .header-col {
            padding:0; min-width:320px;
            .store-name {padding:14px 60px 0}
        }
    }
    .store-bi {
        position:absolute; top:50%; left:20px; width:32px; height:32px;
        /*border:1px solid $light-color;*/ border-radius:100%; overflow:hidden;
        background:url('/ud/colaservice/common/img/bi_emblem.png') $white-color no-repeat 50% 50% / cover; transform:translateY(-50%);

        img {
            position:absolute; left:50%; top:50%; min-width:100%; min-height:100%; max-width:110%; max-height:110%;
            background-color:$white-color; transform:translate(-50%,-50%)
        }
    }
    h1 {
        margin:0 58px; font-weight:$fw-bold; font-size:1.5rem; color:$darken-color;
        line-height:50px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; cursor:pointer
    }
    button {
        position:absolute; top:0; padding:0; font-size:0; border:0; z-index:102;
        background: {position:center center; repeat:no-repeat; color:transparent}
    }    
    .btn-gnb {
      right:0; width:50px; height:50px;
      background-image:url("../img/ico_gnb@2x.png"); background-size:18px 14px
    }
    .btn-back {
      left:0; width:50px; height:50px; font-size:0;
      &:before {content:"\e6ea"; font:400 25px/1 'element-icons'; color:$dark-color}
    }
}
.sub-header {
    .store-name {margin:0 50px; text-align:center}
    h1 {display:inline-block; max-width:calc(100% - 40px); margin:0; vertical-align:middle}
    .store-bi {
        display:inline-block; position:relative; top:auto; left:auto; 
        margin-right:5px; vertical-align:middle; transform:inherit;
        
        img {
            position:absolute; left:50%; top:50%; min-width:100%; min-height:100%; max-width:110%; max-height:110%; transform:translate(-50%,-50%)
        }
    }
}

/* gnb */
nav {
    position:fixed; top:0; right:-310px; width:260px; height:100%;
    background:$white-color; z-index:200;

    .btn-close {
        top:10px; left:-45px; width:32px; height:32px; color:$darken-color;
        border-radius:2px; background:rgba($white-color,.5);
        &:after {font:900 25px/1 'Line Awesome Free'; content:"\f00d"}
    }
    
    /* nav 프로필 */
    .profile {
        padding:10px 15px; border-bottom:1px solid $light-color;
        .profile-pic {display:none}
        
        /* 로그인 후 */
        &.default {
            .profile-pic {display:block}
            .nick-name {padding-left:45px}
        }
    }
    .nav-list{
        ul {margin:10px 0 0}
        li {
            font-size:1.4rem; font-weight:$fw-regular; color:$darken-color;
            a {
                display:block; padding:20px;
                &, &:hover, &:active, &:visited {color:$darken-color}
            }
        }
    }
    /* 공유 */
    .nav-share {
        position:absolute; bottom:0; width:100%; font-size:0;
        dl {display:block}
        dt {margin-bottom:20px; padding:8px 20px; font-size:1.1rem; color:$darken-color; border-bottom:1px solid $light-color}
        dd {
            display:inline-block; margin:0 5px 20px;
            &:first-of-type {margin-left:20px}
            &:last-of-type {margin-right:20px}
            a {
                display:block; width:35px; height:35px; overflow:hidden; border-radius:50%; font-size:0;
                background: {
                    position:50% 50%; repeat:no-repeat; size:100%
                }
            }
            &.ico-naver a {background-image:url('../img/ico_sns_naver@2x.png')}
            &.ico-kakao a {background-image:url('../img/ico_sns_ka@2x.png')}
            &.ico-fb a {background-image:url('../img/ico_sns_fb@2x.png')}
            &.ico-url a {background-image:url('../img/ico_sns_link@2x.png')}
            &.ico-twitter a {background-image:url('../img/ico_sns_tw@2x.png')}
        }
    }
}
.gnb {
    .bg-dim {
        transition:background-color .2s ease-in-out; opacity:0;
        &.on {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:.6; z-index:9}
    }
}

/* footer */
footer {
    padding:10px 0; text-align:center; border-top:1px solid $lighter-color;
    .list-link {margin-bottom:8px}
    .list-foot {
        & > * {color:#aaa; line-height:1.3}
        address {font-style:inherit}
    }
    li {
        display:inline-block; font-size:11px;
        &:after {content:'|'; margin:0 5px; color:$light-color}
        &:last-of-type:after {display:none}
        a {color:$dark-color}
    }
    .el-collapse {
        margin:0 10px; border:0;
        .el-collapse-item__header {
            height:30px; padding:0 5px 0 20px; background:transparent; border:1px solid $light-color;
            font-size:1.1rem; color:$dark-color; font-weight:$fw-regular; line-height:100%
        }
        .el-collapse-item__wrap {
            background:transparent; border:0;
            .el-collapse-item__content {padding:8px 0; font-size:10px}
        }
        .el-collapse-item:last-child {margin:-1px 0 0}
    }
}

.pic {position:relative}
.full-bg-img {
    background: {
        position:center center; repeat:no-repeat; size:cover
    }
}

/* 하단고정버튼 */
.order-bottom {
    position:fixed; bottom:0; width:100%; max-width:560px;
    padding:0; margin:0; color:$white-color; z-index:100;
    button {
        height:60px; padding:0; border:0; text-align:center; line-height:50px; 
        font-size:1.4rem; font-weight:$fw-medium; color:$white-color
    }
    .order-call {background:$main-darker-color}
    .order-cart {
        background:$main-color;
        span {vertical-align:middle}
        .count {
            display:inline-block; width:20px; height:20px; margin:0 0 0 5px;
            color:$main-color; font-weight:$fw-bold; font-size:1.1rem; line-height:20px;
            background:$white-color; border-radius:50%
        }
    }
    .order-dim {background:$cd-color}
    .soldout {background-color:$dark-color; color:$white-color}
    .btn-big-btm {display:block; width:100%; background-color:$main-color}
}

.bedge-sale {
    position:absolute; bottom:5px; right:5px; width:34px; height:34px;
    color:$white-color; font-size:1.25em; text-align:center; font-weight:$fw-bold; line-height:2.3em;
    background-color:rgba($main-color, .85); border-radius:50%
}

.txt-won {@include txt-won}
.ex-txt {@include ex-txt}


/* 프로필 이미지 공통 */
.profile {
    position:relative;
    .profile-pic {
        float:left; display:block; width:35px; height:35px; border-radius:50%; overflow:hidden;
        background:$light-color url("../img/bi_emblem_w@2x.png") no-repeat 50% 50% / 50%;
        img { width:100%; height:100%; background-color:$white-color}
        /* 소셜 이미지 */
        &.pic-naver {background:url('../img/ico_sns_naver@2x.png') no-repeat 0 0 / 100%}
        &.pic-kakao {background:url('../img/ico_sns_ka@2x.png') no-repeat 0 0 / 100%}
        &.pic-fb {background:url('../img/ico_sns_fb@2x.png') no-repeat 0 0 / 100%}
    }
    .nick-name {
        margin:0; padding:10px 0; font-size:1.2rem; font-weight:$fw-bold; color:$darken-color;
        span {display:block; line-height:1; margin-bottom:3px}
    }
}
/* 상품 이미지 공통 */
.thumb-pic {
    padding:0; overflow:hidden;
    background:$light-color url('../img/bi_emblem_w@2x.png') no-repeat 50% 50% / 60%;
    img {
        display:block; position:absolute; top:50%; left:50%;
        min-width:100%; height:100%; transform:translate(-50%,-50%)
    }
}

/* 금액 표시 */
.price {
    font-size:0; line-height:1;
    p {display:inline-block; font-size:1.7rem; font-weight:$fw-demiLight; color:$darken-color; line-height:24px}
    span {display:inline-block; @include txt-won; color:$darken-color; line-height:1}
}
.price-r {
    position:absolute; right:0; top:50%; margin-top:5px; font-size:0;
    line-height:1; text-align:right; color:$darken-color; transform:translateY(-50%);
    
    & > div {
        display:inline-block;
        p {display:inline; margin:0}
        p + span {@include txt-won}
    }
    .option-price {
        p {font-size:2rem; color:$darken-color; font-weight:$fw-regular}
    }
    .normal-price {
        display:inline-block; margin-right:5px; text-decoration:line-through; font-size:1.2rem; color:$dark-color;
        span {margin-left:0; opacity:inherit}
    }
    .txt-soldout {font-size:1.3rem}
}

/* bg */
.bg-light {background-color:$bg-lighter}

/* 빈페이지 */
.pg-blank {
    @include flexbox; @include align-items(center); @include justify-content(center); min-height:45vh;
    
    span {
        @include flex(none); text-align:center; color:$dark-color; font-size:1.5rem;        
        &:before {
            content:''; display:block; width:80px; height:80px; margin:0 auto 20px; background:url('../img/bi_emblem_gy@2x.png') no-repeat 50% 50% / 100%
        }
    }
    &.bi-w span:before {background-image:url('../img/bi_emblem_w@2x.png')}
}
.popup-layer .pg-blank {min-height:10vh; transform:scale(0.8)}

/* 약관 공통 */
.wrap-terms {
    text-align:left; line-height:1.4;
    dl {display:block; margin:5px 0 12px}
    dt.h1 {font-size:1.1em; color:$darken-color}
    dd {display:block}
    p {margin:5px 0}
    ol {
        margin:0 0 5px; padding-left:5px;
        li {margin:5px 0}
        &.depth2 li {padding:0}
    }
    table {
        width:100%; margin:5px 0 10px; font-size:0.9em;
        &, th, td {padding:3px; font-weight:$fw-regular; border:1px solid $light-color}
        th {text-align:center; background-color:$cd-color}
        tbody th {background-color:$lighter-color}
        td {background-color:$white-color}
    }
    ul {
        margin:0 0 5px; padding-left:10px;
        li:before {display:inline-block; margin-right:5px; transform:scale(0.6)}
        &.square > li:before {content:'■'}
        &.disc > li:before {content:'●'; font-size:10px}
    }
    a {color:$main-color; text-decoration:underline}
}
/* 팝업 */
.pop-terms .el-dialog__body {height:55vh; overflow-y:scroll}
/* 페이지 */
.wrap-clause {
    margin-top:-40px; padding:0 10px;
    .head-title {margin-bottom:10px; font-size:1.2em; font-weight:$fw-bold; color:$darken-color}
}