<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/page.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-paystats">
        <!--상세검색-->        
        <section class="bx-basic wrap-bx-search filter">
          <el-date-picker
            v-model="datepicker"
            type="daterange"
            align="right"
            start-placeholder="시작일 선택"
            end-placeholder="종료일 선택"
            default-value="2019-11-15">
          </el-date-picker>
          <div class="group-radio">
            <el-radio v-model="searchDate" label="month">
              <span>당월</span>
              <div class="wrap-btn-arr">
                <button class="btn btn-line"><i class="la la-angle-left"></i></button>
                <button class="btn btn-line"><i class="la la-angle-right"></i></button>
              </div>
            </el-radio>
            <el-radio v-model="searchDate" label="today">
              <span>오늘</span>
              <div class="wrap-btn-arr">
                <button class="btn btn-line"><i class="la la-angle-left"></i></button>
                <button class="btn btn-line"><i class="la la-angle-right"></i></button>
              </div>
            </el-radio>
            <el-radio v-model="searchDate" label="all">
              <span>전체</span>
            </el-radio>
          </div>
        </section>
        <!--통계 위젯-->
        <section class="row wrap-widget">
          <div class="col-xs-12">
            <div class="widget-rd">
              <dl class="main-stat">
                <dt>결제 연동 판매점 수</dt>
                <dd class="txt-count">
                  <span id="payAll">0</span><small>건</small>
                </dd>
              </dl>
              <dl class="sub-stat">
                <dt>결제완료</dt>
                <dd class="txt-count">
                  <span id="paySub1a">0</span><small>원</small>
                  <div class="sub-count">&sol; <span id="paySub1b">0</span><small>건</small></div>
                </dd>
              </dl>
              <dl class="sub-stat">
                <dt>결제취소</dt>
                <dd class="txt-count">
                  <span id="paySub2a">0</span><small>원</small>
                  <div class="sub-count">&sol; <span id="paySub2b">0</span><small>건</small></div>
                </dd>
              </dl>
              <dl class="sub-stat">
                <dt>결제 마진</dt>
                <dd class="txt-count">
                  <span id="paySub3">0</span><small>원</small>
                </dd>
              </dl>
            </div>
          </div>
        </section>
        <section class="tbl-filter transparent">
          <div class="f-right">
            <button class="btn btn-xs btn-gy btn-down"><i class="la la-download"></i> 엑셀 다운로드</button>
          </div>
        </section>
        <section class="board-list">
          <table>
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col width="150px">
            </colgroup>
            <thead>
              <tr>
                <th>판매점 정보</th>
                <th>결제 정보</th>
                <th>결제자</th>
                <th>결제 금액</th>
                <th>결제 수단</th>
                <th>처리 결과</th>
                <th>결제 마진</th>
                <th>관리</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ta-left">
                  <dl class="txt-info">
                    <dt><a href="detail.html">애니스토어 (shoppink) <span class="label-new">NEW</span></a></dt>
                    <dd>1599-5681</dd>
                    <dd>2019.11.13</dd>
                    <dd class="link-resell">리셀러: <span>직접등록</span></dd>
                  </dl>
                </td>
                <td class="ta-left">
                  <p>R201911040000008327</p>
                  <p>사이다페이</p>
                </td>
                <td>01065656544</td>
                <td>846,000원</td>
                <td>카드</td>
                <td><span>결제완료</span></td>
                <td>
                  <b>1,057원</b>
                </td>
                <td class="td-btns">
                  <button class="btn btn-xs btn-line-point"><i class="la la-filter"></i> 마진 조회</button>
                  <button class="btn btn-xs btn-line-point"><i class="la la-chart-bar"></i> 실적 통계</button>
                  <button class="btn btn-xs btn-point">판매자 로그인</button>
                  <button class="btn btn-xs btn-sk">리셀러 로그인</button>
                  <div class="btn btn-xs btn-line-b set-btn">
                    <button>정보수정</button>
                    <button>메모</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ta-left">
                  <dl class="txt-info">
                    <dt>베스트쇼핑 (bestshopping)</dt>
                    <dd>010-1212-2121</dd>
                    <dd>2019.11.02</dd>
                    <dd class="link-resell link">리셀러: <span>devking</span></dd>
                  </dl>
                </td>
                <td class="ta-left">
                  <p>R201911040000008327</p>
                  <p>사이다페이</p>
                </td>
                <td>01065656544</td>
                <td>846,000원</td>
                <td>카드</td>
                <td><span>결제완료</span></td>
                <td>
                  <b>1,057원</b>
                </td>
                <td class="td-btns">
                  <button class="btn btn-xs btn-line-point"><i class="la la-filter"></i> 마진 조회</button>
                  <button class="btn btn-xs btn-line-point"><i class="la la-chart-bar"></i> 실적 통계</button>
                  <button class="btn btn-xs btn-point">판매자 로그인</button>
                  <button class="btn btn-xs btn-sk">리셀러 로그인</button>
                  <div class="btn btn-xs btn-line-b set-btn">
                    <button>정보수정</button>
                    <button>메모</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <div class="tbl-filter">
          <div class="d-left">
            <el-select v-model="viewList" placeholder="보기 설정" class="view-pc">
              <el-option 
                v-for="list in options"
                :key="list.value"
                :label="list.label"
                :value="list.value">
              </el-option>
            </el-select>
          </div>
          <div class="d-right">
            <div role="pagination" class="pager">
              <div class="txt-pg">
                <span class="current">1</span>
                <span>3</span>
              </div>
              <button class="btn btn-line-b btn-prev"><i class="la la-angle-left"></i></button>
              <button class="btn btn-line-b btn-next"><i class="la la-angle-right"></i></button>
              <label for="goto">이동</label>
              <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
            </div>
          </div>
        </div>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 날짜 선택 */
        searchDetail: '1',
        searchDate: 'month',
        datepicker: '',
        
        /**
         * 리스트 개수 select
         */
        options: [{
          value: 'Option1',
          label: '10개씩 보기'
        }, {
          value: 'Option2',
          label: '50개씩 보기'
        }, {
          value: 'Option3',
          label: '100개씩 보기'
        }],
        viewList: '',

      }
    },
    methods: {
      /* collapse */
      handleChange(val) {
        console.log(val);
      }
    }
  })
</script>
<script type="text/javascript">
  //금액 카운트
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : '' 
  };

  /**
  [0] 카운트를 보여줄 ID
  [1] 시작 카운트
  [2] 종료 카운트
  [3] 소수점
  [4] 시작 ~ 종료 까지 실행 시간
  [5] 옵션
  */

  let payAll = new CountUp("payAll", 0, 326, 0, 1.5, options);
  payAll.start();
  let paySub1a = new CountUp("paySub1a", 0, 250000000, 0, 1.5, options);
  paySub1a.start();
  let paySub1b = new CountUp("paySub1b", 0, 82, 0, 1.5, options);
  paySub1b.start();
  let paySub2a = new CountUp("paySub2a", 0, 87040, 0, 1.5, options);
  paySub2a.start();
  let paySub2b = new CountUp("paySub2b", 0, 15, 0, 1.5, options);
  paySub2b.start();
  let paySub3 = new CountUp("paySub3", 0, 170545, 0, 1.5, options);
  paySub3.start();

</script>
</html>