@charset "UTF-8";
/* _login.scss */

#site-login{
  width: 100%;
  height: 100vh;
  text-align: center;
  background: $white-gray;
}

#login-form {
  margin-bottom: 2rem;
  
  // 로고
  #site-logo {
    position: relative;
    float: none;
    left: auto;
    top: auto;
    margin-bottom: 2rem;
    
    a {
      margin: 0 auto;
    }
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: .9rem
  }
}

// 폼 영역
.login-box {
  &__item {
    margin-bottom: .5rem;
    
    input {
      border-color: $border-base;
      background-color: $white;
    }
  }
  
  &--option {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
    a {
      margin-left: auto;
    }
  }
}