@charset "UTF-8";
/* _main.scss */

//
//  Each Section Style (Main Page)
// --------------------------------------------------

// 메인 첫번째 섹션
.section-intro{
  position: relative;
  background: $primary url("../img/common/bg_visual.svg") no-repeat 0 0 / cover;
  overflow: visible !important;
  padding-top: 6rem;
  
  @include res(sm) {
    padding: 8.43rem 0 2rem
  }
  
  .section__container {
    @include clearfix;
    
    @include res(md) {
      max-width: 1440px !important;
    }
  }

  .txtBox {
    position: relative;
    padding-top: 2rem;
    text-align: center !important;
    z-index: 2;

    .under {
      color: $white;
    }

    @include res(lg) {
      padding-left: 5rem;
    }
    
    @include res(md) {
      float: left;
      width: 55%;
      padding-top: 6.875rem;
      text-align: left !important;
    }

    img {
      width: 11rem;
      height: 1.83rem;
      vertical-align: middle;

      @include res(md) {
        width: 15.375rem;
        height: 2.5rem;
      }
    }
  }
  .imgBox {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;

    // pc
    @include res(md) {
      float: right;
      width: 45%;
      max-width: 706px;
      padding-top: 45%;
      margin: 0;

      // circle effect
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25rem;
        height: 25rem;
        margin: -12.5rem 0 0 -12.5rem;
        border-radius: 50%;
        opacity: .1;
        z-index: 1;
      }
      &:before {
        background: $bg-sky;
        animation: oval-bg1 4s .4s ease infinite;
  
        @keyframes oval-bg1 {
          0% {
            transform: scale(1);
            opacity: .05
          }
          50% {
            transform: scale(1.3);
            opacity: .25
          }
          100% {
            transform: scale(1);
            opacity: .05
          }
        }
      }
      &:after {
        border: 2px solid $bg-sky;
        animation: oval-bg2 5s .5s ease infinite;

        @keyframes oval-bg2 {
          0% {
            transform: scale(1);
            opacity: .05
          }
          50% {
            transform: scale(1.4);
            opacity: .35
          }
          100% {
            transform: scale(1);
            opacity: .05
          }
        }
      }
      
      // img
      > img {
        position: absolute;
        z-index: 3;
      }
      &__item1 { //pc이미지
        max-width: 660px;
        width: 100%;
        top: 8%;
        right: 20px;
      }
      &__item2 { //api이미지
        width: 66%;
        max-width: 400px;
        bottom: 6%;
        right: -10px;
      }
      
      // shape
      [class^="shape-"] {
        z-index: 2;
      }
      .shape{
        &-left1 { // dot circle
          top: 2%;
          right: 12%;
          left: auto;
          width: 6.875rem;
          height: 6.875rem;
        }
        &-dot img { // dot circle
          opacity: 1
        }
        
        &-right2 { // yellow half
          right: 18%;
          top: 0;
          bottom: auto
        }
        &-half { // yellow half
          width: 4.5rem;
          height: 2.25rem;
          background-color: $yellow;
          transform: inherit;
        }
        
        &-left2 { // line
          left: -30px;
          top: 48%;
          width: 9.6rem
        }
        
        &-right3 { // line circle
          right: auto;
          left: 15%;
          bottom: 10%;
          width: 6.43rem;
          height: 6.43rem;
        }
      }
    } // pc res(md)

    .desktop-hidden-md { //모바일 메인이미지
      width: 100%;
      max-width: 670px;
    }
  } // .imgBox

  .section__title,
  .section__desc{
    color:$white;
  }

  .section__title{
    font-size: $font-size-more-medium;

    // RWD
    @include res(sm) {
      font-size: $font-size-large;
    }
    @include res(lg) {
      font-size: $font-size-xlarge;
    }
  }
}



// 메인 두번째 섹션 - 수익올리기
.section-figure{
  .txtBox {
    h2 {
      margin-top: 0;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      color: $black;
      
      @include res(sm) {
        font-size: $font-size-medium;
      }
    }
    
    img {
      width: 10rem;
      height: 1.667rem;
      margin-left: .6rem;
      vertical-align: middle;
      
      @include res(md) {
        width: 16.875rem;
        height: 2.75rem;
      }
    }
    
    br {
      display: none;

      @include res(sm) {
       display: inline;
     }
   }
 }

 .merits{
  &__wrapper{
    @include clearfix;
    margin:0 -20px;
  }

  &__item{
    float:left;
    display: inline-block;
    width: 50%;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: $font-size-xsmall;
    color: $black;

    @include res(sm) {
      width: 33.3334%;
    }

    @include res(lg) {
      width: 25%;
    }

      // 아이콘
      .ico-sprites {
        margin: 0 auto 0.625rem;
        background-position-y: -12px;

        @include res(sm) {
          background-position-y: -20px;
        }
      }
      
      &:nth-child(1) .ico-sprites {
        background-position-x: -114px;

        @include res(sm) {
          background-position-x: -190px;
        }
      }

      &:nth-child(2) .ico-sprites {
        width: 51px;
        background-position-x: -12px;

        @include res(sm) {
          width: 85px;
          background-position-x: -20px;
        }
      }

      &:nth-child(3) .ico-sprites {
        background-position-x: -63px;

        @include res(sm) {
          background-position-x: -105px;
        }
      }

      &:nth-child(4) .ico-sprites {
        background-position-x: -168px;

        @include res(sm) {
          background-position-x: -280px;
        }
      }

      &:nth-child(5) .ico-sprites {
        width: 48px;
        background-position-x: -222px;

        @include res(sm) {
          width: 80px;
          background-position-x: -370px;
        }
      }

      &:nth-child(6) .ico-sprites {
        background-position-x: -276px;

        @include res(sm) {
          background-position-x: -460px;
        }
      }

      &:nth-child(7) .ico-sprites {
        background-position-x: -324px;

        @include res(sm) {
          background-position-x: -540px;
        }
      }

      &:nth-child(8) .ico-sprites {
        background-position-x: -372px;

        @include res(sm) {
          background-position-x: -620px;
        }
      }
    }
  }
}

// 메인 세번째 섹션 -연동가능 API
.section-api {
  .list-api {
    &__wrapper{
      @include clearfix;

      @include res(md) {
        margin:0 -2rem;
      }
    }
    
    &__item {
      float:left;
      display: table;
      width: calc(50% - 1rem);
      margin: 0 .5rem 1.5rem;
      text-align: left;
      color: $black;

      @include res(md) {
        width: calc(33.3334% - 2.5rem);
        margin: 0 1.25rem 2.5rem;
      }
      
      .txt {
        display: table-cell;
        vertical-align: middle;
        padding-left: .75rem;
        line-height: 1.3;
        font-size: $font-size-more-xsmall;

        @include res(md) {
          padding-left: 1.25rem;
        }
      }

      // 아이콘
      .ico-sprites {
        display: table-cell;
        vertical-align: middle;
        background-position-y: -72px;
        
        @include res(sm) {
          background-position-y: -120px;
        }
      }

      &:nth-child(1) .ico-sprites {
        background-position-x: -12px;

        @include res(sm) {
          background-position-x: -20px;
        }
      }

      &:nth-child(2) .ico-sprites {
        background-position-x: -63px;

        @include res(sm) {
          background-position-x: -105px;
        }
      }

      &:nth-child(3) .ico-sprites {
        background-position-x: -114px;

        @include res(sm) {
          background-position-x: -190px;
        }
      }

      &:nth-child(4) .ico-sprites {
        background-position: -114px -372px;

        @include res(sm) {
          background-position: -190px -620px;
        }
      }

      &:nth-child(5) .ico-sprites {
        background-position-x: -165px;

        @include res(sm) {
          background-position-x: -275px;
        }
      }

      &:nth-child(6) .ico-sprites {
        background-position-x: -216px;

        @include res(sm) {
          background-position-x: -360px;
        }
      }

      &:nth-child(7) .ico-sprites {
        background-position-x: -267px;

        @include res(sm) {
          background-position-x: -445px;
        }
      }

      &:nth-child(8) .ico-sprites {
        background-position-x: -318px;

        @include res(sm) {
          background-position-x: -530px;
        }
      }

      &:nth-child(9) .ico-sprites {
        background-position: -318px -132px;

        @include res(sm) {
          background-position: -530px -220px;
        }
      }
    }
  }
}


// 메인 네번째 섹션 -수익 벌기
.section-benefit {
  .imgBox {
    img {
      max-width: 604px
    }
  }
}


// 메인 다섯번째 섹션 -리셀러로 딱
.section-target {
  .list-target {
    &__wrapper{
      @include clearfix;
      
      @include res(md) {
        margin: 0 -1.25rem;
      }
    }
    
    &__item{
      display: inline-block;
      width: 100%;
      margin: 0 0 1.25rem;
      padding: 1.75rem 1rem;
      text-align: center;
      font-size: $font-size-xsmall;
      
      @include res(md) {
        float:left;
        width: calc(33.3334% - 2.5rem);
        margin: 0 1.25rem;
        padding: 2.5rem 1rem;
        font-size: $font-size-small;
      }
      
      dt {
        margin-bottom: .625rem;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        color: $black;
      }
      
      dd {
        font-size: $font-size-xsmall;
        color: $base;
      }
      
      // 아이콘
      .ico-sprites {
        width: 38px;
        height: 38px;
        margin: 0 auto .75rem;
        background-position-y: -132px;
        
        @include res(sm) {
          width: 62px;
          height: 62px;
          margin: 0 auto 1.5rem;
          background-position-y: -220px;
        }
      }

      &:nth-child(1) .ico-sprites {
        background-position-x: -12px;

        @include res(sm) {
          background-position-x: -20px;
        }
      }

      &:nth-child(2) .ico-sprites {
        background-position-x: -63px;

        @include res(sm) {
          background-position-x: -105px;
        }
      }

      &:nth-child(3) .ico-sprites {
        background-position-x: -114px;

        @include res(sm) {
          background-position-x: -190px;
        }
      }
    }
  }
}


// 무료 가입
.section--join{ 
  background: url('../img/main/sec7_bg.svg') no-repeat center top / cover;
}
