@charset "UTF-8";
/* _sub-ui.scss */
//==## 이 파일은 약관 페이지를 공통으로 사용하기 위해 필요한 스타일입니다.
//==## 아래 스타일은 _sub-ui.scss 에서 불필요한 부분만 지웠습니다.


.subPage {

  // subPage-inner
  &-inner {
    width: 100%;
    padding: 0 1.333rem;

    @include res(lg) {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  // subPage-header
  &-header {
    text-align: center;
    margin-top: 2rem;

    @include res(md) {
      margin-top: 4.375rem;
    }
  }

  // subPage-title
  &-title {
    font-size: $font-size-more-medium;
    font-weight: $font-weight-semibold;
    letter-spacing: -0.05em;
    color: $text-dark;

    strong {
      font-weight: $font-weight-bold;
    }

    @include res(sm) {
      font-size: $font-size-most-medium;
    }
    @include res(md) {
      font-size: $font-size-large;
    }
  }

  // subPage-subTitle
  &-subTitle {
    font-size: 2.8rem;
    color: $text-dark;

    strong {
      display: block;
      font-family: $font-family-gmarket;
      color: $text-dark;
      font-weight: $font-weight-bold;
    }
  }

  // subPage-body
  &-body {
    margin-top: 3rem;

    &.mt0 {
      margin-top: 0;
    }

    &.padding1 {
      margin-top: 4rem;
    }

    &.area-wrapper {
      .subPage-area {
        padding-top: 6rem;

        &.bg {
          background: $white-gray;
          margin-top: 6rem;
        }

        &:first-child {
          padding-top: 0;
        }
      }
    }


    @include res(md) {
      margin-top: 6rem;
    }
  }


  // subPage-section
  &-section {
    // subPage-section-header
    &-header {
      margin-bottom: 1.067rem;

      &.center {
        text-align: center;
      }
    }

    // subPage-section-title
    &-title {
      font-size: $font-size-more-medium;
      font-weight: $font-weight-normal;
      color: $text-dark;

      strong {
        font-weight: $font-weight-semibold;
      }

      &.sm {
        font-size: $font-size-sm;
      }

      @include res(sm) {
        font-size: $font-size-most-medium;
      }
      @include res(md) {
        font-size: $font-size-large;
      }
    }

    // subPage-section-desc
    &-desc {
      font-size: $font-size-xs;
      margin-top: 1.067rem;
      color: $text-base;

      &.sm {
        font-size: $font-size-xs;
        margin-top: .6667rem;
        padding-bottom: .933rem;
      }

      @include res(md) {
        font-size: $font-size-sm;
      }
    }

    // subPage-section-body
    &-body {
      margin-top: 2rem;

      &.no-margin {
        margin-top: 0;
      }

      &.center {
        text-align: center;
      }

      @include res(md) {
        margin-top: 4.375rem;
      }
    }
  }
}