<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>UDRMS 관리자</title>
<meta name="keyword" content="UDRMS 관리자, UDRMS, RMS, 관리자, 어드민, 솔루션">
<meta name="description" content="UDRMS 관리자 페이지입니다.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- IE최신버전으로 보기 -->
<link rel="icon" href="/ud/rms/common/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/ud/rms/common/img/favicon_32.png" sizes="32x32">
<link rel="icon" href="/ud/rms/common/img/favicon_64.png" sizes="64x64">
<link rel="stylesheet" href="../../assets/scss/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../../assets/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#header").load("../inc/header.html");
});
</script>
</head>
<body>
  <div id="app">
    <div id="header"></div>
    
    <div class="page pg-member">
      <section class="page__tit">
        <h2>결제 리스트</h2>
        <div class="page__breadcrumb">
          <ul>
            <li>결제 관리</li>
            <li>결제 리스트</li>
          </ul>
        </div>
      </section>
      <!--content-->

      <section class="search">
        <div class="search__base">
          <h3 class="search__base--tit">검색</h3>
          <el-date-picker
            v-model="datepick"
            type="daterange"
            start-placeholder="시작일 선택"
            end-placeholder="종료일 선택"
            default-value="2020-08-01">
          </el-date-picker>
          <el-radio-group v-model="dateFilter">
            <el-radio-button label="오늘"></el-radio-button>
            <el-radio-button label="1주"></el-radio-button>
            <el-radio-button label="1개월"></el-radio-button>
            <el-radio-button label="3개월"></el-radio-button>
            <el-radio-button label="전체"></el-radio-button>
          </el-radio-group>
        </div>
        <div class="search__detail">
          <div class="grid">
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="customerInfo">고객사</label>
                </dt>
                <dd>
                  <el-select v-model="customerInfo" placeholder="선택">
                    <el-option
                      v-for="item in customerInfoList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="memberType">회원 타입</label>
                </dt>
                <dd>
                  <el-select v-model="memberType" placeholder="선택">
                    <el-option
                      v-for="item in memberTypeList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="businessType">사업자 타입</label>
                </dt>
                <dd class="dd-bg">                  
                  <el-radio-group v-model="businessType">
                    <el-radio label="all">전체</el-radio>
                    <el-radio label="company">사업자</el-radio>
                    <el-radio label="personal">개인</el-radio>
                  </el-radio-group>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="userId">회원 아이디</label>
                </dt>
                <dd>
                  <input type="text" id="userId" class="inp-txt" placeholder="회원 아이디 입력">
                </dd>
              </dl>
            </div>

            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="parentId">고객 아이디</label>
                </dt>
                <dd>
                  <input type="text" id="parentId" class="inp-txt" placeholder="고객 아이디 입력">
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="userName">회원 이름</label>
                </dt>
                <dd>
                  <input type="text" id="userName" class="inp-txt" placeholder="홍길동">
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="phoneNumb">휴대폰 번호</label>
                </dt>
                <dd>
                  <input type="tel" id="phoneNumb" class="inp-txt" placeholder="01011110000">
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="pgType">PG 타입</label>
                </dt>
                <dd>
                  <el-select v-model="pgType" placeholder="선택">
                    <el-option
                      v-for="item in pgTypeList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="requestType">결제 요청 타입</label>
                </dt>
                <dd>
                  <el-select v-model="requestType" placeholder="선택">
                    <el-option
                      v-for="item in requestTypeList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="payMethod">결제 수단</label>
                </dt>
                <dd>
                  <el-select v-model="payMethod" placeholder="선택">
                    <el-option
                      v-for="item in payMethodList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="payState">결제 상태</label>
                </dt>
                <dd>
                  <el-select v-model="payState" placeholder="선택">
                    <el-option
                      v-for="item in payStateList"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="search__btns">
          <button class="btn-md btn-light btn-collapse">
            <span>상세검색</span>
            <i class="xi-angle-down-min"></i>
          </button>
          <button class="btn-md btn-light-warn">
            <i class="xi-refresh"></i>
          </button> 
          <button class="btn-md btn-dark">
            <i class="xi-search"></i>
            <span>검색</span>
          </button>
        </div>
      </section>

      <section class="data-tbl">
        <div class="data-tbl__filter">
          <div class="data-tbl__filter--left">
            <p class="data-tbl__count">총 <b>2</b>건</p>
          </div>
          <div class="data-tbl__filter--right">
            <button class="btn-md btn-primary" @click="addMemberModal = true">
              <i class="xi-user-plus-o"></i>
              <span>결제 등록</span>
            </button>
          </div>          
        </div>
        <div class="data-tbl__body">
          <table>
            <colgroup>
              <col width="40px">
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>고객 아이디</th>
                <th>회원 아이디 (이름)</th>
                <th>결제 구매자 정보</th>
                <th>결제 금액 정보</th>
                <th>결제 정보</th>
                <th>트리 정보</th>
                <th>결제일</th>
                <th class="ta-center">관리</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2</td>
                <td class="txt-bold">ciderpay</td>
                <td>
                  <b>ciderpayre</b>
                  <p class="mgt-sm">(판매왕)</p>
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="60">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">이름</th>
                      <td>홍길동</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">휴대폰</th>
                      <td>01065654455</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">이메일</th>
                      <td>hongildong@gmail.com</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <b>9,300</b>원
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="80">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">요청 타입</th>
                      <td>원격결제</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">결제 상태</th>
                      <td>
                        <span class="txt-success">결제 완료</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">결제 수단</th>
                      <td>가상계좌</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="60">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">총판</th>
                      <td>ciderpayms</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">대리점</th>
                      <td>ciderpayag</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">리셀러</th>
                      <td>ciderpayre</td>
                    </tr>
                  </table>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td class="txt-bold">ciderpay</td>
                <td>
                  <b>purpleblue42</b>
                  <p class="mgt-sm">(김보라)</p>
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="60">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">이름</th>
                      <td>김은비</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">휴대폰</th>
                      <td>01032321212</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">이메일</th>
                      <td>jessieunbi@naver.com</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <b>24,300</b>원
                  <p class="txt-danger mgt-sm">
                    <b>24,300</b>원 취소
                  </p>
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="80">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">요청 타입</th>
                      <td>앱결제</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">결제 상태</th>
                      <td>
                        <span class="txt-danger">결제 완료</span>
                      </td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">결제 수단</th>
                      <td>카카오페이</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table class="tbl-opacity list-txt">
                    <colgroup>
                      <col width="60">
                      <col>
                    </colgroup>
                    <tr>
                      <th class="list-txt__line">총판</th>
                      <td>ciderpayms</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">대리점</th>
                      <td>ciderpayag</td>
                    </tr>
                    <tr>
                      <th class="list-txt__line">리셀러</th>
                      <td>ciderpayre</td>
                    </tr>
                  </table>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="data-tbl__filter">
          <div class="data-tbl__filter--left">
            <el-select v-model="boardView" placeholder="선택">
              <el-option
                v-for="item in boardViewList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div class="data-tbl__filter--right">
            <el-pagination
              layout="prev, pager, next"
              :total="30">
            </el-pagination>
          </div>
        </div>
      </section>

      <!--//content-->
    </div>

    <!-- dialog -->
    <el-dialog :visible.sync="addMemberModal" :close-on-click-modal="false" @close="cancel" class="pop--add-member">
      <div class="el-dialog__header--tit" slot="title">회원 등록</div>
      <div class="contents">
        <div class="grid">
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="customerInfo">고객사 정보</label>
              </dt>
              <dd>
                <el-select v-model="customerInfo" placeholder="선택">
                  <el-option
                    v-for="item in customerInfoList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="parentId">상위 아이디</label>
              </dt>
              <dd>
                <input type="text" id="parentId" class="inp-txt" placeholder="상위 아이디 입력">
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="userId">회원 아이디</label>
              </dt>
              <dd>
                <input type="text" id="userId" class="inp-txt" placeholder="회원 아이디 입력">
                <button class="btn-md btn-light-primary">중복확인</button>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="userName">회원 이름</label>
              </dt>
              <dd>
                <input type="text" id="userName" class="inp-txt" placeholder="홍길동">
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="memberType">회원 타입</label>
              </dt>
              <dd>
                <el-select v-model="memberType" placeholder="선택">
                  <el-option
                    v-for="item in memberTypeList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="businessType">사업자 타입</label>
              </dt>
              <dd class="dd-bg">
                <el-radio-group v-model="popBusinessType">
                  <el-radio label="company">사업자</el-radio>
                  <el-radio label="personal">개인</el-radio>
                </el-radio-group>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="phoneNumb">휴대폰 번호</label>
              </dt>
              <dd>
                <input type="tel" id="phoneNumb" class="inp-txt" placeholder="01011110000">
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="email">이메일</label>
              </dt>
              <dd>
                <input type="email" id="email" class="inp-txt" placeholder="example@email.com">
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div slot="footer">
        <button @click="addMemberModal = false" class="btn-md btn-light">취소</button>
        <button class="btn-md btn-dark">저장</button>
      </div>
    </el-dialog>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script src="/ud/common/js/element/ko.js"></script>
<script>
ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        // mode
        screenMode: false,

        // datepick
        datepick: '',

        // date filter radio button
        dateFilter: '전체',

        // 고객사
        customerInfoList: [{
          value: 'ciderpay',
          label: '사이다페이'
        }, {
          value: 'udpay',
          label: '유디페이'
        }],
        customerInfo: '',

        // 회원 타입
        memberTypeList: [{
          value: 'ud',
          label: '본사'
        }, {
          value: 'master',
          label: '총판'
        }, {
          value: 'agent',
          label: '대리점'
        }, {
          value: 'reseller',
          label: '리셀러'
        }, {
          value: 'store',
          label: '판매점'
        }],
        memberType: '',

        // 사업자 타입
        businessType: 'all',

        // pg 타입
        pgTypeList: [{
          value: 'all',
          label: '전체'
        }, {
          value: 'jtnet',
          label: '제이티넷'
        }, {
          value: 'kcp',
          label: 'KCP'
        }, {
          value: 'payapp',
          label: '페이앱'
        }, {
          value: 'danal',
          label: '다날'
        }, {
          value: 'nice',
          label: '나이스'
        }],
        pgType: '',

        // 결제요청 타입
        requestTypeList: [{
          value: 'all',
          label: '전체'
        }, {
          value: 'api',
          label: 'API'
        }, {
          value: 'app',
          label: '앱결제'
        }, {
          value: 'remote',
          label: '원격결제'
        }, {
          value: 'link',
          label: '링크결제'
        }, {
          value: 'periodic',
          label: '정기결제'
        }],
        requestType: '',

        // 결제 수단
        payMethodList: [{
          value: 'all',
          label: '전체'
        }, {
          value: 'card',
          label: '카드'
        }, {
          value: 'mobile',
          label: '휴대폰'
        }, {
          value: 'easy',
          label: '간편결제'
        }, {
          value: 'kakao',
          label: '카카오페이'
        }, {
          value: 'naver',
          label: '네이버페이'
        }, {
          value: 'virtual',
          label: '가상계좌'
        }, {
          value: 'bank',
          label: '계좌이체'
        }],
        payMethod: '',

        // 결제 상태
        payStateList: [{
          value: 'all',
          label: '전체'
        }, {
          value: 'paid',
          label: '결제 완료'
        }, {
          value: 'cancel',
          label: '결제 취소'
        }],
        payState: '',


        // 게시물 출력 개수
        boardViewList: [{
          value: '10',
          label: '10개씩 보기'
        }, {
          value: '50',
          label: '50개씩 보기'
        }, {
          value: '100',
          label: '100개씩 보기'
        }],
        boardView: '',

        // modal
        addMemberModal: false,

        popBusinessType: 'company'
      }
    },
    methods: {
      //모달 닫기(취소)
      cancel() {
          this.modal = false
      },
    }
  })
</script>
</html>