@charset "utf-8";
/*
  _buttons.scss
*/

/* base */
%btnBase {
  @include transition(background-color .3s ease, color .3s ease);
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;

  * {
    vertical-align: middle
  }
}

// disabled
button[disabled], button[disabled]:hover {
  cursor: default;
  background: $color-light-d;
  color: $color-dark-9;
  opacity: .7;

  // dark mode
  .theme-dark & {
    background: rgba($color-dark-6, .3); 
  }
}

// size
.btn-sm {
  @extend %btnBase;
  @include font-size(12px);
  height: 34px;
  padding:8px 10px;

  // icon only
  &.btn-ico {
    padding: 7px;
    font-size: 20px;

    * {
      vertical-align: top
    }
  }
}

.btn-md {
  @extend %btnBase;
  @include font-size(15px);
  height: 42px;
  padding: 10px;

  // with icon
  i {
    @include font-size(18px);
    opacity: .7;
  }
  i ~ span {
    margin-right: 4px;
  }
}

.btn-lg {
  @extend %btnBase;
  @include font-size(16px);
  padding: 15px 40px;

  &--wide {
    @extend .btn-lg;
    width: 100%;
    padding: 15px 0;
  }
}


// colored
.btn-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover, &:focus {
    background-color: darken($color-primary, 10%);
  }
}

.btn-dark {
  background-color: $color-dark-1;
  color: $color-white;

  &:hover, &:focus {
    background-color: lighten($color-dark-1, 15%);
  }

  // dark mode
  .theme-dark & {
    background-color: $color-light-e;
    color: $color-dark-3;
  }
}


// light colored
.btn-light {
  background-color: $color-light-e;
  color: $color-dark-6;

  &:hover, &:focus {
    background-color: $color-light-d;
  }

  // dark mode
  .theme-dark & {
    background-color: $color-dark-6;
    color: $color-light-e;
  }
}

.btn-light-primary {
  background-color: $color-light-primary;
  color: $color-primary;

  &:hover, &:focus {
    background-color: $color-primary;
    color: $color-white;
  }

  // dark mode
  // .theme-dark & {
  //   background-color: rgba($color-light-primary, .2);
  // }
}

.btn-light-secondary {
  background-color: $color-light-secondary;
  color: $color-secondary;

  &:hover, &:focus {
    background-color: $color-secondary;
    color: $color-white;
  }
}

.btn-light-warn {
  background-color: $color-light-warning;
  color: $color-warning;

  &:hover, &:focus {
    background-color: $color-warning;
    color: $color-white;
  }

  // dark mode
  // .theme-dark & {
  //   background-color: rgba($color-light-warning, .2);
  // }
}

.btn-light-danger {
  background-color: $color-light-danger;
  color: $color-danger;

  &:hover, &:focus {
    background-color: $color-danger;
    color: $color-white;
  }

  // dark mode
  // .theme-dark & {
  //   background-color: rgba($color-light-danger, .2);
  // }
}