<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/page.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mj6-3"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents v-board-list">
        <!--검색-->
        <el-collapse class="bx-basic wrap-bx-search">
          <el-collapse-item title="검색" name="1" class="wrap-form">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>문의 구분</dt>
                  <dd>
                    <el-select v-model="qnaType" placeholder="문의 구분">
                      <el-option
                        v-for="item in qnatypes"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>처리 구분</dt>
                  <dd class="no-inp">
                    <el-radio-group v-model="qnaState">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="COMPLETE">처리완료</el-radio>
                      <el-radio label="CANCEL">미처리</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>등록일</dt>
                  <dd>
                    <el-date-picker
                      v-model="dates"
                      type="daterange"
                      align="right"
                      start-placeholder="시작일 선택"
                      end-placeholder="종료일 선택">
                    </el-date-picker>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="wrap-btn">
              <button class="btn btn-primary btn-search"><i class="la la-search"></i> 검색</button>
            </div>
          </el-collapse-item>
        </el-collapse>
        <!--//검색-->
        <section class="tbl-filter transparent">
          <div class="d-left">
            <div class="txt-result">
              <b class="txt-rd">2</b>개의 내역
            </div>
          </div>
        </section>
        <section class="bx-basic board">
          <div class="board-list">
            <table>
              <colgroup>
                <col width="5%">
                <col width="15%">
                <col width="50%">
                <col>
                <col>
                <col>
              </colgroup>
              <thead>
              <tr>
                <th>No.</th>
                <th>구분</th>
                <th>제목</th>
                <th>처리상태</th>
                <th>등록일</th>
                <th>처리일</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="va-mid">2</td>
                <td class="va-mid">
                  <p class="label-default label-lg">API 연동 문의</p>
                </td>
                <td class="va-mid ta-left">
                  <a href="qnadetail.html" class="board-tit">
                    <span class="clickme">javascript submit 이벤트 질문입니다.</span>
                  </a>
                </td>
                <td class="va-mid">
                  <span class="txt-rd">미답변</span>
                </td>
                <td class="va-mid">2020-07-03 17:28</td>
                <td class="va-mid"></td>
              </tr>
              <tr>
                <td class="va-mid">1</td>
                <td class="va-mid">
                  <p class="label-default label-lg">이용 문의</p>
                </td>
                <td class="va-mid ta-left">
                  <a href="qnadetail.html" class="board-tit">하루 호출 가능 갯수 제한 있는 API를 쓰는데, postman으로 테스트해도 똑같나요?</a>
                </td>
                <td class="va-mid">
                  <span class="txt-gn">답변완료</span>
                </td>
                <td class="va-mid">2020-07-03 17:28</td>
                <td class="va-mid">2020-07-04 09:22</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tbl-filter">
            <div class="d-left">
              <el-select v-model="viewList" placeholder="보기 설정" class="view-pc">
                <el-option
                  v-for="list in options"
                  :label="list.label"
                  :value="list.value">
                </el-option>
              </el-select>
            </div>
            <div class="d-right">
              <div role="pagination" class="pager">
                <div class="txt-pg">
                  <span class="current">1</span>
                  <span>3</span>
                </div>
                <button class="btn btn-line-b btn-prev"><i class="la la-angle-left"></i></button>
                <button class="btn btn-line-b btn-next"><i class="la la-angle-right"></i></button>
                <label for="goto">이동</label>
                <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
              </div>
            </div>
          </div>
        </section>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {        
        /**
         * 리스트 개수 select
         */
        options: [{
          value: 'Option1',
          label: '10개씩 보기'
        }, {
          value: 'Option2',
          label: '50개씩 보기'
        }, {
          value: 'Option3',
          label: '100개씩 보기'
        }],
        viewList: '',

        /**
         * 문의유형 select
         */
        qnatypes: [{
          value: 'Option1',
          label: '가입 문의'
        }, {
          value: 'Option2',
          label: 'API 연동 문의'
        }, {
          value: 'Option3',
          label: '이용 문의'
        }, {
          value: 'Option4',
          label: '개발요청'
        }, {
          value: 'Option5',
          label: '영업 문의'
        }, {
          value: 'Option6',
          label: '제휴 문의'
        }, {
          value: 'Option7',
          label: '기타'
        }],
        qnaType: '',

        /* 처리 구분 */
        qnaState: 'ALL',

        /* 날짜검색 */
        dates: ''
      }
    },
    methods: {}
  })
</script>
</html>