@charset "UTF-8";
/* _fonts.scss */
@import "/files/css/SpoqaHanSans-kr.css";
@import "/files/css/remixicon.css";

// 고도체 웹폰트
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
  url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
  url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  font-display: swap;
}


// GmarketSans 웹폰트
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 300;
  src: url('/files/fonts/gmarketSans/gmarketSansTTFLight.eot');
  src: url('/files/fonts/gmarketSans/gmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
  url('/files/fonts/gmarketSans/gmarketSansTTFLight.woff2') format('woff2'),
  url('/files/fonts/gmarketSans/gmarketSansTTFLight.woff') format('woff'),
  url('/files/fonts/gmarketSans/gmarketSansTTFLight.svg#GmarketSansTTFLight') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 500;
  src: url('/files/fonts/gmarketSans/gmarketSansTTFMedium.eot');
  src: url('/files/fonts/gmarketSans/gmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
  url('/files/fonts/gmarketSans/gmarketSansTTFMedium.woff2') format('woff2'),
  url('/files/fonts/gmarketSans/gmarketSansTTFMedium.woff') format('woff'),
  url('/files/fonts/gmarketSans/gmarketSansTTFMedium.svg#GmarketSansTTFMedium') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('/files/fonts/gmarketSans/gmarketSansTTFBold.eot');
  src: url('/files/fonts/gmarketSans/gmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
  url('/files/fonts/gmarketSans/gmarketSansTTFBold.woff2') format('woff2'),
  url('/files/fonts/gmarketSans/gmarketSansTTFBold.woff') format('woff'),
  url('/files/fonts/gmarketSans/gmarketSansTTFBold.svg#GmarketSansTTFBold') format('svg');
  font-display: swap;
}