<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="header" class="h-smscharge"></div>
  <div id="app">
    <!--template-->
    <div class="wrap-content">
      <div class="container">
        <div class="row">
        <!--breadcrumb-->
          <section class="page-info">
            <h2 class="tit">문자충전</h2>
            <div class="breadcrumb">
              <ul>
                <li>홈</li>
                <li>문자발송</li>
                <li>문자충전</li>
              </ul>
            </div>
          </section><!--//breadcrumb-->
          <!--페이지내용-->
          <div class="contents vue-smscharge">
            <section class="wrap-formbox">
              <div class="bx-tit">
                <h3 class="tit">문자 구매/충전하기</h3>
                <div class="right btn-txt">
                  <a href="../member/payList.html">문자충전내역 바로가기</a>
                  <i class="la la-angle-right"></i>
                </div>
              </div>
              <div class="bx-con">
                <div class="col-xs-12">
                  <dl>
                    <dt>발송가능건수</dt>
                    <dd>
                      <div class="no-inp">
                        <span class="txt-point">단문 <b>60</b>건</span>
                        <span class="txt-s">(장문 <b>20</b>건)<a href="#" class="tooltip-link block">매월 단문 50건을 무료 충전해 드립니다.</a></span>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <dl>
                    <dt>충전금액 선택 (부가세 별도)<span class="right txt-s">* 장문 1건 발송 시 단문 3건이 차감됩니다.</span></dt>
                    <dd>                          
                      <ul class="list-radio">
                        <li>
                          <el-radio v-model="chargeType" label="chargeType10">10,000원 충전 (단문 667건 제공 / 건당 15원)</el-radio>
                        </li>
                        <li>
                          <el-radio v-model="chargeType" label="chargeType30">30,000원 충전 (단문 2,069건 제공 / 건당 14원)</el-radio>
                        </li>
                        <li>
                          <el-radio v-model="chargeType" label="chargeType50">50,000원 충전 (단문 3,571건 제공 / 건당 13원)</el-radio>
                        </li>
                        <li>
                          <el-radio v-model="chargeType" label="chargeType100">100,000원 충전 (단문 7,407건 제공 / 건당 12원)</el-radio>
                        </li>
                      </ul>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <dl>
                    <dt>실결제금액</dt>
                    <dd>
                      <div class="no-inp">
                        <span class="txt-point"><b class="txt-lg">33,000</b>원</span>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <dl>
                    <dt>결제수단</dt>
                    <dd>
                      <div class="no-inp">카드결제/휴대폰결제
                        <div class="right btn-txt">
                          <a href="https://pf.kakao.com/_Ndrxmj" target="_blank" title="카카오톡 문의하기로 이동">다른 결제방법 문의하기</a>
                          <i class="la la-angle-right"></i>
                        </div>
                      </div>
                    </dd>
                    <dd>
                      <div class="txt-caution">
                        <p class="txt-s">* 충전금액의 결제취소는 결제일로부터 15일까지만 가능합니다.</p>
                        <p class="txt-s">* 다만, [잔여건수]가 충전금액의 [제공건수] 보다 부족할 경우 환불이 불가합니다.</p>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
            <div class="bottom-btn">
              <button class="btn btn-primary">결제하기</button>
            </div>
          </div><!--//페이지내용-->
        </div>
      </div>
    </div>
    <!--//template-->
  </div>
  <div id="footer"></div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * header 모바일메뉴
         */
        mbMenu: ['mEvent'],

        /**
         * 충전금액 선택 radio
         */
        chargeType: 'chargeType30',
      }
    },
    methods: {
    }
  })
</script>
</html>