<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="h-smsblock"></div>
    <!--template-->
    <div class="wrap-content">
      <div class="container">
        <div class="row">
        <!--breadcrumb-->
          <section class="page-info">
            <h2 class="tit">발송차단관리</h2>
            <div class="breadcrumb">
              <ul>
                <li>홈</li>
                <li>문자발송</li>
                <li>발송차단관리</li>
              </ul>
            </div>
          </section><!--//breadcrumb-->
          <!--페이지내용-->
          <div class="contents vue-blocklist">
            <div class="search-filter">
              <section>
                <div class="wrap-date">
                  <el-date-picker
                    v-model="sDate"
                    type="date"
                    placeholder="시작일 선택">
                  </el-date-picker>
                  <span class="date-as">~</span>
                  <el-date-picker
                    v-model="eDate"
                    type="date"
                    placeholder="종료일 선택">
                  </el-date-picker>
                </div>
                <el-radio-group v-model="setDay" class="btngroup">
                  <el-radio-button label="전체"></el-radio-button>
                  <el-radio-button label="오늘"></el-radio-button>
                  <el-radio-button label="어제"></el-radio-button>
                  <el-radio-button label="금주"></el-radio-button>
                  <el-radio-button label="전주"></el-radio-button>
                  <el-radio-button label="금월"></el-radio-button>
                  <el-radio-button label="전월"></el-radio-button>
                </el-radio-group>
              </section>
              <div class="wrap-search">
                <input type="search" class="inp-txt" placeholder="검색어 입력">
                <a class="btn-search">
                  <i class="la la-search"></i>
                </a>
              </div>
            </div>
            <div class="tbl-filter">
              <div class="txt-count">
                <span>총</span>
                <b class="txt-point">4</b>
                <span>건</span>
              </div>
              <div class="wrap-right">
                <button @click="blockModal = true" class="btn">&plus; 차단번호 직접등록</button>
              </div>
            </div>
            <section class="board-list">
              <table>
                <colgroup>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">휴대폰번호</th>
                    <th scope="col">차단일시</th>
                    <th scope="col">관리</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>010-46**-1791</td>
                    <td>2019-08-30 12:41</td>
                    <td>
                      <button @click="msg" class="btn btn-redline btn-xs">차단해제</button>
                    </td>
                  </tr>
                  <tr>
                    <td>010-46**-1791</td>
                    <td>2019-08-30 12:41</td>
                    <td>
                      <button @click="msg" class="btn btn-redline btn-xs">차단해제</button>
                    </td>
                  </tr>
                  <tr>
                    <td>010-46**-1791</td>
                    <td>2019-08-30 12:41</td>
                    <td>
                      <button @click="msg" class="btn btn-redline btn-xs">차단해제</button>
                    </td>
                  </tr>
                  <tr>
                    <td>010-46**-1791</td>
                    <td>2019-08-30 12:41</td>
                    <td>
                      <button @click="msg" class="btn btn-redline btn-xs">차단해제</button>
                    </td>
                  </tr>
                  <!--데이터 없을 경우 노출
                  <tr>
                    <td colspan="3" class="td-blank">
                      <i class="el-icon-chat-dot-round"></i>
                      <p>표시할 내용이 없습니다.</p>
                    </td>
                  </tr>-->
                </tbody>
              </table>
            </section>
            <div class="tbl-filter">
              <div role="pagination" class="pager">
                <div class="txt-pg">
                  <span class="current">1</span>
                  <span>3</span>
                </div>
                <button class="btn btn-prev"><i class="la la-angle-left"></i></button>
                <button class="btn btn-next"><i class="la la-angle-right"></i></button>
                <label for="goto">이동</label>
                <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
              </div>
            </div>
          </div><!--//페이지내용-->
        </div>
      </div>

      <!--modal-->
      <el-dialog :visible.sync="blockModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-txt">
        <div class="pop-title" slot="title">차단번호 직접 등록</em></div>
        <div class="contents">
          <div class="wrap-formbox">
            <dl>
              <dt>
                <label for="blockPhone">휴대폰번호</label>
              </dt>
              <dd>
                <input type="tel" id="blockPhone" class="inp-txt" placeholder="휴대폰번호 입력">
              </dd>
            </dl>
          </div>
          <p class="txt-s">* 등록된 번호로는 자동문자가 발송되지 않습니다.</p>
        </div>
        <div slot="footer">
            <button @click="blockModal = false" class="btn">취소</button>
            <button class="btn btn-primary">등록</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
  </div>
  <div id="footer"></div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * header 모바일메뉴
         */
        mbMenu: ['mAms'],

        /**
         * 검색 날짜
         */
        sDate: '',
        eDate: '',

        /**
         * 검색 버튼 radio
         */
        setDay: '전체',

        /**
         * modal
         */
        msgModal: false,
        blockModal: false,
      }
    },
    methods: {
      /**
       * 모달 닫기(취소)
       */
      cancel() {
          this.modal = false
      },

      /**
       * 차단해제 메시지
       */
      msg() {
        this.$confirm('차단 등록된 번호로 자동문자 발송이 다시 시작됩니다.<br>차단 설정을 해제하시겠습니까?', '차단설정 해제하기', {
          dangerouslyUseHTMLString: true,
          cancelButtonText: '취소',
          confirmButtonText: '확인'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '차단 설정이 해제되었습니다.'
          });  
        });
      }
    }
  })
</script>
</html>