<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="icon" type="image/x-icon" href="https://colaservice.com/s/favicon.ico">
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="h-sendlist"></div>
    <!--template-->
    <div class="wrap-content">
      <div class="container">
        <div class="row">
        <!--breadcrumb-->
          <section class="page-info">
            <h2 class="tit">발송내역</h2>
            <div class="breadcrumb">
              <ul>
                <li>홈</li>
                <li>문자발송</li>
                <li>발송내역</li>
              </ul>
            </div>
          </section><!--//breadcrumb-->
          <!--페이지내용-->
          <div class="contents vue-amslist">
            <div class="search-filter">
              <div class="search-date">
                <div class="wrap-date">
                  <el-date-picker
                    v-model="sDate"
                    type="date"
                    placeholder="시작일 선택">
                  </el-date-picker>
                  <span class="date-as">~</span>
                  <el-date-picker
                    v-model="eDate"
                    type="date"
                    placeholder="종료일 선택">
                  </el-date-picker>
                </div>
                <el-radio-group v-model="setDay" class="btngroup">
                  <el-radio-button label="전체"></el-radio-button>
                  <el-radio-button label="오늘"></el-radio-button>
                  <el-radio-button label="어제"></el-radio-button>
                  <el-radio-button label="금주"></el-radio-button>
                  <el-radio-button label="전주"></el-radio-button>
                  <el-radio-button label="금월"></el-radio-button>
                  <el-radio-button label="전월"></el-radio-button>
                </el-radio-group>
              </div>
              <div class="wrap-search">
                <input type="search" class="inp-txt" placeholder="검색어 입력">
                <a class="btn-search">
                  <i class="la la-search"></i>
                </a>
              </div>
            </div>
            <!--tab버튼-->
            <div class="tab-lg">
              <button class="col-xs-3 tab-lg-item active">
                <span class="txt">전체</span>
                <span class="num">38</span>
              </button>
              <button class="col-xs-3 tab-lg-item">
                <span class="txt">프린트 콜</span>
                <span class="num">26</span>
              </button>
              <button class="col-xs-3 tab-lg-item">
                <span class="txt">리마인드 콜</span>
                <span class="num">11</span>
              </button>
              <button class="col-xs-3 tab-lg-item">
                <span class="txt">수동 발송</span>
                <span class="num">1</span>
              </button>
            </div><!--//tab버튼-->
            <!-- <div class="tbl-filter">
              <button class="btn" disabled="disabled">수동문자 발송하기</button>
              <button class="btn btn-redline" disabled="disabled">선택번호 문자발송 차단하기</button>
            </div> -->
            <section class="board-list">
              <table>
                <colgroup>
                  <col width="40px">
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">
                      <label class="inp-check box" for="listAll">
                        <input id="listAll" name="listAll" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </th>
                    <th scope="col">구분</th>
                    <th scope="col">발송일시</th>
                    <th scope="col">수신</th>
                    <th scope="col">발신</th>
                    <th scope="col">문자형태</th>
                    <th scope="col">내용</th>
                    <th scope="col">비용</th>
                    <th scope="col">상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><!--check 시 부모 tr에 class 추가-->
                      <label class="inp-check box" for="list1">
                        <input id="list1" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>프린트 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791</td>
                    <td>02-6445-9999</td>
                    <td>MMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>무료</td>
                    <td><p class="txt-ing">발송대기</p></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list2">
                        <input id="list2" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>리마인드 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791</td>
                    <td>02-6445-9999</td>
                    <td>MMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>무료</td>
                    <td><p class="txt-point">발송실패</p></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list3">
                        <input id="list3" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>프린트 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791</td>
                    <td>010-1445-9999</td>
                    <td>MMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>무료</td>
                    <td><p>발송완료</p></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list3">
                        <input id="list3" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>이벤트 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791 외 <b>1,012건</b></td>
                    <td>010-1445-9999</td>
                    <td>LMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>15,180원</td>
                    <td>
                      <p class="txt-success">성공 <b>1,012</b>건</p>
                      <p class="txt-point">차단 <b>1</b>건</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list3">
                        <input id="list3" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>프린트 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791</td>
                    <td>010-1445-9999</td>
                    <td>MMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>무료</td>
                    <td><p>발송완료</p></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list3">
                        <input id="list3" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>이벤트 콜</td>
                    <td>2019-08-30 12:41</td>
                    <td>010-46**-1791 외 <b>875건</b></td>
                    <td>010-1445-9999</td>
                    <td>LMS</td>
                    <td class="btn-txt">
                      <a @click="sendMessageModal = true">내용보기</a>
                    </td>
                    <td>13,125원</td>
                    <td>
                      <p class="txt-ing">예약대기 상태</p>
                      <button class="btn btn-xs">지금발송</button>
                      <button class="btn btn-xs btn-redline">예약취소</button>
                    </td>
                  </tr>
                  <!--데이터 없을 경우 노출
                  <tr>
                    <td colspan="9" class="td-blank">
                      <i class="el-icon-chat-dot-round"></i>
                      <p>표시할 내용이 없습니다.</p>
                    </td>
                  </tr>-->
                </tbody>
              </table>
            </section>
            <div class="tbl-filter">
              <div role="pagination" class="pager">
                <div class="txt-pg">
                  <span class="current">1</span>
                  <span>3</span>
                </div>
                <button class="btn btn-prev"><i class="la la-angle-left"></i></button>
                <button class="btn btn-next"><i class="la la-angle-right"></i></button>
                <label for="goto">이동</label>
                <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
              </div>
            </div>
          </div><!--//페이지내용-->
        </div>
      </div>
      <!--modal-->
      <el-dialog :visible.sync="sendMessageModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-txt">
        <div class="pop-title" slot="title">메시지 내용 보기</em></div>
        <div class="contents">
          <div>피자헤븐 가산디지털단지점 알림<br><br>고객님! 지난 주문에 감사 드립니다.<br><br>★ 출출하실 땐 배달 빨리 해 드리는게 제일이겠죠? 지금 주문해 주시면 총알 배달 보장!!<br><br>▶ 직거래 주문 → dptest5.colaservice.com<br><br>▷ 매장 전화 : #0507#<br><br>◆ 직거래로 주문하실 때마다 매번 1,500원씩 팍팍 적립해 드립니다~<br><br>◆ 직거래로 주문하시면 무조건 콜라 하나 더 공짜로 드려요~<br><br>[배달앱으로 주문하기]   <br><br>☆ 홈페이지 : aaaaaaa<br><br>☆ 배달의 민족 : https://www.naver.com/<br><br>☆ 요기요 : https://www.naver.com/<br><br>※ 온라인 주문 시 위 경로로 편리하게 주문하세요.<br><br>기분좋은 하루 되세요. 감사합니다~<br><br>무료수신거부 : 080-870-5681</div>
        </div>
        <div slot="footer">
            <button @click="sendMessageModal = false" class="btn">확인</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * header 상점 select
         */
        storeList: [{
          value: 'Option1',
          storeName: '쏘다두마리치킨 구로점'
        }, {
          value: 'Option2',
          storeName: '쏘다피자 당산2호점'
        }, {
          value: 'Option3',
          storeName: '쏘다토스트 구로디지털점'
        }],
        value: '',

        /**
         * header 모바일메뉴
         */
        drawer: false,
        direction: 'ltr',
        mbMenu: ['mAms'],

        /**
         * 검색 날짜
         */
        sDate: '',
        eDate: '',

        /**
         * 검색 버튼 radio
         */
        setDay: '전체',

        /**
         * modal
         */
        sendMessageModal: false,
      }
    },
    methods: {
      /**
       * header 모바일메뉴
       */
      handleChange(val) {
        console.log(val);
      },

      /**
       * 모달 닫기(취소)
       */
      cancel() {
          this.modal = false
      },
    }
  })
</script>
</html>