<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="icon" type="image/x-icon" href="https://colaservice.com/s/favicon.ico">
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="h-smsset"></div>
    <!--template-->
    <div class="wrap-content">
      <div class="container">
        <div class="row">
        <!--breadcrumb-->
          <section class="page-info">
            <h2 class="tit">발송설정</h2>
            <div class="breadcrumb">
              <ul>
                <li>홈</li>
                <li>문자관리</li>
                <li>발송설정</li>
              </ul>
            </div>
          </section><!--//breadcrumb-->
          <!--페이지내용-->
          <div class="contents vue-amsset">
            <section class="wrap-formbox">
              <div class="bx-tit">
                <h3 class="tit">대표상점 지정발송</h3>
                <div @click="infoModal = true" class="btn-txt">
                  <a>안내</a>
                  <i class="la la-angle-right"></i>
                </div>
                <el-switch v-model="choiceSend" active-text="사용" inactive-text="사용안함"></el-switch>
              </div>
              <div class="bx-con">
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt><label for="multiStore">대표상점 식별정보 등록</label></dt>
                    <dd>
                      <input type="text" id="amsSetting" placeholder="상점명 또는 매장전화번호 입력">
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
            <section class="wrap-formbox">
              <div class="bx-tit">
                <h3 class="tit">프린트 콜 설정</h3>
                <el-switch v-model="printPlatform" active-text="사용" inactive-text="사용안함"></el-switch>
              </div>
              <div class="bx-con">
                <div class="col-xs-12 col-sm-2 col-md-4">
                  <dl>
                    <dt>프린트 콜 발송 시점</dt>
                    <dd>
                      <div class="no-inp">주문서 출력 즉시</div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt>프린트 콜 동일번호 발송</dt>
                    <dd>
                      <div class="no-inp list-inp">
                        <el-radio v-model="sameNumberType" label="everytime">매번</el-radio>
                        <el-radio v-model="sameNumberType" label="day">일1회</el-radio>
                        <el-radio v-model="sameNumberType" label="week">주1회</el-radio>
                        <el-radio v-model="sameNumberType" label="month">월1회</el-radio>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <dl>
                    <dt>발송 제한 번호</dt>
                    <dd>
                      <div class="no-inp list-inp">
                        <label class="inp-check" for="realNum">
                          <span class="txt">01X 모든 번호</span>
                          <input id="realNum" name="realNum" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="inp-check" for="safeNum">
                          <span class="txt">050 모든 번호</span>
                          <input id="safeNum" name="safeNum" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="inp-check" for="safeNum8">
                          <span class="txt">0508 시작 번호</span>
                          <input id="safeNum8" name="safeNum8" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
            <section class="wrap-formbox">
              <div class="bx-tit">
                <h3 class="tit">리마인드 콜 설정</h3>
                <div @click="remindModal = true" class="btn-txt">
                  <a>리마인드 콜 발송 기준</a>
                  <i class="la la-angle-right"></i>
                </div>
                <el-switch v-model="remindPlatform" active-text="사용" inactive-text="사용안함"></el-switch>
              </div>
              <div class="bx-con">
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt>리마인드 콜 동일번호 발송</dt>
                    <dd>
                      <div class="no-inp list-inp">
                        <el-radio v-model="remindNumberType" label="everytime">매번</el-radio>
                        <el-radio v-model="remindNumberType" label="day">일1회</el-radio>
                        <el-radio v-model="remindNumberType" label="week">주1회</el-radio>
                        <el-radio v-model="remindNumberType" label="month">월1회</el-radio>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt>발송요일 선택</dt>
                    <dd>
                      <div class="no-inp list-inp">
                        <el-radio v-model="dayType" label="monThu">월요일/목요일</el-radio>
                        <el-radio v-model="dayType" label="tueFri">화요일/금요일<a class="tooltip-link block" href="#">월요일 휴무 시 화/금을 선택하세요.</a></el-radio>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
            <section class="wrap-formbox">
              <div class="bx-tit">
                <h3 class="tit">발송 제한 개수</h3>
                <div @click="limitInfoModal = true" class="btn-txt">
                  <a>통신사 문자제한 정보</a>
                  <i class="la la-angle-right"></i>
                </div>
              </div>
              <div class="bx-con">
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt><label for="daySendLimitCnt">1일 발송 한도 제한</label></dt>
                    <dd>
                      <input type="tel" id="daySendLimitCnt" class="num-txt" placeholder="0">
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <dl>
                    <dt><label for="monthRecvLineLimitCnt">월간 최대 수신회선 제한</label></dt>
                    <dd>
                      <input type="tel" id="monthRecvLineLimitCnt" class="num-txt" placeholder="0">
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
            <div class="bottom-btn">
              <button class="btn">발송개시</button>
              <!--
              <button class="btn btn-disable" disabled="disabled"><i class="la la-check"></i> 발송개시완료</button>-->
              <button class="btn btn-primary">저장하기</button>
            </div>
          </div><!--//페이지내용-->
        </div>
      </div>

      <!--modal-->
      <el-dialog :visible.sync="infoModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-txt">
        <div class="pop-title" slot="title">대표상점 지정발송 <em>(다중상점 운영 시 체크 필수)</em></div>
        <div class="contents">
          <p>하나의 사업자로 여러 상점을 동시에 운영하고 계신가요?</p>
          <p>만약 다중상점을 운영하시면서 특정 프린터에서 여러 상점의 주문서를 출력하실 경우 콜라서비스 홍보문자 발송 시 다른 상점의 프린트콜이 잘못 나가는 문제가 생길 수 있습니다.</p>
          <p>이에 대한 간편한 해결책이 있습니다.</p>
          <div class="bx-gry">
            <ul class="list-type decimal">
              <li>프린터에서 출력되는 주문서 정보를 확인하시고, 대표상점 만의 <u>상점명</u> 또는 <u>매장전화번호</u> 중 하나를 입력/저장하세요.</li>
              <li>대표상점 지정발송 설정 버튼을 On으로 두시면 대표상점의 주문에 대한 프린트콜만 자동으로 선별 발송됩니다.</li>
              <li>대표상점 식별정보가 등록되더라도 지정발송 설정 OFF 시에는 출력되는 모든 주문서에 대해 프린트콜이 발송됩니다.</li>
            </ul>
          </div>
          <p>※ 다중상점 대응 종합 시스템은 2019년 3분기 중 출시 예정입니다.</p>
        </div>
        <div slot="footer">
            <button @click="infoModal = false" class="btn">확인</button>
        </div>
      </el-dialog>

      <el-dialog :visible.sync="remindModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-txt">
        <div class="pop-title" slot="title">리마인드 콜 발송 기준</div>
        <div class="contents">
          <ul class="list-type">
            <li>
              <b>발송요일/발송한도</b>
              <ul>
                <li>- 매주 월/목 or 화/금(주 2일 발송)</li>
                <li>- 매월 최대 9일 발송(일 최대 340건 발송)</li>
              </ul>
            </li>
            <li>
              <b>발송 대상 기준</b>
              <ul>
                <li>- 이번주 월~목 주문자 → 다음주 월 or 화 (선택)</li>
                <li>- 이번주 금~일 주문자 → 다음주 목 or 금 (선택)</li>
              </ul>
            </li>
            <li>
              <b>식사시간대 자동 매칭 기준</b>
              <ul>
                <li>- 오후 3시 이전 주문자 → 오전 11시에 발송</li>
                <li>- 오후 3시 이후 주문자 → 오후 5시에 발송</li>
              </ul>
            </li>
          </ul>
          <p>수신거부를 신청했거나, 050 안심번호로만 주문한 고객들은 발송대상에서 제외됩니다.</p>
        </div>
        <div slot="footer">
            <button @click="remindModal = false" class="btn">확인</button>
        </div>
      </el-dialog>

      <el-dialog :visible.sync="limitInfoModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-txt">
        <div class="pop-title" slot="title">통신사 문자제한 정보 <em>(문자발송 무제한 요금제 기준)</em></div>
        <div class="contents">
          <el-tabs type="card">
            <el-tab-pane label="SKT">
              <div class="bx-gry">
                <ul class="list-type">
                  <li>하루 최대발송가능건수 : 499건 (* 월 10회까지 가능)</li>
                  <li>1일 발송가능건수 : 200건</li>
                  <li>월 최대가능 회선수 : <strong>2,000회선</strong></li>
                </ul>
              </div>
              <div class="txt-info">
                <p>위 기준을 초과해서 문자가 발송될 경우 통신사의 서비스 이용제한 조치와 추가요금이 부과될 수 있습니다.</p>
                <p>따라서, 개인용 문자사용량을 감안하셔서 발송 한도를 설정하세요.</p>
              </div>
            </el-tab-pane>
            <el-tab-pane label="KT">
              <div class="bx-gry">
                <ul class="list-type">
                  <li>하루 최대발송가능건수 : 499건 (* 월 10회까지 가능)</li>
                  <li>1일 발송가능건수 : 149건</li>
                  <li>월 최대가능 회선수 : 2,000회선 <strong>(* 5G 아닌 LTE 요금제의 경우 3,000회선)</strong></li>
                </ul>
              </div>
              <div class="txt-info">
                <p>위 기준을 초과해서 문자가 발송될 경우 통신사의 추가요금이 부과됩니다.</p>
                <p>따라서, 개인용 문자사용량을 감안하셔서 발송 한도와 수신회선 한도를 설정하세요.</p>
              </div>
            </el-tab-pane>
            <el-tab-pane label="LG">
              <div class="bx-gry">
                <ul class="list-type">
                  <li>하루 최대발송가능건수 : 499건 (* 월 10회까지 가능)</li>
                  <li>1일 발송가능건수 : 199건</li>
                  <li>월 최대가능 회선수 : <strong>2,000회선</strong></li>
                </ul>
              </div>
              <div class="txt-info">
                <p>위 기준을 초과해서 문자가 발송될 경우 통신사의 서비스 이용제한 조치와 추가요금이 부과될 수 있습니다.</p>
                <p>따라서, 개인용 문자사용량을 감안하셔서 발송 한도와 수신회선 한도를 설정하세요.</p>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div slot="footer">
            <button @click="limitInfoModal = false" class="btn">확인</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * header 상점 select
         */
        storeList: [{
          value: 'Option1',
          storeName: '쏘다두마리치킨 구로점'
        }, {
          value: 'Option2',
          storeName: '쏘다피자 당산2호점'
        }, {
          value: 'Option3',
          storeName: '쏘다토스트 구로디지털점'
        }],
        value: '',

        /**
         * header 모바일메뉴
         */
        drawer: false,
        direction: 'ltr',
        mbMenu: ['mAms'],

        /**
         * switch
         */
        choiceSend: false,
        printPlatform: true,
        remindPlatform: true,

        /**
         * radio
         */
        sameNumberType: 'everytime',
        remindNumberType: 'everytime',
        dayType: 'monThu',

        /**
         * modal
         */
        infoModal: false,
        remindModal: false,
        limitInfoModal: false,
      }
    },
    methods: {
      /**
       * header 모바일메뉴
       */
      handleChange(val) {
        console.log(val);
      },

      /**
       * 모달 닫기(취소)
       */
      cancel() {
          this.modal = false
      },
    }
  })
</script>
</html>