<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/pf/pf_ud/common/js/countUp.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mj3"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents v-paylist">
        <!--상세검색-->
        <el-collapse class="bx-basic wrap-bx-search" accordion>
          <el-collapse-item title="검색" name="1" class="wrap-form">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchName">판매점명</label>
                  </dt>
                  <dd>
                    <input type="text" id="searchName" class="inp-box" placeholder="판매점명을 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchId">판매점 ID</label>
                  </dt>
                  <dd>
                    <input type="text" id="searchId" class="inp-box" placeholder="판매점 ID를 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchPhone">휴대폰 번호</label>
                  </dt>
                  <dd>
                    <input type="tel" id="searchPhone" class="inp-box" placeholder="휴대폰 번호를 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="product">상품명</label>
                  </dt>
                  <dd>
                    <input type="text" id="product" class="inp-box" placeholder="상품명을 입력해 주세요.">
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="adjustStatus">정산 상태</label>
                  </dt>
                  <dd id="adjustStatus">
                    <el-select v-model="adjustStatus" placeholder="선택">
                      <el-option
                        v-for="item in adjustStatusList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="payType">결제 수단</label>
                  </dt>
                  <dd id="payType">
                    <el-select v-model="payType" placeholder="선택">
                      <el-option
                        v-for="item in payTypeList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12 col-md-3">
                <dl>
                  <dt>
                    <label for="payStatus">결제 상태</label>
                  </dt>
                  <dd class="no-inp" id="payStatus">
                    <el-radio-group v-model="payStatus">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="TRUE">결제 완료</el-radio>
                      <el-radio label="FALSE">결제 취소</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <dl>
                  <dt>결제 기간</dt>
                  <dd>
                    <el-date-picker
                      v-model="datepicker"
                      type="daterange"
                      align="right"
                      start-placeholder="시작일 선택"
                      end-placeholder="종료일 선택"
                      default-value="2019-11-15">
                    </el-date-picker>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12 col-md-3 group-radio">
                <dl>
                  <dt class="txt-hidden">결제일 설정</dt>
                  <dd>
                    <el-radio-group v-model="btnType">
                      <el-radio-button label="today">당일</el-radio-button>
                      <el-radio-button label="week">1주</el-radio-button>
                      <el-radio-button label="month1">1개월</el-radio-button>
                      <el-radio-button label="month3">3개월</el-radio-button>
                      <el-radio-button label="all">전체</el-radio-button>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="wrap-btn">
              <button class="btn btn-primary btn-search"><i class="la la-search"></i> 검색</button>
            </div>
          </el-collapse-item>
        </el-collapse>
        <!--통계 위젯-->
        <section class="row wrap-widget">
          <div class="col-xs-12">
            <div class="widget-rd">
              <dl class="main-stat colored">
                <dt>
                  <span>결제 마진</span>
                  <el-tooltip class="item" effect="light" content="완료된 결제건 기준입니다." placement="top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                      <path fill="#fff" fill-rule="evenodd" d="M6 0a6 6 0 1 1 0 12A6 6 0 0 1 6 0zm1 4.693H5V10h2V4.693zM7 2H5v1.882h2V2z" opacity=".5"/>
                    </svg>
                  </el-tooltip>
                </dt>
                <dd class="txt-count">
                  <span id="payTotal"></span><small>원</small>
                </dd>
              </dl>
              <dl class="main-stat ta-center">
                <dt>총 건수</dt>
                <dd class="txt-count">
                  <span id="payPer"></span><small>건</small>
                </dd>
              </dl>
              <dl class="main-stat ta-center">
                <dt>결제 완료</dt>
                <dd class="txt-count">
                  <span id="paySub1"></span><small>원</small>
                </dd>
              </dl>
              <dl class="main-stat ta-center">
                <dt>결제 취소</dt>
                <dd class="txt-count">
                  <span id="paySub2"></span><small>원</small>
                </dd>
              </dl>
            </div>
          </div>
        </section>
        <!--버튼영역-->
        <div class="tbl-filter transparent">
          <div class="d-right">
            <button class="btn btn-gy"><i class="la la-download"></i> 엑셀 다운로드</button>
          </div>
        </div>
        <section class="sticky-container">
          <!--목록-->
          <section class="bx-basic board">
            <div class="board-list">
              <table>
                <colgroup>
                  <col width="5%">
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead>
                <tr>
                  <th>No.</th>
                  <th>판매점</th>
                  <th>결제 상품</th>
                  <th>결제 일시</th>
                  <th>상태</th>
                  <th>결제 수단</th>
                  <th>결제 금액</th>
                  <th>마진 (마진율)</th>
                  <th>정산</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="va-mid">4</td>
                  <td class="va-mid ta-left">
                    <p class="fw-md">사피엔스스토어</p>
                    <span class="txt-id">sapiens88</span>
                  </td>
                  <td class="va-mid">리빙/홈데코 외 2건</td>
                  <td class="va-mid">2020.06.29 08:24:15</td>
                  <td class="va-mid">
                    <b class="txt-rd">결제취소</b>
                    <p class="txt-rd txt-sm">2020.06.29 10:26:27</p>
                  </td>
                  <td class="va-mid">신용카드-온라인</td>
                  <td class="va-mid">
                    <b>38,520원</b>
                  </td>
                  <td class="va-mid">
                    <p class="fw-md">971원</p>
                    <span class="txt-id">(2.97%)</span>
                  </td>
                  <td class="va-mid">
                    <button id="btnOpen" class="btn btn-xs btn-line-point clickme">정산 정보</button>
                  </td>
                </tr>
                <tr>
                  <td class="va-mid">3</td>
                  <td class="va-mid ta-left">
                    <p class="fw-md">찰리홈</p>
                    <span class="txt-id">charliehome</span>
                  </td>
                  <td class="va-mid">페이 선불충전</td>
                  <td class="va-mid">2020.06.28 05:10:21</td>
                  <td class="va-mid">
                    <b class="txt-gn">결제완료</b>
                  </td>
                  <td class="va-mid">신용카드-대면</td>
                  <td class="va-mid">
                    <b>2,800원</b>
                  </td>
                  <td class="va-mid">
                    <p class="fw-md">67원</p>
                    <span class="txt-id">(2.4%)</span>
                  </td>
                  <td class="va-mid">
                    <button class="btn btn-xs btn-line-point">정산 정보</button>
                  </td>
                </tr>
                <tr>
                  <td class="va-mid">2</td>
                  <td class="va-mid ta-left">
                    <p class="fw-md">네이트샵</p>
                    <span class="txt-id">shopnate</span>
                  </td>
                  <td class="va-mid">상품권</td>
                  <td class="va-mid">2020.06.27 15:33:53</td>
                  <td class="va-mid">
                    <b class="txt-gn">결제완료</b>
                  </td>
                  <td class="va-mid">가상계좌</td>
                  <td class="va-mid">
                    <b>57,800원</b>
                  </td>
                  <td class="va-mid">
                    <p class="fw-md">1,040원</p>
                    <span class="txt-id">(1.8%)</span>
                  </td>
                  <td class="va-mid">
                    <button class="btn btn-xs btn-line-point">정산 정보</button>
                  </td>
                </tr>
                <tr>
                  <td class="va-mid">1</td>
                  <td class="va-mid ta-left">
                    <p class="fw-md">지구별의상점</p>
                    <span class="txt-id">earthplanetstore</span>
                  </td>
                  <td class="va-mid">생활용품</td>
                  <td class="va-mid">2020.06.23 11:44:35</td>
                  <td class="va-mid">
                    <b class="txt-gn">결제완료</b>
                  </td>
                  <td class="va-mid">휴대폰</td>
                  <td class="va-mid">
                    <b>9,700원</b>
                  </td>
                  <td class="va-mid">
                    <p class="fw-md">242원</p>
                    <span class="txt-id">(2.5%)</span>
                  </td>
                  <td class="va-mid">
                    <button class="btn btn-xs btn-line-point">정산 정보</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tbl-filter">
              <div class="d-left">
                <el-select v-model="viewList" placeholder="보기 설정" class="view-pc">
                  <el-option 
                    v-for="list in options"
                    :key="list.value"
                    :label="list.label"
                    :value="list.value">
                  </el-option>
                </el-select>
              </div>
              <div class="d-right">
                <div role="pagination" class="pager">
                  <div class="txt-pg">
                    <span class="current">1</span>
                    <span>3</span>
                  </div>
                  <button class="btn btn-line-b btn-prev"><i class="la la-angle-left"></i></button>
                  <button class="btn btn-line-b btn-next"><i class="la la-angle-right"></i></button>
                  <label for="goto">이동</label>
                  <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
                </div>
              </div>
            </div>
          </section>
          <!--우측영역-->
          <div class="bx-right sticky">
            <section id="bxOpen" class="bx-basic width-sm">
              <h3 class="bx-tit">
                <span class="tit">정산 정보</span>
                <button id="btnClose" class="btn-txt"><i class="las la-times"></i></button>
              </h3>
              <div class="bx-con">
                <div class="wrap-form horizon">
                  <dl>
                    <dt>수수료율</dt>
                    <dd class="no-inp">3.96%</dd>
                  </dl>
                  <dl>
                    <dt>정산 금액</dt>
                    <dd class="no-inp">54,960</dd>
                  </dl>
                  <dl>
                    <dt>정산 예정일</dt>
                    <dd class="no-inp">2020-07-30</dd>
                  </dl>
                  <dl>
                    <dt>정산 상태</dt>
                    <dd class="no-inp">
                      <span class="txt-ing">정산 대기</span>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script src="/pf/pf_ud/common/js/element/ko.js"></script>
<script>
ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * 결제수단 select
         */
        payTypeList: [{
          value: 'Option1',
          label: '전체'
        }, {
          value: 'Option2',
          label: '카드'
        }, {
          value: 'Option3',
          label: '휴대폰'
        }, {
          value: 'Option4',
          label: '가상계좌'
        }, {
          value: 'Option5',
          label: '계좌이체'
        }, {
          value: 'Option6',
          label: '간편결제'
        }],
        payType: '',

        /* 결제상태 */
        payStatus: 'ALL',

        /* 정산상태 */
        adjustStatusList: [{
          value: 'Option1',
          label: '전체'
        }, {
          value: 'Option2',
          label: '정산 대기'
        }, {
          value: 'Option3',
          label: '정산 완료'
        }, {
          value: 'Option4',
          label: '보류'
        }],
        adjustStatus: '',

        /* 날짜 선택 */
        searchDate: 'month',
        datepicker: '',
        btnType: 'all',
        
        /**
         * 리스트 개수 select
         */
        options: [{
          value: 'Option1',
          label: '10개씩 보기'
        }, {
          value: 'Option2',
          label: '50개씩 보기'
        }, {
          value: 'Option3',
          label: '100개씩 보기'
        }],
        viewList: '',

      }
    },
    methods: {
      /* collapse */
      handleChange(val) {
        console.log(val);
      }
    }
  })
</script>
<script type="text/javascript">
  //금액 카운트
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : '' 
  };

  /**
  [0] 카운트를 보여줄 ID
  [1] 시작 카운트
  [2] 종료 카운트
  [3] 소수점
  [4] 시작 ~ 종료 까지 실행 시간
  [5] 옵션
  */

  let payTotal = new CountUp("payTotal", 0, 4189100, 0, 1.5, options);
  payTotal.start();
  let payPer = new CountUp("payPer", 0, 253, 0, 1.5, options);
  payPer.start();
  let paySub1 = new CountUp("paySub1", 0, 4068810, 0, 1.5, options);
  paySub1.start();
  let paySub2 = new CountUp("paySub2", 0, 120290, 0, 1.5, options);
  paySub2.start();

</script>
</html>