@charset "UTF-8";
/* _reset.scss */

//  Reset Style
// --------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0; padding: 0; border: 0; vertical-align: baseline; box-sizing:border-box;
}
// Set html5 elements to block
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section,summary{display:block;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,font,img,ins,q,s,samp,strike,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none; margin:0; padding:0;}
html { -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{position:relative;word-break:break-all;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-text-size-adjust:100%;}
header,h1{font-size:100%;}
caption,legend{position:absolute;top:-9999px;left:-9999px;visibility:hidden;width:0;height:0;font-size:0;overflow:hidden;}
caption{display:none;}
img{vertical-align:top;border:none;}
select,input{vertical-align:top;border:0px;border-radius:0;background-color:transparent;box-shadow: none;}
hr{display:none;border:0 none;}
ol,ul,ul li{list-style:none;padding:0;margin:0;}
dl, dt, dd{padding:0; margin:0;}
em{font-style:normal;}
menu li{list-style:none;}
address{font-style:normal;display:inline;}
button{cursor:pointer;border:0px;border-radius:0;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button:active{ outline:none;}
//button:focus{ outline:none;}
table{border-spacing:0;border-collapse:collapse;}
input,textarea,keygen,select,button{ font-family: inherit; font-size: inherit; line-height: inherit;}
strong{font-weight:800;}
dfn{font-style:normal;}
// Link Style
a,a:hover,a:link,a:visited,a:active,a:focus{text-decoration:none;color:inherit;cursor:pointer;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
// Forms
fieldset{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select,input[type=radio],input[type=submit],input[type=search]{cursor:pointer;border:0px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,input[type=date]::-webkit-inner-spin-button,input[type=date]::-webkit-outer-spin-button{ -webkit-appearance: none; margin: 0;}
input[type=date]::-webkit-calendar-picker-indicator {color:transparent;background:none;z-index:1;}
textarea{width:100%;border:none;background:none;resize: none;color:$color-text-regular;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;}
img{max-width:100%;height:auto;vertical-align:top;-ms-interpolation-mode:bicubic;}
small{font-size:88%;font-weight:400;color:inherit;}


//  Help Style
// --------------------------------------------------

// only screen reader
.invisible {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

// text decoration
.under {
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}
.del {
  text-decoration: line-through;
}
.en{
  letter-spacing: 0 !important;
}
.link-hover{
  &:hover,
  &:focus,
  &:active{
    color: $color-primary;
  }
}


// margin
.mg{
  // top
  &t0 {
    margin-top: 0;
  }
  &t5{
    margin-top: 5px;
  }
  &t10{
    margin-top: 10px;
  }
  &t15{
    margin-top: 15px;
  }
  &t20{
    margin-top: 20px;
  }

  // bottom
  &b15{
    margin-bottom: 15px !important;
  }

  //left
  &l5{
    margin-left:5px !important;
  }
  &l10{
    margin-left:10px !important;
  }
  &l20{
    margin-left:20px !important;
  }
}

// cell width
.w10 {
  width:10%
}

.w30 {
  width: 30%;
}

.w100 {
  width: 100%;
}

.border {
  border: 1px solid $border-color-lighter;
}

// additional style
.pull{
  &-left{
    float: left;
    display: inline-block;
  }
  &-right{
    float: right;
    display: inline-block;
  }
}

.text{
  &-left{
    text-align: left !important;
  }
  &-center{
    text-align: center !important;
  }
  &-right{
    text-align: right !important;
  }
}

.vertical{
  &-mid{
    vertical-align: middle !important;
  }
}

.hand {
  cursor: pointer;
}

@mixin btnActive($shadowColor){
	&:active,
	&:focus,
	&:hover,
	&.active{
		@include prefix(box-shadow, 0px 0px 4px 0px rgba($shadowColor, 0.3), webkit ms moz o);
	}
}


//  Custom Animation Style
// --------------------------------------------------

// use of keyframes mixin
@include keyframes(shadow-pulse1) {
  0% { box-shadow: 0 0 0 0px rgba($color-primary, 0.3); }
  100% { box-shadow: 0 0 0 12px rgba($color-primary, 0); }
}
@include keyframes(shadow-sm-pulse1) {
  0% { box-shadow: 0 0 0 0px rgba($color-primary, 0.3); }
  100% { box-shadow: 0 0 0 5px rgba($color-primary, 0); }
}
@include keyframes(shadow-pulse2) {
  0% {box-shadow: 0 0 0 0px rgba($color-primary, 0.3);}
  100% {box-shadow: 0 0 0 12px rgba($color-primary, 0);}
}
@include keyframes(shadow-pulse3) {
  0% { box-shadow: 0 0 0 0px rgba($color-danger, 0.3);}
  100% { box-shadow: 0 0 0 12px rgba($color-danger, 0);}
}
@include keyframes(shadow-pulse4) {
  0% { box-shadow: 0 0 0 0px rgba($color-text-regular, 0.3); }
  100% { box-shadow: 0 0 0 12px rgba($color-text-regular, 0); }
}

// menu hover animaiton
@include keyframes(burger-hover) {
  0% { width: 100%; }
  50% { width: 50%; }
  100% { width: 100%;}
}

// tv box icon animation
@include keyframes(icon-ani) {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}

// arrow icon animation
@include keyframes(arrow-icon-ani) {
  0% {margin-left:0px;}
  50% {margin-left:7px;}
  100% {margin-left:0px;}
}
// titBox bg moving animation
@include keyframes(bg-ani) {
  0% { background-position: 50% 45%; background-size: 100%; }
  50% { background-position: 50% 50%; background-size: 95%; }
  100%{ background-position: 50% 45%; background-size: 100%; }
}

// page loader transition
@-webkit-keyframes load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
