<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="./sendList.html" class="ams nuxt-link-active"><span>메시지관리</span></a>
      <a href="../board/list.html" class="info"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li class="on">
          <a href="./sendList.html">발송내역</a>
        </li>
        <li>
          <a href="./chargeList.html">충전내역</a>
        </li>
        <li>
          <a href="./setting.html">자동메시지 설정</a>
        </li>
        <li>
          <a href="./dispatch.html">일반메시지 보내기</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents ams-sendlist">
      <section role="page-info" class="title-sec">
        <h1>발송내역</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li>메시지관리</li>
            <li class="this-page">발송내역</li>
          </ul>
        </div>
      </section>
      <section role="data-table" class="data-table">
        <table class="table-ams-send-list">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>일시</th>
              <th>발송형태</th>
              <th>고객구분</th>
              <th>고객번호</th>
              <th>형태</th>
              <th>메시지내용</th>
              <th>상태</th>
              <th>비고</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2019-01-29 17:56:40</td>
              <td>자동</td>
              <td>콜라서비스</td>
              <td>010-8787-7878</td>
              <td>SMS</td>
              <td><a @click="sendMessageModal = true" class="btn-txt">내용 보기</a></td>
              <td>
                <span class="i-ing"><i class="el-icon-loading"></i>예약 중</span>
              </td>
              <td>
                <a class="btn-txt">취소</a>
              </td>
            </tr>
            <tr>
              <td>2019-01-12 17:56:40</td>
              <td>자동</td>
              <td>타플랫폼</td>
              <td>010-8787-7878</td>
              <td>SMS</td>
              <td><a @click="sendMessageModal = true" class="btn-txt">내용 보기</a></td>
              <td>
                <span class="i-fail"><i class="el-icon-close"></i>실패 2건</span>
              </td>
              <td>
                <a class="btn-txt">재전송</a>
              </td>
            </tr>
            <tr>
              <td>2019-01-29 17:56:40</td>
              <td>자동</td>
              <td>전체</td>
              <td>010-8787-7878</td>
              <td>SMS</td>
              <td><a @click="sendMessageModal = true" class="btn-txt">내용 보기</a></td>
              <td>
                <span class="i-ok"><i class="el-icon-check"></i>성공 124건</span>
              </td>
              <td>
                <a class="btn-txt">재전송</a>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      <section class="table-filter">
        <div role="pagination" class="pager">
          <span><b>1</b>&#47;3</span>
          <button class="btn btn-ltline btn-prev">이전</button>
          <button class="btn btn-ltline btn-next">다음</button>
          <label for="act">
            <span>이동</span>
            <input type="text" class="input-txt" id="act" name="act" placeholder="0">
          </label>
        </div>
      </section>
      <!--modal-->
      <el-dialog :close-on-click-modal="false" :lock-scroll="true" :visible.sync="sendMessageModal" @close="cancel" class="popup-layer pop-message-frame">
        <div class="wrap-pop-message">
          <div class="pop-title" slot="title">메시지 내용 보기</div>
          <div class="con-txt">
            <div>콜라서비스 골라쓰는 쿠폰 도착!<br>[Web발신]<br>(광고)콜라서비스 골라쓰는 쿠폰<br><br>눈 내리는 오늘, 콜라서비스에서 맛집 탐방하시라고 [2천원 할인] 또는 [배달비 무료] 받으실 수 있는 쿠폰 드렸어요! 속까지 뜨끈해지는 국물 요리부터 사이드 후식까지 쿠폰과 함께 지금 주문하세요 :)<br><br>▶골라쓰는 쿠폰 안내<br>1) 2천원 할인쿠폰 (5만원 이상 주문)<br>2) 배달비 무료 쿠폰 (2만원 이상 주문)<br>- 발급 ID: mooncrystalpower<br>- 기한: 2/19(수) 24시까지<br>*두 가지 쿠폰 중 하나만 사용 가능<br><br>원조홍대무뼈닭발 맛집 로드 with Colaservice<br>- 먹기 간편한 무뼈닭발<br>- 닭발의 진리 통뼈닭발<br>- 뜨끈한 국물닭발<br>https://colaservice.com/c/121<br><br>사이드 맛집<br>- 닭 알찜<br>- 참치마요김가루밥<br>- 계란찜<br>무료거부 080-877-9668</div>
          </div>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',

      /* modal */
      sendMessageModal: false
    }
  },
  methods: {
    /* 모달 닫기(취소)*/
    cancel() {
        this.modal = false
    }
  }
})
</script>
</html>