<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Pay&Api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_64.png" sizes="64x64">
  <!-- import CSS -->
  <link rel="stylesheet" href="../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <!--template-->    
    <div class="wrap-join join">
      <div class="bx-basic">
        <h1 class="tit"><div class="logo">Pay&Api</div> 리셀러 무료 회원가입</h1>
        <div class="con">
          <el-tabs v-model="tabMd1" class="tab-md">
            <!--1.개인-->
            <el-tab-pane label="개인" name="individual">
              <div class="wrap-form">
                <div class="row">
                  <div class="col-xs-12">
                    <dl>
                      <dt>이름</dt>
                      <dd>
                        <input type="text" class="inp-txt" placeholder="이름을 입력하세요.">
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </el-tab-pane>
            <!--1.사업자-->
            <el-tab-pane label="사업자" name="corporate">
              <div class="wrap-form">
                <div class="row">
                  <div class="col-xs-12">
                    <dl>
                      <dt>상호명(법인명)</dt>
                      <dd>
                        <input type="text" class="inp-txt" placeholder="상호명(법인명)을 입력하세요.">
                      </dd>
                    </dl>
                    <dl>
                      <dt>사업자등록번호</dt>
                      <dd>
                        <input type="tel" class="inp-txt" placeholder="사업자등록번호를 입력하세요.">
                      </dd>
                    </dl>
                    <dl>
                      <dt>대표자명</dt>
                      <dd>
                        <input type="text" class="inp-txt" placeholder="대표자명을 입력하세요.">
                      </dd>
                    </dl>
                    <dl>
                      <dt>사업자 구분</dt>
                      <dd class="no-inp">
                        <el-radio v-model="business" label="corporate">사업자</el-radio>
                        <el-radio v-model="business" label="individual">개인</el-radio>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
          <!--개인,사업자 공통ui-->
          <div class="wrap-form">
            <div class="row">
              <div class="col-xs-12">
                <dl>
                  <dt>휴대폰번호</dt>
                  <dd>
                    <input type="tel" class="inp-txt" placeholder="숫자만 입력하세요.">
                    <button class="btn btn-line-b">인증받기</button>
                  </dd>
                  <dd>
                    <div class="wrap-inp-time">
                      <input type="tel" class="inp-txt" placeholder="숫자만 입력하세요.">
                      <span class="txt-time">3:00</span>
                    </div>
                    <button class="btn btn-line-b">인증완료</button>
                  </dd>
                </dl>
                <dl>
                  <dt>아이디</dt>
                  <dd>
                    <input type="text" class="inp-txt" placeholder="아이디를 입력하세요.">
                    <button class="btn btn-line-b">중복확인</button>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12 col-xs-6">
                <dl>
                  <dt>비밀번호</dt>
                  <dd>
                    <input type="password" class="inp-txt" placeholder="비밀번호를 입력하세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12 col-xs-6">
                <dl>
                  <dt>비밀번호 확인</dt>
                  <dd>
                    <input type="password" class="inp-txt" placeholder="비밀번호를 한번 더 입력하세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12">
                <dl>
                  <dt>이메일</dt>
                  <dd>
                    <input type="text" class="inp-txt" placeholder="이메일 주소를 입력하세요.">
                  </dd>
                </dl>
                <dl>
                  <dt>주소</dt>
                  <dd>
                    <input type="text" class="inp-txt" placeholder="주소를 검색하세요.">
                    <button class="btn btn-line-b">주소검색</button>
                  </dd>
                  <dd>
                    <input type="text" class="inp-txt" placeholder="상세주소를 입력하세요.">
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="agree">
            <label for="agree" class="inp-check">
              <span class="txt">
                <a href="" target="_blank">서비스 이용약관</a> 및 <a href="" target="_blank">개인정보 처리방침</a>에 동의합니다.
              </span>
              <input id="agree" name="agree" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="bottom-btn">
            <button class="btn" onClick="history.back();">취소</button>
            <button class="btn btn-primary" onClick="location.href='main/main.html'">등록</button>
          </div>
        </div>
      </div>
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 탭 */
        tabMd1: 'individual',

        /* 사업자구분 radio */
        business: 'corporate'
      }
    },
    methods: {
    }
  })
</script>
</html>