<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../storeManage/menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="../ams/sendList.html" class="ams"><span>메시지관리</span></a>
      <a href="../board/list.html" class="info"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li class="on">
          <a href="./mypage.html">상점정보관리</a>
        </li>
        <li>
          <a href="./multiStore.html">다중상점관리</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents">
      <section role="page-info" class="title-sec">
        <h1>상점정보관리</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li class="this-page">상점정보관리</li>
          </ul>
        </div>
      </section>
      <div class="inner">
        <section class="wrap-formbox">
          <div class="bx-tit">
            <h3 class="tit">상점 정보 관리</h3>
          </div>
          <div class="bx-con">
            <div class="col-xs-12 col-sm-4">
              <dl>
                <dt>ID</dt>
                <dd class="no-inp">
                  <div class="txt">iwantnostrs21</div>
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">
              <dl>
                <dt>
                  <label for="pw">비밀번호</label>
                </dt>
                <dd>
                  <input class="input-txt flex1" id="pw" placeholder="비밀번호 입력" type="password" maxlength="20">
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">
              <dl>
                <dt>
                  <label for="pwok">비밀번호 확인</label>
                </dt>
                <dd>
                  <input class="input-txt flex1" id="pwok" placeholder="비밀번호 입력" type="password" maxlength="20">
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">          
              <dl>
                <dt>매장전화번호</dt>
                <dd class="no-inp">
                  <div class="txt">0266644454</div>
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-8">
              <dl>
                <dt>주소</dt>
                <dd class="no-inp">
                  <div class="txt">서울 구로구 디지털로26길 61 에이스하이엔드타워2차 1801호</div>
                </dd>
              </dl> 
            </div>
            <div class="col-xs-12 col-sm-4">            
              <dl>
                <dt>대표자명</dt>
                <dd class="no-inp">
                  <div class="txt">김포스</div>
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">            
              <dl>
                <dt>
                  <label for="ceoPhone">대표자 휴대폰</label>
                </dt>
                <dd>
                  <input class="input-txt flex1" id="ceoPhone" maxlength="11" name="ceoPhone" placeholder="대표자 휴대폰을 입력해주세요." type="tel">
                  <button class="btn btn-rdline">인증번호 발송</button>
                  <!--<button class="btn-dim">인증번호 발송</button>-->
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">
              <dl>
                <dt>
                  <label for="ceoPhoneNum">대표자 휴대폰 인증번호 입력</label>
                </dt>
                <dd>
                  <input class="input-txt flex1" id="ceoPhoneNum" maxlength="11" name="ceoPhoneNum" type="tel">
                  <button class="btn btn-rdline">인증하기</button>
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">            
              <dl>
                <dt>
                  <label for="hallManager">매장 담당자명</label>
                </dt>
                <dd>
                  <input class="input-txt" id="hallManager" type="text" value="웨하스">
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-4">
              <dl>
                <dt>
                  <label for="hallManagerPhone">매장 담당자 휴대폰</label>
                </dt>
                <dd>
                  <input class="input-txt" id="hallManagerPhone" type="tel" value="01018181813">
                </dd>
              </dl>
            </div>
          </div>
        </section>
        <section class="btn-list-bottom">
          <div class="wrap-btn-left">
            <ul class="list-type">
              <li>콜라서비스를 더 이상 이용하지 않는다면 <a href="#">콜라서비스 이용탈퇴</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-rd">저장하기</button>
        </section>
      </div>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',
    }
  },
  methods: {
  }
})
</script>
</html>