<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/page.js"></script>
  <script src="/ud/pna/common/js/countUp.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mj2"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-rslist">
        <!--상세검색-->
        <el-collapse class="bx-basic wrap-bx-search" v-model="searchDetail" @change="handleChange">
          <el-collapse-item title="상세검색" name="1">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <input type="text" class="inp-box" placeholder="상호/이름">
              </div>
              <div class="col-xs-6 col-md-3">
                <input type="text" class="inp-box" placeholder="아이디">
              </div>
              <div class="col-xs-6 col-md-3">
                <input type="tel" class="inp-box" placeholder="휴대폰번호">
              </div>
              <div class="col-xs-6 col-md-3">
                <input type="text" class="inp-box" placeholder="이메일">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <el-date-picker
                  v-model="datepicker"
                  type="daterange"
                  align="right"
                  start-placeholder="시작일 선택"
                  end-placeholder="종료일 선택"
                  default-value="2019-11-15">
                </el-date-picker>
              </div>
              <div class="col-xs-12 col-md-8 group-radio">
                <el-radio v-model="searchDate" label="month">
                  <span>당월</span>
                  <div class="wrap-btn-arr">
                    <button class="btn btn-line"><i class="la la-angle-left"></i></button>
                    <button class="btn btn-line"><i class="la la-angle-right"></i></button>
                  </div>
                </el-radio>
                <el-radio v-model="searchDate" label="today">
                  <span>오늘</span>
                  <div class="wrap-btn-arr">
                    <button class="btn btn-line"><i class="la la-angle-left"></i></button>
                    <button class="btn btn-line"><i class="la la-angle-right"></i></button>
                  </div>
                </el-radio>
                <el-radio v-model="searchDate" label="all">
                  <span>전체</span>
                </el-radio>
              </div>
            </div>
            <button class="btn btn-point btn-search"><i class="la la-search"></i> 검색</button>
          </el-collapse-item>
        </el-collapse>
        <!--통계 위젯-->
        <section class="row wrap-widget">
          <div class="col-xs-12 col-sm-4">
            <div class="widget-sk">
              <dl class="main-stat">
                <dt>리셀러</dt>
                <dd class="txt-count" id="rsAll">564</dd>
              </dl>
              <dl class="sub-stat">
                <dt>판매점</dt>
                <dd class="txt-count" id="rsStore">553</dd>
              </dl>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="widget-rd">
              <dl class="main-stat">
                <dt>총 마진</dt>
                <dd class="txt-count" id="marginAll">1,578,000<small>원</small></dd>
              </dl>
              <dl class="sub-stat">
                <dt>결제수수료 마진</dt>
                <dd class="txt-count" id="marginSub1">1,270,000<small>원</small></dd>
              </dl>
              <dl class="sub-stat">
                <dt>유료 API 마진</dt>
                <dd class="txt-count" id="marginSub2">308,000<small>원</small></dd>
              </dl>
            </div>
          </div>
        </section>
        <section class="board-list">
          <table>
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col width="150px">
            </colgroup>
            <thead>
              <tr>
                <th class="sort">
                  <span>리셀러 정보</span>
                </th>
                <th>정산정보</th>
                <th class="sort">
                  <span>판매점 총수</span>
                </th>
                <th class="sort">
                  <span>총마진</span>
                </th>
                <th>관리</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ta-left">
                  <dl class="txt-info">
                    <dt><a href="detail.html">하이젠버그 (walterwhite) <span class="label-new">NEW</span></a></dt>
                    <dd>1599-5681</dd>
                    <dd>2019.11.13</dd>
                  </dl>
                </td>
                <td>
                  <p class="txt-state fail">정산불가</p>
                  <button class="btn btn-xs btn-line-b btn-xs-info">정산안내</button>
                </td>
                <td>34</td>
                <td>15,240원</td>
                <td class="td-btns">
                  <button onclick="location.href='detail.html'" class="btn btn-xs btn-line-point"><i class="la la-cog"></i> 마진 설정</button>
                  <button class="btn btn-xs btn-point">리셀러 로그인</button>
                  <div class="btn btn-xs btn-line-b set-btn">
                    <button onclick="location.href='detail.html'">정보수정</button>
                    <button onclick="location.href='detail.html'">메모</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="ta-left">
                  <dl class="txt-info">
                    <dt>프로리셀러 (pro_reseller1)</dt>
                    <dd>010-1212-2121</dd>
                    <dd>2019.11.02</dd>
                  </dl>
                </td>
                <td>
                  <p class="txt-state success">정산가능</p>
                </td>
                <td>57</td>
                <td>105,230원</td>
                <td class="td-btns">
                  <button class="btn btn-xs btn-line-point"><i class="la la-cog"></i> 마진 설정</button>
                  <button class="btn btn-xs btn-line-point"><i class="la la-chart-bar"></i> 실적 통계</button>
                  <button class="btn btn-xs btn-point">리셀러 로그인</button>
                  <div class="btn btn-xs btn-line-b set-btn">
                    <button>정보수정</button>
                    <button>메모</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <div class="tbl-filter">
          <div class="d-left">
            <el-select v-model="viewList" placeholder="보기 설정" class="view-pc">
              <el-option 
                v-for="list in options"
                :key="list.value"
                :label="list.label"
                :value="list.value">
              </el-option>
            </el-select>
          </div>
          <div class="d-right">
            <div role="pagination" class="pager">
              <div class="txt-pg">
                <span class="current">1</span>
                <span>3</span>
              </div>
              <button class="btn btn-line-b btn-prev"><i class="la la-angle-left"></i></button>
              <button class="btn btn-line-b btn-next"><i class="la la-angle-right"></i></button>
              <label for="goto">이동</label>
              <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
            </div>
          </div>
        </div>
      </div><!--//페이지내용-->
      <!--플로팅버튼-->
      <div class="wrap-btn-float">
        <button class="btn btn-float btn-regist" onclick="location.href='add.html'"><i class="las la-user-plus"></i>리셀러 등록</button>
        <!-- <button class="btn btn-float btn-support" onclick="location.href='../support/support.html'"><i class="las la-edit"></i>문의하기</button> -->
      </div><!--//플로팅버튼-->
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 날짜 선택 */
        searchDetail: '1',
        searchDate: 'month',
        datepicker: '',
        
        /**
         * 리스트 개수 select
         */
        options: [{
          value: 'Option1',
          label: '10개씩 보기'
        }, {
          value: 'Option2',
          label: '50개씩 보기'
        }, {
          value: 'Option3',
          label: '100개씩 보기'
        }],
        viewList: '',

      }
    },
    methods: {
      /* collapse */
      handleChange(val) {
        console.log(val);
      }
    }
  })
</script>
<script type="text/javascript">
  //금액 카운트
  var options = {
    useEasing : true, 
    useGrouping : true, 
    separator : ',', 
    decimal : '.', 
    prefix : '', 
    suffix : '' 
  };

  /**
  [0] 카운트를 보여줄 ID
  [1] 시작 카운트
  [2] 종료 카운트
  [3] 소수점
  [4] 시작 ~ 종료 까지 실행 시간
  [5] 옵션
  */

  let rsAll = new CountUp("rsAll", 0, 64, 0, 1.5, options);
  rsAll.start();
  let rsStore = new CountUp("rsStore", 0, 553, 0, 1.5, options);
  rsStore.start();

  let marginAll = new CountUp("marginAll", 0, 5128157, 0, 1.5, options);
  marginAll.start();
  let marginSub1 = new CountUp("marginSub1", 0, 4386102, 0, 1.5, options);
  marginSub1.start();
  let marginSub2 = new CountUp("marginSub2", 0, 742055, 0, 1.5, options);
  marginSub2.start();

</script>
</html>