<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../storeManage/menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="../ams/sendList.html" class="ams"><span>메시지관리</span></a>
      <a href="./list.html" class="info nuxt-link-active"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li class="on">
          <a href="./list.html">공지사항</a>
        </li>
        <li>
          <a href="./faq.html">FAQ</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents board-detail">
      <section role="page-info" class="title-sec">
        <h1>공지사항</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li>이용안내</li>
            <li class="this-page">공지사항</li>
          </ul>
        </div>
      </section>
      <div class="data-table">
        <table class="table-basic">
          <colgroup>
            <col/>
          </colgroup>
          <thead>
            <tr>
              <th class="bd-tit">개인정보 처리방침 개정 안내
                <span class="bd-date">2019.06.17</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bd-con">
                <div>명품 패션 브랜드 톰 브라운을 입은 삼성전자의 폴더블폰 갤럭시Z플립이 중고거래 시장에서 되팔이가 기승을 부리고 있다. 한정판이란 점이 부각되며 최대 200만원까지 웃돈이 붙었다.<br><br>24일 전자업계에 따르면 이같은 현상을 빚자 삼성전자는 갤럭시Z플립 톰 브라운 에디션 추가 판매 가능성을 내비쳤다. 자칫 과거 '삼성 아르마니폰', 'LG 프라다폰' 등의 전철을 밟을 수 있단 우려도 나온다. 이들 휴대폰 역시 출시 당시 인기를 끌며 웃돈을 붙여<br><br>24일 전자업계에 따르면 이같은 현상을 빚자 삼성전자는 갤럭시Z플립 톰 브라운 에디션 추가 판매 가능성을 내비쳤다. 자칫 과거 '삼성 아르마니폰', 'LG 프라다폰' 등의 전철을 밟을 수 있단 우려도 나온다. 이들 휴대폰 역시 출시 당시 인기를 끌며 웃돈을 붙여 거래됐으나 이후 추가 물량이 나오자 1년여 만에 '공짜폰'으로 전락한 전례가 있어서다 거래됐으나 이후 추가 물량이 나오자 1년여 만에 '공짜폰'으로 전락한 전례가 있어서다.</div>
              </td>
            </tr>
          </tbody>
        </table>
        <section class="btn-list-bottom">
          <div class="wrap-btn-left">
            <button class="btn btn-dkline">이전글</button>
            <button class="btn btn-dkline">다음글</button>
          </div>
          <button onclick="history.back()" class="btn btn-dkline">목록으로</button>
        </section>
      </div>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',
    }
  },
  methods: {
  }
})
</script>
</html>