<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../storeManage/menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="../ams/sendList.html" class="ams"><span>메시지관리</span></a>
      <a href="./list.html" class="info nuxt-link-active"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li>
          <a href="./list.html">공지사항</a>
        </li>
        <li class="on">
          <a href="./faq.html">FAQ</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents faq-list">
      <section role="page-info" class="title-sec">
        <h1>FAQ</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li>이용안내</li>
            <li class="this-page">FAQ</li>
          </ul>
        </div>
      </section>
      <section class="table-filter">
        <el-select v-model="faqType" placeholder="문의유형 선택">
          <el-option
            v-for="item in faqTypeValue"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </section>
      <section class="wrap-con">
        <el-collapse accordion>
          <el-collapse-item name="1">
            <template slot="title">
              <span class="txt-point">결제/환불</span>상품을 한 번에 주문했는데 일부는 도착하지 않았습니다. 배송확인은 어떻게 해야 하나요?
            </template>
            <div>주문 상품 중 일부만 수령했을 경우 다음과 같은 사유로 상품이 개별 배송될 수 있으므로 참고 부탁드립니다.<br><br>1) 동일 상품이 아닌 경우<br>- 쏘다백화점, 쏘다점포, 협력업체, 트레이더몰 등 상품이 발송되는 주체별로 배송일이 다름<br>- 협력업체 상품일 경우 각 업체 별 상품 입고 및 출하시기가 다름<br><br>2) 동일 상품인 경우<br>- 상품의 특성상 대형 가전, 가구, 산지 직송 상품, 고중량의 상품 등은 중량 및 수량에 따라 1개 이상의 송장번호로 나뉘어 배송 될 수 있음<br><br>배송되지 않은 상품에 대한 배송정보는 [ MYPAGE > MY주문관리 > 주문/배송 조회]에서 확인 가능하며,<br>해당 주문/배송 조회에서 확인되지 않을 경우 고객상담 센터로 연락 부탁드립니다.</div>
          </el-collapse-item>
          <el-collapse-item name="2">
            <template slot="title">
              <span class="txt-point">회원정보</span>회원 정보 수정은 어떻게 하나요?
            </template>
            <div>회원 정보 수정 방법은 아래와 같습니다.<br>[로그인 → MyPAGE → 전체보기 → 개인정보 수정]<br><br>※ 개인정보보호를 위해 회원 정보 수정 시 본인인증 및 비밀번호 입력 후 수정 가능합니다.<br>(단, 개인정보 수정 시 이메일 간편가입, 페이스북 가입 고객은 본인인증 제외)</div>
          </el-collapse-item>
          <el-collapse-item name="3">
            <template slot="title">
              <span class="txt-point">회원정보</span>회원 정보 수정은 어떻게 하나요?
            </template>
            <div>회원 정보 수정 방법은 아래와 같습니다.<br>[로그인 → MyPAGE → 전체보기 → 개인정보 수정]<br><br>※ 개인정보보호를 위해 회원 정보 수정 시 본인인증 및 비밀번호 입력 후 수정 가능합니다.<br>(단, 개인정보 수정 시 이메일 간편가입, 페이스북 가입 고객은 본인인증 제외)</div>
          </el-collapse-item>
          <el-collapse-item name="4">
            <template slot="title">
              <span class="txt-point">회원정보</span>비밀번호가 기억나지 않아 로그인이 안되는데 어떻게 하나요?
            </template>
            <div>비밀번호는 [로그인 > 아이디/비밀번호 찾기]에서 포인트 통합회원, 간편회원, 법인회원 유형 선택 후 새로운 비밀번호 입력이 가능합니다.<br><br>소중한 개인정보 보호를 위해 비밀번호 찾기 시 회원인증을 받고 있습니다.<br><br>- 포인트 통합회원 : 아이디 입력 > 휴대폰 인증<br>- 간편회원 : 이름 + 이메일주소 > 이메일인증<br><br>포인트 통합회원 비밀번호를 변경하시면 포인트닷컴 및 포인트 제휴사 사이트 비밀번호가 함께 변경됩니다.<br><br>[비밀번호 입력 유의시항]<br>· 비밀번호는 영문과 숫자를 조합하여 8~20자리로 입력해 주세요.<br>· 아이디, 생년월일, 전화번호 등 개인정보가 포함된 비밀번호를 사용하지 않도록 주의해주세요.<br>· 동일한 숫자/문자 또는 연속된 숫자/문자 3글자 이상의 비밀번호를 입력하실 수 없습니다.</div>
          </el-collapse-item>
          <el-collapse-item name="5">
            <template slot="title">
              <span class="txt-point">서비스 이용</span>포인트란 무엇인가요?
            </template>
            <div>포인트는 전국 콜라서비스가맹점을 이용 시<br>구매금액의 일정률을 적립해 드리는 포인트 제도 입니다.<br><br>콜라서비스 포인트 적립률은 아래와 같습니다.<br>- 현금/상품권/일반카드 결제시 : 결제금액에 0.1%<br>- 제휴카드 결제시 : 결제금액에 0.7% <br>- 일부 특별할인 상품은 기본적립 및 우수고객 추가적립 제외<br><br>'포인트' 확인하는 방법은 <br>- [My PAGE > 포인트]에서 적립 포인트 및 특별적립(다운받기) 확인이 가능합니다.<br><br>※ 결제완료 후 90일 이후에는 적립의사가 없는 것으로 간주되어, 포인트 적립 기회가 사라집니다.<br>※ 포인트는 다운로드 완료 후 약 7~10일 후 사용가능하며, 각 포인트의 실제 사용가능 시점은 각각 상이합니다.<br>※ 적립일로부터 24개월 동안 유효하며, 기간 동안 사용되지 않은 포인트는 월 단위로 소멸됩니다.</div>
          </el-collapse-item>
        </el-collapse>
      </section>
      <section class="table-filter">
        <div role="pagination" class="pager">
          <span><b>1</b>&#47;3</span>
          <button class="btn btn-ltline btn-prev">이전</button>
          <button class="btn btn-ltline btn-next">다음</button>
          <label for="act">
            <span>이동</span>
            <input type="text" class="input-txt" id="act" name="act" placeholder="0">
          </label>
        </div>
      </section>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',

      /* 문의유형 */
      faqTypeValue: [{
        value: '전체',
        label: '전체'
      }, {
        value: '회원정보',
        label: '회원정보'
      }, {
        value: '서비스 이용',
        label: '서비스 이용'
      }, {
        value: '결제/환불',
        label: '결제/환불'
      }],
      faqType: '',
    }
  },
  methods: {
  }
})
</script>
</html>