<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>UDRMS 관리자</title>
<meta name="keyword" content="UDRMS 관리자, UDRMS, RMS, 관리자, 어드민, 솔루션">
<meta name="description" content="UDRMS 관리자 페이지입니다.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- IE최신버전으로 보기 -->
<link rel="icon" href="/ud/rms/common/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/ud/rms/common/img/favicon_32.png" sizes="32x32">
<link rel="icon" href="/ud/rms/common/img/favicon_64.png" sizes="64x64">
<link rel="stylesheet" href="../../assets/scss/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../../assets/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#header").load("../inc/header.html");
});
</script>
</head>
<body>
  <div id="app">

    <!--side nav-->
    <div class="main-menu">
      <div class="logo">
        <h1>UDRMS</h1>
      </div>
      <nav class="main-menu__list">
        <ul>
          <li>
            <a href="">
              <i class="ico-nav--home"></i>
              <span slot="title">홈</span>
            </a>
          </li>
          <li>
            <a href="../member/">
              <i class="ico-nav--member"></i>
              <span slot="title">회원 관리</span>
            </a>
          </li>
          <li>
            <a href="../payment/">
              <i class="ico-nav--pay"></i>
              <span slot="title">결제 관리</span>
            </a>
          </li>
          <li>
            <a href="../noti/">
              <i class="ico-nav--noti"></i>
              <span slot="title">알림 관리</span>
            </a>
          </li>
          <li class="active">
            <a href="">
              <i class="ico-nav--setting"></i>
              <span slot="title">설정 관리</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--top header-->
    <header class="header">
      <nav class="header__submenu">
        <ul>
          <li class="active">
            <a href="">고객사 설정</a>
          </li>
          <li>
            <a href="./admin.html">관리자 설정</a>
          </li>
        </ul>
      </nav>      
      <div id="header" class="header__utils"></div>
    </header>

    <div class="page pg-member">
      <section class="page__tit">
        <h2>고객사 리스트</h2>
        <div class="page__breadcrumb">
          <ul>
            <li>설정 관리</li>
            <li>고객사 리스트</li>
          </ul>
        </div>
      </section>
      <!--content-->

      <section class="search">
        <div class="search__base">
          <h3 class="search__base--tit">검색</h3>
          <el-date-picker
            v-model="datepick"
            type="daterange"
            start-placeholder="시작일 선택"
            end-placeholder="종료일 선택"
            default-value="2020-08-01">
          </el-date-picker>
          <el-radio-group v-model="dateFilter">
            <el-radio-button label="오늘"></el-radio-button>
            <el-radio-button label="1주"></el-radio-button>
            <el-radio-button label="1개월"></el-radio-button>
            <el-radio-button label="3개월"></el-radio-button>
            <el-radio-button label="전체"></el-radio-button>
          </el-radio-group>
        </div>
        <div class="search__detail">
          <div class="grid">
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="userId">아이디</label>
                </dt>
                <dd>
                  <input type="text" id="userId" class="inp-txt" placeholder="아이디 입력">
                </dd>
              </dl>
            </div>
            <div class="col-desk-3">
              <dl class="form-dl--row">
                <dt>
                  <label for="userName">이름</label>
                </dt>
                <dd>
                  <input type="text" id="userName" class="inp-txt" placeholder="홍길동">
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="search__btns">
          <button class="btn-md btn-light btn-collapse">
            <span>상세검색</span>
            <i class="xi-angle-down-min"></i>
          </button>
          <button class="btn-md btn-light-warn">
            <i class="xi-refresh"></i>
          </button> 
          <button class="btn-md btn-dark">
            <i class="xi-search"></i>
            <span>검색</span>
          </button>
        </div>
      </section>

      <section class="data-tbl">
        <div class="data-tbl__filter">
          <div class="data-tbl__filter--left">
            <p class="data-tbl__count">총 <b>4</b>건</p>
          </div>
          <div class="data-tbl__filter--right">
            <button class="btn-md btn-primary" @click="addMemberModal = true">
              <i class="xi-user-plus-o"></i>
              <span>고객사 등록</span>
            </button>
          </div>          
        </div>
        <div class="data-tbl__body">
          <table>
            <colgroup>
              <col width="40px">
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>아이디</th>
                <th>고객사 이름</th>
                <th>연동토큰</th>
                <th>등록일</th>
                <th class="ta-center">관리</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>4</td>
                <td class="txt-bold">ciderpay</td>
                <td>고길동</td>
                <td>
                  <span>meqtihj9el85akD9BHHCQYQHUC051R6V78</span>
                  <button class="btn-sm btn-light-secondary">복사</button>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-warn" title="수정">
                    <i class="xi-pen"></i>
                  </button>
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td class="txt-bold">designid22</td>
                <td>김디잔</td>
                <td>
                  <span>j9elYQHUCV780585akD9meqtihBHHCQ1R6</span>
                  <button class="btn-sm btn-light-secondary">복사</button>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-warn" title="수정">
                    <i class="xi-pen"></i>
                  </button>
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td class="txt-bold">almondbreeze</td>
                <td>정아몬</td>
                <td>
                  <span>QHtihBHHUCVakD9j9elYmeqCQ1R6780585</span>
                  <button class="btn-sm btn-light-secondary">복사</button>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-warn" title="수정">
                    <i class="xi-pen"></i>
                  </button>
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td class="txt-bold">guuguroo</td>
                <td>이비둘</td>
                <td>
                  <span>HU9eQHtihBHlYmeqCQ585CV1R6780akD9j</span>
                  <button class="btn-sm btn-light-secondary">복사</button>
                </td>
                <td>2020.08.11 16:01:08</td>
                <td class="ta-center">
                  <button class="btn-sm btn-ico btn-light-warn" title="수정">
                    <i class="xi-pen"></i>
                  </button>
                  <button class="btn-sm btn-ico btn-light-danger" title="삭제">
                    <i class="xi-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="data-tbl__filter">
          <div class="data-tbl__filter--left">
            <el-select v-model="boardView" placeholder="선택">
              <el-option
                v-for="item in boardViewList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div class="data-tbl__filter--right">
            <el-pagination
              layout="prev, pager, next"
              :total="30">
            </el-pagination>
          </div>
        </div>
      </section>

      <!--//content-->
    </div>

    <!-- dialog -->
    <el-dialog :visible.sync="addMemberModal" :close-on-click-modal="false" @close="cancel" class="pop--add-member">
      <div class="el-dialog__header--tit" slot="title">고객사 등록</div>
      <div class="contents">
        <div class="grid">
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="userId">고객사 아이디</label>
              </dt>
              <dd>
                <input type="text" id="userId" class="inp-txt" placeholder="고객사 아이디 입력">
                <button class="btn-md btn-light-primary">중복확인</button>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="userName">고객사 이름</label>
              </dt>
              <dd>
                <input type="text" id="userName" class="inp-txt" placeholder="고객사 이름 입력">
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="compId">본사 아이디</label>
              </dt>
              <dd>
                <input type="text" id="compId" class="inp-txt" placeholder="고객사 아이디 입력">
                <button class="btn-md btn-light-primary">중복확인</button>
              </dd>
            </dl>
          </div>
          <div class="col-desk-6">
            <dl class="form-dl--row">
              <dt>
                <label for="compName">본사 이름</label>
              </dt>
              <dd>
                <input type="text" id="compName" class="inp-txt" placeholder="본사 이름 입력">
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div slot="footer">
        <button @click="addMemberModal = false" class="btn-md btn-light">취소</button>
        <button class="btn-md btn-dark">저장</button>
      </div>
    </el-dialog>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script src="/ud/common/js/element/ko.js"></script>
<script>
ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        // datepick
        datepick: '',

        // date filter radio button
        dateFilter: '전체',

        // 게시물 출력 개수
        boardViewList: [{
          value: '10',
          label: '10개씩 보기'
        }, {
          value: '50',
          label: '50개씩 보기'
        }, {
          value: '100',
          label: '100개씩 보기'
        }],
        boardView: '',

        // modal
        addMemberModal: false,
      }
    },
    methods: {
      //모달 닫기(취소)
      cancel() {
          this.modal = false
      },
    }
  })
</script>
</html>