@charset "utf-8";
/*
  _components.scss
  input, form, board...
*/

/* input box */
%inpBox {
  @include transition(background .2s ease, border-color .2s ease, box-shadow .2s ease);
  color: $color-dark-3;
  background: $color-white;
  border: 1px solid $color-light-d;
  border-radius: 3px;
  outline: 0;
  -webkit-appearance:none;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, .2);

    // dark mode
    .theme-dark & {
      border-color: $color-primary;
    }
  }

  // dark mode
  .theme-dark & {
    color: $color-light-d;
    background: rgba($color-dark-1, .3);
    border-color: $color-dark-6;
  }
}

// price, percent, etc
%inpRight {
  padding-right: 25px;
  text-align: right;

  &:after {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.3rem;
    line-height: 42px;
    color: $color-dark-9;
  }
}

input[disabled] {
  @extend %inpBox;  
  background: rgba($color-light-d,.7);
  color: $color-dark-9;
}

// input basic
.inp-txt {
  @extend %inpBox;
  @include font-basic;
  height: 42px;
  padding: 10px 12px;
  vertical-align: top;
}

// input small
.inp-xs {
  @extend %inpBox;
  height: 24px;
  padding: 2px 10px;
}

// input price
.inp-price {
  @extend .inp-txt;
  @extend %inpRight;

  &:after {
    content: 'ì›';
  }
}

// input percent
.inp-percent {
  @extend .inp-txt;
  @extend %inpRight;

  &:after {
    content: '%';
  }
}


/* form */
// base
%formBase {
  @include flexbox;
  dt {
    @include transition(color .2s ease);
    @include font-size(13px);
    color: $color-dark-6;

    // dark mode
    .theme-dark & {
      color: $color-light-d;
    }
  }

  dd {
    @include flexbox;

    & > *:not(button) {
      @include flex(1 1 0);
      @include justify-content(space-between)
    }

    button:not(:first-child) {
      margin-left: 5px;
    }
  }

  // radio, checkbox
  .dd-bg {
    @include transition(background .2s ease);
    min-height: 42px;
    padding: 0 10px;
    background: $color-light-f;

    // dark mode
    .theme-dark & {
      background: rgba($color-dark-1, .3);
    }
    
    // text only
    &--txt {
      @include font-size(14px);
      padding-top: 12px;
    }
  }
}

.grid {
  margin-top: -24px;
}

.form-dl--row {
  @extend %formBase;
  @include flex-direction(column);
  margin-top: 24px;

  dt {
    margin-bottom: 6px;
  }
}




/* search box */
.search {
  @extend %bxBase;
  margin-bottom: 20px;

  &__base {
    @include flexbox;
    @include align-items(center);

    &--tit {
      @include transition(color .2s ease);
      @include font-size(15px);
      font-weight:700;
      color: $color-dark-6;
      margin-right: 20px;

      // dark mode
      .theme-dark & {
        color: $color-light-b;
      }
    }

    .el-radio-group {
      margin-left: 10px;
    }
  }

  &__detail {
    @include transition(opacity .4s ease);
    display: none;
    margin-top: 30px;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  &__btns {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 0;

    button {
      margin-left: 10px;
    }

    .btn-collapse i {
      @include transition(transform .2s ease)
    }
    .btn-collapse.active i {
      transform: rotate(-180deg);
    }
  }
}



/* board */
.data-tbl {
  @extend %bxBase;

  &__filter {
    @include flexbox;
    @include align-items(center);

    &--right {
      margin-left: auto;
    }
  }

  &__count {
    @include font-size(14px);
    color: $color-dark-6;

    // dark mode
    .theme-dark & {
      color: $color-dark-9;
    }
  }

  // table
  &__body table {
    width: 100%;
    margin: 20px 0;

    thead th, tbody td {
      padding: 12px;
      text-align: left;

      &.ta-center {
        text-align: center;
      }
      &.ta-right {
        text-align: right;
      }
      &.txt-bold {
        font-weight: 700;
      }
      &.va-top {
        vertical-align: top;
      }
    }

    thead th {
      @include font-size(13px);
      font-weight: 700;
      color: $color-dark-9;
      border-top: 1px solid $color-light-d;
      border-bottom: 2px solid $color-light-d;

      // dark mode
      .theme-dark & {
        border-color: $color-dark-6;
      }
    }

    tbody td {
      @include font-size(14px);
      color: $color-dark-3;
      border-bottom: 1px solid $color-light-e;
      vertical-align: middle;

      // dark mode
      .theme-dark & {
        border-color: rgba($color-dark-6, .3);
        color: $color-light-b;
      }
    }

    button {
      margin: 4px;
    }
  }

  // transparent list table
  .tbl-opacity {
    margin: 0;

    th, td {
      padding: 5px 0;
      border: 0;
    }
  }
}



// terminal
// sass --watch .:. --style compressed