@charset "utf-8";
/*
  _element-variables.scss
*/

// input
.el-input__inner {
	height: 42px;

	&.is-active, .is-focus & {
		@include transition(box-shadow .2s ease);
		box-shadow: 0 0 0 3px rgba($color-primary, .2);
	}

	// dark mode
  .theme-dark & {
  	background-color: rgba($color-dark-1, .3);
  	border-color: $color-dark-6;
  	color: $color-light-d;
  }
}

// datepicker
.el-date-editor {
	.el-input__icon {
	  font-size: 20px;
	  line-height: 34px;
	  color: $color-light-b;
	}
	
	.el-range-input {
		background: transparent;
	}

	// dark mode
  .theme-dark {
  	.el-range-separator {
			color: $color-dark-6;
		}
  }
}
// dark mode
.theme-dark .el-picker-panel {
	background: $color-dark-1;
	border-color: darken($color-dark-1, 5%);
	color: $color-light-b;

	.el-date-range-picker__content.is-left,
	.el-date-table th {
		border-color: $color-dark-3; 
	}

	.el-date-table {
		td.next-month, td.prev-month {
			color: $color-dark-6;
		}
	}

	&__icon-btn {
		color: $color-dark-9;
	}
}


// select
.el-select-dropdown {
	// dark mode
	.theme-dark & {
		background-color: $color-dark-1;
		border-color: darken($color-dark-1, 5%);
	}

	&__item {
		// dark mode
	  .theme-dark & {
	  	color: $color-light-d;
	  }

	  &.hover, &:hover {
	  	// dark mode
		  .theme-dark & {
		  	background-color: darken($color-dark-1, 5%);
		  }
	  }
	}
}
// select dropdown arrow
.el-popper[x-placement^=bottom] .popper__arrow {
	// dark mode
  .theme-dark &, .theme-dark &:after {
  	border-bottom-color: $color-dark-1;
  }
}

// select multiple tag
.el-select__tags--primary {
  .el-tag {
    border-color: transparent;
    background-color: lighten($color-primary, 24%);
    color: $color-primary
  } 
}


// radio
.el-radio {
	height: 42px;
	margin-right: 1.2vw;
	line-height: 42px;

	&__inner {
		@include transition(background .2s ease, border-color .2s ease, box-shadow .2s ease);
		width: 22px;
		height: 22px;
		background: transparent;

		&:after {
			width: 10px;
			height: 10px;
		}

		// dark mode
	  .theme-dark & {
	  	border-color: $color-dark-6;
	  }
	}

	&__input {
		vertical-align: text-top
	}

	&__input.is-checked &__inner {
		box-shadow: 0 0 0 3px rgba($color-primary, .2);
	}

	&__label {
		@include font-size(15px);
		padding-left: 8px;

		// dark mode
	  .theme-dark & {
	  	color: $color-dark-9;
	  }
	}
}

// radio group
.el-radio-button {
	&__inner {
		padding: 13px;

		// dark mode
	  .theme-dark & {
	  	background: transparent;
	  	color: $color-light-b;
	  	border-color: $color-dark-6;
	  }
	}

	// dark mode
	.theme-dark &:first-child .el-radio-button__inner {
		border-left-color: $color-dark-6;
	}
}

// checkbox
.el-checkbox {
	&__inner {
		width: 22px;
		height: 22px;

		&:after {
			top: 2px;
			left: 6px;
			width: 5px;
			height: 11px;
			border-width: 2px;
		}
	}

	&__label {
		@include font-size(15px);
		color: $color-dark-3;
		line-height: 1;
		vertical-align: middle;
	}

	&__input.is-checked + &__label {
		font-weight: 700;
	}
}

// pager
.el-pagination {
	padding: 0;
	color: $color-dark-9;
	font-weight: 400;

	.btn-prev, .btn-next {
		@include transition(background .3s ease);
		width: 42px;
		height: 42px;
		padding: 0;
		border-radius: 4px;
		background: transparent;

		&:not(:disabled):hover {
			background: $color-light-primary;
		}

		// dark mode
		.theme-dark & {
			color: $color-light-d;

			&:disabled {
				background: transparent;
				color: $color-dark-6;
			}

			&:not(:disabled):hover {
				background: $color-light-primary;
			}
		}
	}
}
.el-pager li {
	@include font-size(14px);
	@include transition(background .3s ease);
	width: 42px;
	height: 42px;
	padding: 0;
	line-height: 42px;
	border-radius: 4px;
	background: transparent;

	&:not(.active):hover {
		background: $color-light-primary;
	}
}


// modal
.el-dialog {
	overflow: hidden;

	// dark mode
	.theme-dark & {
		background: $color-dark-3;
	}

	&__header {
		padding: 15px 20px;
    border-bottom: 1px solid $color-light-e;

    // dark mode
		.theme-dark & {
			border-bottom-color: rgba($color-dark-6, .3);
		}

		&--tit {
			@include font-size(15px);
      font-weight: 700;
			color: $color-dark-3;

			// dark mode
			.theme-dark & {
				color: $color-light-e;
			}
		}

		&btn {
			top: 8px;
			right: 10px;
			width: 30px;
			height: 30px;
			font-size: 24px;
			line-height: 1;
			background: transparent;
			border: 0;
		}
	}

	&__body {}

	&__footer {
		padding: 0 20px 30px;
		text-align: center;
		font-size: 0;

		button {
			min-width: 88px;
			margin: 0 5px;
		}
	}
}