<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <el-header id="header">
    <div class="top-nav-bar">
      <div class="logo-box">
        <h1>유디페이 API관리</h1>
      </div>
      <div class="top-nav-menu">
        <div class="top-nav-menu-item left">

          <div class="widget-item widget-item__btn">
            <button type="button" class="btn-menu-opener">
              <span class="btn-menu-opener__inn">
                <span class="bar top"></span>
                <span class="bar mid"></span>
                <span class="bar bottom"></span>
              </span>
            </button>
          </div>
          <div class="widget-item widget-item__greeting">
            <p>
              <i class="xi-profile"></i>
              <strong class="greeting-username">한모래(my_catmorae)</strong>님, 안녕하세요.
            </p>
          </div>
        </div>

        <div class="top-nav-menu-item right">
          <ul class="widget-item widget-item__usage">
            <li class="use true">
              <span>연동토큰 사용가능</span>
            </li>
          </ul>
          <ul class="widget-item widget-item__menu">
            <li class="mypage" title="마이페이지">
              <i class="la la-cog"></i>
            </li>
            <li class="logout">
              <button type="button" title="로그아웃" onclick="location.href='../index.html'">
                <i class="la la-sign-out"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </el-header>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#header',
    data: function() {
      return {}
      },
      methods: {}
    })
  </script>
</html>