<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="layout">
    <el-header id="header">
      <div class="top-nav-bar">
        <div class="logo-box">
          <h1>유디페이 API관리</h1>
        </div>
        <div class="top-nav-menu">
          <div class="top-nav-menu-item left">

            <div class="widget-item widget-item__btn">
              <button type="button" class="btn-menu-opener">
                <span class="btn-menu-opener__inn">
                  <span class="bar top"></span>
                  <span class="bar mid"></span>
                  <span class="bar bottom"></span>
                </span>
              </button>
            </div>
            <div class="widget-item widget-item__greeting">
              <p>
                <i class="xi-profile"></i>
                <strong class="greeting-username">한모래(my_catmorae)</strong>님, 안녕하세요.
              </p>
            </div>
          </div>

          <div class="top-nav-menu-item right">
            <ul class="widget-item widget-item__usage">
              <li class="use true">
                <span>연동토큰 사용가능</span>
              </li>
            </ul>
            <ul class="widget-item widget-item__menu">
              <li class="mypage" title="마이페이지">
                <i class="la la-cog"></i>
              </li>
              <li class="logout">
                <button type="button" title="로그아웃" onclick="location.href='../index.html'">
                  <i class="la la-sign-out"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </el-header>
    <el-aside id="lnb" class="sidebar" v-show="leftView">
      <div class="sidebar-content">
        <el-menu class="sidebar-nav" :default-active="activeMenu" @open="handleOpen" @close="handleClose">
          <el-menu-item class="dep1" index="1">
            <div class="el-menu-item-text">
              <i class="ico xi-dashboard-o"></i>
              <span>대시보드</span>
            </div>
          </el-menu-item>
          <el-submenu index="2">
            <template slot="title" class="dep1">
              <i class="ico xi-mail-o"></i> 
              <span>문자 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="2-1">연동설정</el-menu-item>
              <el-menu-item index="2-2">발송내역</el-menu-item>
              <el-menu-item index="2-3">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title" class="dep1">
              <i class="ico xi-message-o"></i> 
              <span>카카오톡 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="3-1">사전준비</el-menu-item>
              <el-menu-item index="3-2">연동설정</el-menu-item>
              <el-menu-item index="3-3">발송내역</el-menu-item>
              <el-menu-item index="3-4">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title" class="dep1">
              <i class="ico xi-shield-checked-o"></i> 
              <span>본인인증 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="4-1">연동설정</el-menu-item>
              <el-menu-item index="4-2">발송내역</el-menu-item>
              <el-menu-item index="4-3">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="5">
            <template slot="title" class="dep1">
              <i class="ico la la-paste"></i> 
              <span>계좌성명조회 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="5-1">연동설정</el-menu-item>
              <el-menu-item index="5-2">발송내역</el-menu-item>
              <el-menu-item index="5-3">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="6">
            <template slot="title" class="dep1">
              <i class="ico xi-won"></i> 
              <span>충전/입금관리</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="6-1">결제하기</el-menu-item>
              <el-menu-item index="6-2">충전내역</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </div>
      <div class="cs-info">
        <p class="cs-tit"><i class="xi-emoticon-happy-o"></i> 고객상담문의</p>
        <p class="cs-tel">1800-3925</p>
        <div class="cs-time">
          <p><span>평일</span><span>9:00 ~ 18:00</span></p>
          <p><span>휴무</span><span>주말, 공휴일 휴무</span></p>
        </div>
      </div>
    </el-aside>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#layout',
    data: function() {
      return {
        leftView: true,
        }
      },
      methods: {
        jqueryEvent() {
          let self = this
          $(document).ready(function () {
            if ($(window).width() < 1440) {
              self.leftView = false
            } else self.leftView = true
          });

          $(window).resize(function () {
            if ($(window).width() < 1440) {
              self.leftView = false
            } else self.leftView = true
          });
        },

        handleOpen(key, keyPath) {},
        handleClose(key, keyPath) {},
      }
    })
  </script>
</html>