<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="./calendar.html" class="sale nuxt-link-active"><span>매출관리</span></a>
      <a href="../storeManage/menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="../ams/sendList.html" class="ams"><span>메시지관리</span></a>
      <a href="../board/list.html" class="info"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li>
          <a href="./calendar.html">캘린더형</a>
        </li>
        <li class="on">
          <a href="./list.html">리스트형</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents payment-list">
      <section role="page-info" class="title-sec">
        <h1>매출관리</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li class="this-page">매출관리</li>
          </ul>
        </div>
      </section>
      <section class="wrap-con">
        <section class="total-figure">
          <dl>
            <dt>총 주문</dt>
            <dd>675<span>건</span></dd>
          </dl>
          <dl>
            <dt>총 매출</dt>
            <dd>9,981,500<span>원</span></dd>
          </dl>
        </section>
      </section>
      <section class="table-filter">
        <div class="d-inline">
          <el-date-picker
            v-model="dateStart"
            type="date"
            placeholder="시작일 선택">
          </el-date-picker>
          <div class="date-as">~</div>
          <el-date-picker
            v-model="dateEnd"
            type="date"
            placeholder="종료일 선택">
          </el-date-picker>
        </div>
        <div class="p-right">
          <!-- 상점 선택 -->
          <el-select v-model="currStore" placeholder="상점을 선택하세요.">
            <el-option
              v-for="list in storeList"
              :key="list.value"
              :label="list.label"
              :value="list.value">
            </el-option>
          </el-select>
        </div>
      </section>
      <section role="data-table" class="data-table">
        <table class="table-pay-list">
          <colgroup>
            <col>
            <col width="10%">
            <col>
            <col width="23%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="10%">
            <col width="12%">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">주문일시</th>
              <th scope="col">회원번호</th>
              <th scope="col">회원그룹</th>
              <th class="left-cell" scope="col">상품명</th>
              <th class="right-cell" scope="col">주문금액</th>
              <th class="right-cell" scope="col">할인금액</th>
              <th class="right-cell" scope="col">결제금액</th>
              <th scope="col">결제수단</th>
              <th scope="col">비고</th>
            </tr>
          </thead>
          <tbody>
            <tr @click="orderInfoModal = true">
              <td class="date">2020.02.20</td>
              <td class="num">S6565653</td>
              <td class="level">골드</td>
              <td class="left-cell item">후라이드치킨 외 2건</td>
              <td class="right-cell order">63,900</td>
              <td class="right-cell dis">900</td>
              <td class="right-cell total">63,000</td>
              <td class="pay">신용카드</td>
              <td class="etc">쿠폰사용</td>
            </tr>
            <tr @click="orderInfoModal = true">
              <td class="date">2020.02.20</td>
              <td class="num">S6565653</td>
              <td class="level">골드</td>
              <td class="left-cell item">클래식 티본스테이크&amp;쉬림프 M 세트</td>
              <td class="right-cell order">43,500</td>
              <td class="right-cell dis">2,000</td>
              <td class="right-cell total">41,500</td>
              <td class="pay">신용카드</td>
              <td class="etc"></td>
            </tr>
            <!--
            <tr>
              <td class="td-blank" colspan="9">표시할 내용이 없습니다.</td>
            </tr>-->
          </tbody>
        </table>
      </section>
      <section class="table-filter">
        <div role="pagination" class="pager">
          <span><b>1</b>&#47;3</span>
          <button class="btn btn-ltline btn-prev">이전</button>
          <button class="btn btn-ltline btn-next">다음</button>
          <label for="act">
            <span>이동</span>
            <input type="text" class="input-txt" id="act" name="act" placeholder="0">
          </label>
        </div>
      </section>

      <!--modal-->
      <el-dialog :close-on-click-modal="false" :visible.sync="orderInfoModal" @close="cancel" class="popup-layer pop-receipt">
        <div class="pop-title" slot="title">주문정보</div>
        <div class="popup-layer">
          <div class="info-basic">
            <dl class="order-info-dl">
              <dt>주문회원</dt>
              <dd>S6565653</dd>
            </dl>
            <dl class="order-info-dl">
              <dt>주문일시</dt>
              <dd>2020년 02월 20일 19시 34분 41초</dd>
            </dl>
            <dl class="order-info-dl">
              <dt>결제방식</dt>
              <dd>신용카드</dd>
            </dl>
            <dl class="order-info-dl">
              <dt>주소</dt>
              <dd>서울 구로구 디지털로26길 61 에이스하이엔드타워2차 1801호</dd>
            </dl>
            <button class="btn btn-rd">인쇄하기</button>
          </div>
          <div class="wrap-receipt">
            <div class="order-wrap">
              <div class="form-pay-mobile">
                <div class="order-product">
                  <dl>
                    <dt class="product-name">클래식 티본스테이크&amp;쉬림프 M 세트</dt>
                    <dd class="price-r">
                      <div class="option-price">
                        <p class="line-through">39,500원</p>
                        <p>37,500</p>
                        <span>원</span>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="order-product">
                  <dl >
                    <dt>&plus; 이탈리안 도우</dt>
                    <dd class="price-r">
                      <div class="option-price">
                        <p>&plus;3,000</p>
                        <span>원</span>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="total-info">
                  <dl>
                    <dt>수량</dt>
                    <dd class="price-r">
                      <div class="option-price">
                        <p>1</p>
                        <span>개</span>
                      </div>
                    </dd>
                  </dl>
                  <dl>
                    <dt>합계</dt>
                    <dd class="price-r">
                      <div class="option-price">
                        <p>40,500</p>
                        <span>원</span>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="order-wrap">
              <div class="form-pay-mobile">
                <div class="order-product">
                  <dl>
                    <dt class="product-name">[서비스] 콜라</dt>
                    <dd class="price-r">
                      <div class="option-price">
                        <p>1</p>
                        <span class="txt-won">개</span>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="info-pay">
            <div class="order-wrap">
              <section class="title-address"><h2>결제정보</h2></section>
              <div class="form-pay-mobile">
                <dl>
                  <dt>총 주문금액</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>42,500</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
                <dl class="txt-rd">
                  <dt>기본할인</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>-1,000</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
                <dl class="txt-rd">
                  <dt>메뉴할인</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>-1,000</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
                <!--<dl class="txt-rd">
                  <dt>쿠폰할인</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>-500</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
                <dl class="txt-rd">
                  <dt>포인트</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>-500</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>-->
                <dl>
                  <dt>배달비</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>1,000</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="form-pay-mobile">
                <dl class="total-price">
                  <dt>최종 결제금액</dt>
                  <dd class="price-r">
                    <div class="option-price">
                      <p>41,500</p>
                      <span>원</span>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script src="/ud/common/js/element/ko.js"></script>
<script>
ELEMENT.locale(ELEMENT.lang.ko)
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',

      /* 날짜선택 */
      dateStart: '',
      dateEnd: '',

      /* popup */
      orderInfoModal: false
    }
  },
  methods: {
    /* 모달 닫기(취소)*/
    cancel() {
        this.modal = false
    }
  }
})
</script>
</html>