<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script></script>
  <script src="../../assets/js/page.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mj1"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-main">
        <!--둘러보기 접속 시 노출-->
        <section class="bx-basic wrap-intro">
          <h2 class="tit">고객사와 개발사 모두 해피한 <span class="logo">Pay&amp;Api</span></h2>
          <ul>
            <li class="opened">
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <dl>
                <dt>이용 가능 API들과 내 원가 확인하기</dt>
                <dd>개발자 회원들을 리셀러로 등록하고 마진을 설정해 자동 영업망을 구축하세요.<br>API 연동이 필요한 판매점에 적정 마진을 더해 직접 공급할 수도 있습니다.</dd>
              </dl>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>연동해서 돈 버는 과정 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>연동해서 번 돈 정산받기 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>결제연동 시 대표가맹코드와 직가맹코드 차이 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>문자, 알림톡 등 유료 API 후불계약 신청안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
          </ul>
        </section>
        <!--정산상태 및 링크배너들-->
        <div class="wrap-divide">
          <section class="wrap-state-flex">
            <section class="wrap-state">
              <p class="txt-state success">정산가능 상태입니다.</p>
              <!-- <p class="txt-stat fail">정산불가 상태입니다.</p> -->
              <a href="../info/index.html" class="banner lookup-api">
                <span>이용 가능한 API 및 공급원가 조회</span>
                <i class="la la-angle-right"></i>
              </a>
            </section>
            <!--오늘 어제 그래프-->
            <section class="bx-basic wrap-chart-today">
              <div class="tbl-filter">
                <div class="d-left">
                  <dl class="today">
                    <dt>오늘</dt>
                    <dd class="txt-count">830,157<small>원</small></dd>
                  </dl>
                  <dl class="yesterday">
                    <dt>
                      <el-date-picker
                        v-model="yesterday"
                        type="date"
                        placeholder="어제"
                        default-value="2019-11-01">
                      </el-date-picker>
                    </dt>
                    <dd class="txt-count">750,640<small>원</small></dd>
                  </dl>
                </div>
                <el-select v-model="value" placeholder="선택" class="d-right">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </div>
            </section>
          </section>
          <section class="wrap-widget">
            <div class="widget-sk">
              <dl class="main-stat">
                <dt>리셀러</dt>
                <dd class="txt-count">17</dd>
              </dl>
              <a href="../reseller/add.html">+ 리셀러 등록하기</a>
            </div>
            <div class="widget-pt">
              <dl class="main-stat">
                <dt>판매점</dt>
                <dd class="txt-count">635</dd>
              </dl>
              <a href="../store/add.html">+ 판매점 등록하기</a>
            </div>
          </section>
        </div>
        <!--실적 현황 그래프-->
        <section class="bx-basic wrap-chart-list">
          <h2 class="tit">실적 현황</h2>
          <div class="tbl-filter index">
            <el-radio-group v-model="daysort">
              <el-radio-button label="1개월"></el-radio-button>
              <el-radio-button label="3개월"></el-radio-button>
              <el-radio-button label="6개월"></el-radio-button>
              <el-radio-button label="1년"></el-radio-button>
            </el-radio-group>
            <div class="flex-wrap">
              <el-date-picker
                v-model="datepicker"
                type="daterange"
                align="right"
                start-placeholder="시작일 선택"
                end-placeholder="종료일 선택"
                default-value="2019-11-15">
              </el-date-picker>
            </div>
            <div class="d-right">
              <button class="btn btn-line-b">
                <i class="la la-cog"></i>
                <span>항목편집</span>
              </button>
            </div>
          </div>
          <div class="tbl-filter edit">
            <p class="txt">조회를 원하는 항목을 선택하고, 드래그하여 원하는 순서로 정렬하세요.</p>
            <div class="wrap-btns">
              <button class="btn btn-line-b">취소</button>
              <button class="btn btn-point">저장</button>
            </div>
          </div>
          <div class="list-chart index">
            <ul>
              <li class="pay">
                <dl>
                  <dt>총 결제 건수</dt>
                  <dd class="txt-count">876<small>건</small></dd>
                </dl>
                <div class="wrap-chart">
                   <canvas id="chartAllPaid" width="590" height="80"></canvas>
                </div>
              </li>
              <li class="pay">
                <dl>
                  <dt>결제수수료 마진</dt>
                  <dd class="txt-count">1,572,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart">
                   <canvas id="chartPaidMargin" width="590" height="80"></canvas>
                </div>
              </li>
              <li class="total">
                <dl>
                  <dt>총 연동 건수</dt>
                  <dd class="txt-count">568<small>건</small></dd>
                </dl>
                <div class="wrap-chart">
                   <canvas id="chartAllApi" width="590" height="80"></canvas>
                </div>
              </li>
              <li class="calc">
                <dl>
                  <dt>총 마진</dt>
                  <dd class="txt-count">1,572,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart">
                   <canvas id="chartAllMargin" width="590" height="80"></canvas>
                </div>
              </li>
              <li class="calc">
                <dl>
                  <dt>정산 완료</dt>
                  <dd class="txt-count">1,897,400<small>원</small></dd>
                </dl>
                <div class="wrap-chart">
                   <canvas id="chartCalc" width="590" height="80"></canvas>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-chart edit">
            <ul>
              <li>
                <label class="inp-check" for="chart1">
                  <span class="txt">리셀러 총수</span>
                  <input id="chart1" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart2">
                  <span class="txt">판매점 총수</span>
                  <input id="chart2" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart3">
                  <span class="txt">총 결제 건수</span>
                  <input id="chart3" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart4">
                  <span class="txt">결제총액</span>
                  <input id="chart4" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart0">
                  <span class="txt">결제수수료 마진</span>
                  <input id="chart0" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart5">
                  <span class="txt">총 연동 건수</span>
                  <input id="chart5" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart6">
                  <span class="txt">요금 총액</span>
                  <input id="chart6" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart7">
                  <span class="txt">총 마진</span>
                  <input id="chart7" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart8">
                  <span class="txt">정산 완료</span>
                  <input id="chart8" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart9">
                  <span class="txt">정산 예정</span>
                  <input id="chart9" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </section>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script src="/ud/common/js/element/ko.js"></script>
<script>
ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 어제 날짜 선택 */
        yesterday: '',

        /* 선택 */
        options: [{
          value: '총 마진',
          label: '총 마진'
        }, {
          value: '결제수수료 마진',
          label: '결제수수료 마진'
        }, {
          value: '연동 마진',
          label: '연동 마진'
        }, {
          value: '결제 건수',
          label: '결제 건수'
        }, {
          value: '결제 총액',
          label: '결제 총액'
        }, {
          value: '연동 총수',
          label: '연동 총수'
        }, {
          value: '요금 총액',
          label: '요금 총액'
        }],
        value: '',

        /* 실적현황 기간선택 */
        daysort: '1개월',

        /* 실적현황 타입선택 */
        typesort: '월별',

        /* 실적현황 날짜 선택 */
        datepicker: '',
      }
    },
    methods: {
    }
  })
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
<script type="text/javascript">
$(function(){

//1.총결제건수
var ctx1 = document.getElementById('chartAllPaid').getContext('2d');
//배경색 red
var gradientRd = ctx1.createLinearGradient(0, 0, 0, 60);
    gradientRd.addColorStop(0, 'rgba(255,128,143,0.5)');
    gradientRd.addColorStop(1, 'rgba(255,128,143,0)');
var chartAllPaid = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: ['4월 3주', '4월 4주', '5월 1주', '5월 2주', '5월 3주', '5월 4주'],
        datasets: [{
            label: '',
            data: [90, 110, 105, 120, 112, 128],
            barThickness: 2,
            borderColor: '#FF808F',
            backgroundColor : gradientRd,
            pointRadius: 2,
            pointBackgroundColor: '#FF808F',
            lineTension: 0
        }]
    },
    options: {
        legend: {display: false},
        tooltips: {
          backgroundColor: 'white',
          borderWidth: 1,
          borderColor: '#CDCED5',
          titleFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          titleFontStyle: 'normal',
          titleFontColor: '#6E6E7A',
          titleFontSize: 10,
          bodyFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          bodyFontStyle: 'bold',
          bodyFontColor: '#28293F',
          displayColors: false,
          style: {zIndex: 100}
        },
        scales: {
            yAxes: [{
                gridLines : {
                  display: false,
                  zeroLineColor: '#CDCED5'
                },
                ticks: {display: false},
            }],

            xAxes: [{
              ticks: {
                fontColor: 'transparent'
              }
            }]
        }
    }
});

//2.결제수수료 마진
var ctx2 = document.getElementById('chartPaidMargin').getContext('2d');
//배경색 red
var gradientRd2 = ctx2.createLinearGradient(0, 0, 0, 60);
    gradientRd2.addColorStop(0, 'rgba(255,128,143,0.5)');
    gradientRd2.addColorStop(1, 'rgba(255,128,143,0)');
var chartPaidMargin = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: ['4월 3주', '4월 4주', '5월 1주', '5월 2주', '5월 3주', '5월 4주'],
        datasets: [{
            label: '',
            data: [1216990, 1455400, 1248622, 1600575, 1525864, 1572500],
            barThickness: 2,
            borderColor: '#FF808F',
            backgroundColor : gradientRd2,
            pointRadius: 2,
            pointBackgroundColor: '#FF808F',
            lineTension: 0,
        }]
    },
    options: {
        legend: {display: false},
        tooltips: {
          backgroundColor: 'white',
          borderWidth: 1,
          borderColor: '#CDCED5',
          titleFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          titleFontStyle: 'normal',
          titleFontColor: '#6E6E7A',
          titleFontSize: 10,
          bodyFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          bodyFontStyle: 'bold',
          bodyFontColor: '#28293F',
          displayColors: false,
          //천 단위로 콤마 찍기
          callbacks: {
            label: function(tooltipItem, data) {
              var value = data.datasets[0].data[tooltipItem.index];
              value = value.toString();
              value = value.split(/(?=(?:...)*$)/);
              value = value.join(',');
              return value;
            }
          },
          style: {zIndex: 100}
        },
        scales: {
            yAxes: [{
                gridLines : {
                  display: false,
                  zeroLineColor: '#CDCED5'
                },
                ticks: {display: false},
            }],

            xAxes: [{
              ticks: {
                fontColor: 'transparent'
              }
            }]
        }
    }
});

//3.총 연동 건수
var ctx3 = document.getElementById('chartAllApi').getContext('2d');
//배경색 red
var gradientBu = ctx3.createLinearGradient(0, 0, 0, 60);
    gradientBu.addColorStop(0, 'rgba(111,116,244,0.5)');
    gradientBu.addColorStop(1, 'rgba(111,116,244,0)');
var chartAllApi = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: ['4월 3주', '4월 4주', '5월 1주', '5월 2주', '5월 3주', '5월 4주'],
        datasets: [{
            label: '',
            data: [110, 338, 325, 430, 498, 568],
            barThickness: 2,
            borderColor: '#6f74f4',
            backgroundColor : gradientBu,
            pointRadius: 2,
            pointBackgroundColor: '#6f74f4',
            lineTension: 0,
        }]
    },
    options: {
        legend: {display: false},
        tooltips: {
          backgroundColor: 'white',
          borderWidth: 1,
          borderColor: '#CDCED5',
          titleFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          titleFontStyle: 'normal',
          titleFontColor: '#6E6E7A',
          titleFontSize: 10,
          bodyFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          bodyFontStyle: 'bold',
          bodyFontColor: '#28293F',
          displayColors: false,
          style: {zIndex: 100}
        },
        scales: {
            yAxes: [{
                gridLines : {
                  display: false,
                  zeroLineColor: '#CDCED5'
                },
                ticks: {display: false},
            }],

            xAxes: [{
              ticks: {
                fontColor: 'transparent'
              }
            }]
        }
    }
});

//4.총 마진
var ctx4 = document.getElementById('chartAllMargin').getContext('2d');
//배경색 red
var gradientGr = ctx4.createLinearGradient(0, 0, 0, 60);
    gradientGr.addColorStop(0, 'rgba(54,190,156,0.5)');
    gradientGr.addColorStop(1, 'rgba(54,190,156,0)');
var chartAllApi = new Chart(ctx4, {
    type: 'line',
    data: {
        labels: ['4월 3주', '4월 4주', '5월 1주', '5월 2주', '5월 3주', '5월 4주'],
        datasets: [{
            label: '',
            data: [1155100, 1399540, 1285840, 1670570, 1426650, 1572500],
            barThickness: 2,
            borderColor: '#36be9c',
            backgroundColor : gradientGr,
            pointRadius: 2,
            pointBackgroundColor: '#36be9c',
            lineTension: 0,
        }]
    },
    options: {
        legend: {display: false},
        tooltips: {
          backgroundColor: 'white',
          borderWidth: 1,
          borderColor: '#CDCED5',
          titleFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          titleFontStyle: 'normal',
          titleFontColor: '#6E6E7A',
          titleFontSize: 10,
          bodyFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          bodyFontStyle: 'bold',
          bodyFontColor: '#28293F',
          displayColors: false,
          //천 단위로 콤마 찍기
          callbacks: {
            label: function(tooltipItem, data) {
              var value = data.datasets[0].data[tooltipItem.index];
              value = value.toString();
              value = value.split(/(?=(?:...)*$)/);
              value = value.join(',');
              return value;
            }
          },
          style: {zIndex: 100}
        },
        scales: {
            yAxes: [{
                gridLines : {
                  display: false,
                  zeroLineColor: '#CDCED5'
                },
                ticks: {display: false},
            }],

            xAxes: [{
              ticks: {
                fontColor: 'transparent'
              }
            }]
        }
    }
});

//5.정산완료
var ctx5 = document.getElementById('chartCalc').getContext('2d');
//배경색 red
var gradientGr = ctx5.createLinearGradient(0, 0, 0, 60);
    gradientGr.addColorStop(0, 'rgba(54,190,156,0.5)');
    gradientGr.addColorStop(1, 'rgba(54,190,156,0)');
var chartCalc = new Chart(ctx5, {
    type: 'line',
    data: {
        labels: ['4월 3주', '4월 4주', '5월 1주', '5월 2주', '5월 3주', '5월 4주'],
        datasets: [{
            label: '',
            data: [1155100, 1399540, 1285840, 1670570, 1426650, 1897400],
            barThickness: 2,
            borderColor: '#36be9c',
            backgroundColor : gradientGr,
            pointRadius: 2,
            pointBackgroundColor: '#36be9c',
            lineTension: 0,
        }]
    },
    options: {
        legend: {display: false},
        tooltips: {
          backgroundColor: 'white',
          borderWidth: 1,
          borderColor: '#CDCED5',
          titleFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          titleFontStyle: 'normal',
          titleFontColor: '#6E6E7A',
          titleFontSize: 10,
          bodyFontFamily: "'Apple SD Gothic Neo','Arial',sans-serif",
          bodyFontStyle: 'bold',
          bodyFontColor: '#28293F',
          displayColors: false,
          //천 단위로 콤마 찍기
          callbacks: {
            label: function(tooltipItem, data) {
              var value = data.datasets[0].data[tooltipItem.index];
              value = value.toString();
              value = value.split(/(?=(?:...)*$)/);
              value = value.join(',');
              return value;
            }
          },
          style: {zIndex: 100}
        },
        scales: {
            yAxes: [{
                gridLines : {
                  display: false,
                  zeroLineColor: '#CDCED5'
                },
                ticks: {display: false},
            }],

            xAxes: [{
              ticks: {
                fontColor: 'transparent'
              }
            }]
        }
    }
});

});
</script>
</html>