<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <!-- <link rel="icon" type="image/x-icon" href="files/img/favicon.ico"> -->
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/common.js"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <!--template:header-->
    <header class="header">
      <div class="top">
        <div class="area-logo">
          <h1 class="logo">pay&amp;api 리셀러</h1>
          <span class="btn-nav">메뉴</span>
        </div>
        <!--breadcrumb-->
        <div class="location">
          <a href="#">홈</a>
        </div><!--//breadcrumb-->
        <div class="utils">
          <div class="wrap-state">
            <p class="txt-state success">정산가능</p>
          </div>
          <div class="top-stats">
            <div class="i-stats">
              <i></i>
              <span class="ani-oval"></span>
            </div>
            <div class="list-stats">
              <dl class="reseller">
                <dt>
                  <i class="la la-user-tie"></i>
                  <span>하부 리셀러</span>
                </dt>
                <dd class="txt-count">186</dd>
              </dl>
              <dl class="store">
                <dt>
                  <i class="la la-shopping-basket"></i>
                  <span>하부 판매점</span>
                </dt>
                <dd class="txt-count">247</dd>
              </dl>
              <dl class="sum">
                <dt>
                  <i class="la la-coins"></i>
                  <span>정산예정</span>
                </dt>
                <dd class="txt-count">244,510<small>원</small></dd>
              </dl>
            </div>
          </div>
          <a class="top-user">
            <div class="type agent"><!--리셀러의 경우 class="type reseller"-->
              <i class="la la-user"></i>
              <span>대리점</span>
            </div>
            <p>애니스토어(anystore)</p>
          </a>
          <a href="../login.html" class="btn-logout" title="로그아웃">로그아웃</a>
        </div>
      </div>      
      <nav class="nav">
        <ul>
          <li class="depth1 active">
            <a href="main.html">
              <i class="la la-tachometer-alt"></i>
              <span slot="title">홈</span>
            </a>
          </li>
          <li class="depth1">
            <a href="../reseller/list.html">
              <i class="la la-user-tie"></i>
              <span slot="title">리셀러 관리</span>
            </a>
          </li>
          <li class="depth1">
            <a href="#">
              <i class="la la-coins"></i>
              <span slot="title">결제관리</span>
            </a>
            <ul class="depth2">
              <li>
                <a href="../pay/list.html">결제관리 종합현황</a>
              </li>
              <li>
                <a href="../pay/stats.html">결제통계</a>
              </li>
            </ul>
          </li>
          <li class="depth1">
            <a href="#">
              <i class="la la-network-wired"></i>
              <span slot="title">유료 API 관리</span>
            </a>
            <ul class="depth2">
              <li>
                <a href="../api/list.html">유료 API 관리 종합현황</a>
              </li>
              <li>
                <a href="../api/stats.html">연동통계</a>
              </li>
            </ul>
          </li>
          <li class="depth1">
            <a href="#">
              <i class="la la-info"></i>
              <span slot="title">이용안내</span>
            </a>
            <ul class="depth2">
              <li>
                <a href="../info/index.html">이용 가능 API</a>
              </li>
              <li>
                <a href="../info/adjust.html">수익정산 안내</a>
              </li>
              <li>
                <a href="">결제코드 안내</a>
              </li>
              <li>
                <a href="">후불계약 안내</a>
              </li>
            </ul>
          </li>
          <li class="depth1">
            <a href="../support/support.html">
              <i class="la la-headset"></i>
              <span slot="title">고객센터</span>
            </a>
          </li>
          <li class="depth1">
            <a href="../setting/setting.html">
              <i class="la la-user-cog"></i>
              <span slot="title">설정</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--//template:header-->
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-main">
        <!--둘러보기 접속 시 노출-->
        <section class="bx-basic wrap-intro">
          <h2 class="tit">고객사와 개발사 모두 해피한 <span class="logo">Pay&amp;Api</span></h2>
          <ul>
            <li class="opened">
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <dl>
                <dt>이용 가능 API들과 내 원가 확인하기</dt>
                <dd>개발자 회원들을 리셀러로 등록하고 마진을 설정해 자동 영업망을 구축하세요.<br>API 연동이 필요한 판매점에 적정 마진을 더해 직접 공급할 수도 있습니다.</dd>
              </dl>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>연동해서 돈 버는 과정 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>연동해서 번 돈 정산받기 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>결제연동 시 대표가맹코드와 직가맹코드 차이 안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
            <li>
              <span class="arrow">
                <i class="la la-angle-right"></i>
              </span>
              <p>문자, 알림톡 등 유료 API 후불계약 신청안내 보기</p>
              <a class="btn btn-xs btn-point">GO</a>
              <a class="btn-close" title="닫기"><i class="la la-times"></i></a>
            </li>
          </ul>
        </section>
        <!--정산상태 및 링크배너들-->
        <div class="wrap-divide">
          <section class="wrap-state-flex">
            <section class="wrap-state">
              <p class="txt-state success">정산가능 상태입니다.</p>
              <!-- <p class="txt-stat fail">정산불가 상태입니다.</p> -->
              <a href="../info/index.html" class="banner lookup-api">
                <span>이용 가능한 API 및 공급원가 조회</span>
                <i class="la la-angle-right"></i>
              </a>
            </section>
            <!--오늘 어제 그래프-->
            <section class="bx-basic wrap-chart-today">
              <div class="tbl-filter">
                <div class="d-left">
                  <dl class="today">
                    <dt>오늘</dt>
                    <dd class="txt-count">830,157<small>원</small></dd>
                  </dl>
                  <dl class="yesterday">
                    <dt>
                      <el-date-picker
                        v-model="yesterday"
                        type="date"
                        placeholder="어제"
                        default-value="2019-11-01">
                      </el-date-picker>
                    </dt>
                    <dd class="txt-count">750,640<small>원</small></dd>
                  </dl>
                </div>
                <el-select v-model="value" placeholder="선택" class="d-right">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </div>
            </section>
          </section>
          <section class="wrap-widget">
            <div class="widget-sk">
              <dl class="main-stat">
                <dt>리셀러</dt>
                <dd class="txt-count">17</dd>
              </dl>
              <a href="../reseller/add.html">+ 리셀러 등록하기</a>
            </div>
            <div class="widget-pt">
              <dl class="main-stat">
                <dt>판매점</dt>
                <dd class="txt-count">635</dd>
              </dl>
              <a href="../store/add.html">+ 판매점 등록하기</a>
            </div>
          </section>
        </div>
        <!--실적 현황 그래프-->
        <section class="bx-basic wrap-chart-list">
          <h2 class="tit">실적 현황</h2>
          <div class="tbl-filter index">
            <el-radio-group v-model="daysort">
              <el-radio-button label="1개월"></el-radio-button>
              <el-radio-button label="3개월"></el-radio-button>
              <el-radio-button label="6개월"></el-radio-button>
              <el-radio-button label="1년"></el-radio-button>
            </el-radio-group>
            <div class="flex-wrap">
              <el-date-picker
                v-model="datepicker"
                type="daterange"
                align="right"
                start-placeholder="시작일 선택"
                end-placeholder="종료일 선택"
                default-value="2019-11-15">
              </el-date-picker>
              <el-radio-group v-model="typesort">
                <el-radio-button label="월별"></el-radio-button>
                <el-radio-button label="일별"></el-radio-button>
              </el-radio-group>
            </div>
            <div class="d-right">
              <button class="btn btn-line-b">
                <i class="la la-cog"></i>
                <span>항목편집</span>
              </button>
            </div>
          </div>
          <div class="tbl-filter edit">
            <p class="txt">조회를 원하는 항목을 선택하고, 드래그하여 원하는 순서로 정렬하세요.</p>
            <div class="wrap-btns">
              <button class="btn btn-line-b">취소</button>
              <button class="btn btn-point">저장</button>
            </div>
          </div>
          <div class="list-chart index">
            <ul>
              <li class="pay">
                <dl>
                  <dt>총 결제 건수</dt>
                  <dd class="txt-count">876<small>건</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="pay">
                <dl>
                  <dt>결제총액</dt>
                  <dd class="txt-count">248,640,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="pay">
                <dl>
                  <dt>결제수수료 마진</dt>
                  <dd class="txt-count">1,572,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="total">
                <dl>
                  <dt>총 연동 건수</dt>
                  <dd class="txt-count">5468<small>건</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="total">
                <dl>
                  <dt>요금 총액</dt>
                  <dd class="txt-count">1,572,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="calc">
                <dl>
                  <dt>총 마진</dt>
                  <dd class="txt-count">1,572,500<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="calc">
                <dl>
                  <dt>정산 완료</dt>
                  <dd class="txt-count">1,897,400<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
              <li class="calc">
                <dl>
                  <dt>정산 예정</dt>
                  <dd class="txt-count">87,400<small>원</small></dd>
                </dl>
                <div class="wrap-chart" style="height:60px;background:white;text-align:center">그래프영역 - 그래프 추가 후 style값만 삭제하기</div>
              </li>
            </ul>
          </div>
          <div class="list-chart edit">
            <ul>
              <li>
                <label class="inp-check" for="chart1">
                  <span class="txt">리셀러 총수</span>
                  <input id="chart1" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="char2">
                  <span class="txt">판매점 총수</span>
                  <input id="chart2" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart3">
                  <span class="txt">총 결제 건수</span>
                  <input id="chart3" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart4">
                  <span class="txt">결제총액</span>
                  <input id="chart4" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart0">
                  <span class="txt">결제수수료 마진</span>
                  <input id="chart0" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart5">
                  <span class="txt">총 연동 건수</span>
                  <input id="chart5" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart6">
                  <span class="txt">요금 총액</span>
                  <input id="chart6" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart7">
                  <span class="txt">총 마진</span>
                  <input id="chart7" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart8">
                  <span class="txt">정산 완료</span>
                  <input id="chart8" name="chartList" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="inp-check" for="chart9">
                  <span class="txt">정산 예정</span>
                  <input id="chart9" name="chartList" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
        </section>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->

<!-- import Vue before Element -->
<script src="../../assets/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="../../assets/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 어제 날짜 선택 */
        yesterday: '',

        /* 선택 */
        options: [{
          value: '총 마진',
          label: '총 마진'
        }, {
          value: '결제수수료 마진',
          label: '결제수수료 마진'
        }, {
          value: '연동 마진',
          label: '연동 마진'
        }, {
          value: '결제 건수',
          label: '결제 건수'
        }, {
          value: '결제 총액',
          label: '결제 총액'
        }, {
          value: '연동 총수',
          label: '연동 총수'
        }, {
          value: '요금 총액',
          label: '요금 총액'
        }],
        value: '',

        /* 실적현황 기간선택 */
        daysort: '1주',

        /* 실적현황 타입선택 */
        typesort: '월별',

        /* 실적현황 날짜 선택 */
        datepicker: '',
      }
    },
    methods: {
    }
  })
</script>
</html>