<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/page.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mjstore"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-rslist">
        <!--상세검색-->
        <el-collapse class="bx-basic wrap-bx-search" v-model="searchDetail" @change="handleChange">
          <el-collapse-item title="검색" name="1" class="wrap-form">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchName">판매점명</label>
                  </dt>
                  <dd>
                    <input type="text" id="searchName" class="inp-box" placeholder="판매점명을 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchId">판매점 ID</label>
                  </dt>
                  <dd>
                    <input type="text" id="searchId" class="inp-box" placeholder="판매점 ID를 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="searchPhone">휴대폰 번호</label>
                  </dt>
                  <dd>
                    <input type="tel" id="searchPhone" class="inp-box" placeholder="휴대폰 번호를 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="businessType">업체 구분</label>
                  </dt>
                  <dd class="no-inp" id="businessType">
                    <el-radio-group v-model="businessType">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="COMPANY">사업자</el-radio>
                      <el-radio label="PERSONAL">개인</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="adjustSubmit">정산 서류 제출</label>
                  </dt>
                  <dd class="no-inp" id="adjustSubmit">
                    <el-radio-group v-model="adjustSubmit">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="TRUE">제출 완료</el-radio>
                      <el-radio label="FALSE">미제출</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="adjustStatus">정산 가능 여부</label>
                  </dt>
                  <dd class="no-inp" id="adjustStatus">
                    <el-radio-group v-model="adjustStatus">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="TRUE">정산 가능</el-radio>
                      <el-radio label="FALSE">정산 불가</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="usertype">소속</label>
                  </dt>
                  <dd class="no-inp" id="usertype">
                    <el-radio-group v-model="usertype">
                      <el-radio label="ALL">전체</el-radio>
                      <el-radio label="AGENT">본인</el-radio>
                      <el-radio label="RESELLER">리셀러</el-radio>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-6 col-md-3">
                <dl>
                  <dt>
                    <label for="parentID">상위 아이디</label>
                  </dt>
                  <dd>
                    <input type="text" id="parentID" class="inp-box" placeholder="상위 아이디를 입력해 주세요.">
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <dl>
                  <dt>가입 기간</dt>
                  <dd>
                    <el-date-picker
                      v-model="datepicker"
                      type="daterange"
                      align="right"
                      start-placeholder="시작일 선택"
                      end-placeholder="종료일 선택"
                      default-value="2019-11-15">
                    </el-date-picker>
                  </dd>
                </dl>
              </div>
              <div class="col-xs-12 col-md-3 group-radio">
                <dl>
                  <dt class="txt-hidden">가입일 설정</dt>
                  <dd>
                    <el-radio-group v-model="btnType">
                      <el-radio-button label="today">당일</el-radio-button>
                      <el-radio-button label="week">1주</el-radio-button>
                      <el-radio-button label="month1">1개월</el-radio-button>
                      <el-radio-button label="month3">3개월</el-radio-button>
                      <el-radio-button label="all">전체</el-radio-button>
                    </el-radio-group>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="wrap-btn">
              <button class="btn btn-primary btn-search"><i class="la la-search"></i> 검색</button>
            </div>
          </el-collapse-item>
        </el-collapse>
        <!--목록-->
        <section class="tbl-filter transparent">
          <div class="d-left">
            <div class="txt-result">
              <b class="txt-rd">2</b>개의 판매점
            </div>
          </div>
          <div class="d-right">
            <button class="btn btn-gy"><i class="la la-download"></i> 엑셀 다운로드</button>
            <button class="btn btn-point" onclick="location.href='add.html'"><i class="las la-user-plus"></i> 판매점 등록</button>
          </div>
        </section>
        <section class="bx-basic board">
          <div class="board-list">
            <table>
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>회원 정보</th>
                  <th>담당자 정보</th>
                  <th>정산 정보</th>
                  <th>부가 기능</th>
                  <th>관리</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="va-mid">2</td>
                  <!--회원 정보-->
                  <td>
                    <table class="tbl-xs">
                      <colgroup>
                        <col width="30%">
                        <col>
                      </colgroup>
                      <tbody>
                      <tr>
                        <th>판매점명</th>
                        <td>하이젠버그
                          <button @click="modify" class="btn-txt" title="정보 수정">
                            <i class="las la-edit"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <th>판매점 ID</th>
                        <td>walterwhite</td>
                      </tr>
                      <tr>
                        <th>등록일</th>
                        <td>2020.06.23</td>
                      </tr>
                      <tr>
                        <th>소속 대리점</th>
                        <td>(주)인텔리</td>
                      </tr>
                      <tr>
                        <th>소속 리셀러</th>
                        <td>서브라임샵</td>
                      </tr>
                      <tr>
                        <th>상태</th>
                        <td>사용중</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <!--담당자 정보-->
                  <td>
                    <table class="tbl-xs">
                      <colgroup>
                        <col width="30%">
                        <col>
                      </colgroup>
                      <tbody>
                      <tr>
                        <th>휴대폰</th>
                        <td>010-2121-1212</td>
                      </tr>
                      <tr>
                        <th>이메일</th>
                        <td>prayforjessi@gmail.com</td>
                      </tr>
                      <tr>
                        <th>업체 구분</th>
                        <td>개인</td>
                      </tr>
                      <tr>
                        <th>대표자명</th>
                        <td>지선우</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <!--정산 정보-->
                  <td>
                    <table class="tbl-xs">
                      <colgroup>
                        <col width="30%">
                        <col>
                      </colgroup>
                      <tbody>
                      <tr>
                        <th>정산 상태</th>
                        <td>
                          <span class="txt-state fail">정산불가</span>
                        </td>
                      </tr>
                      <tr>
                        <th>정산 서류</th>
                        <td>
                          <div class="flex-wrap">
                            <span class="txt-state fail">미제출</span>
                            <button class="btn btn-xs btn-line-point">제출</button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>추가 서류</th>
                        <td>
                          <div class="flex-wrap">
                            <span class="txt-state fail">미제출</span>
                            <button class="btn btn-xs btn-line-point">제출</button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>익일 정산</th>
                        <td>
                          <button class="btn btn-xs btn-line-point">신청</button>
                        </td>
                      </tr>
                      <tr>
                        <th>보증보험</th>
                        <td>
                          <button class="btn btn-xs btn-line-point">요청</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <!--부가 기능-->
                  <td class="td-btns">
                    <button class="btn btn-xs btn-line-point">결제 현황 조회</button>
                    <button class="btn btn-xs btn-line-point">부가세 자료 조회</button>
                    <button class="btn btn-xs btn-line-yl btn-block">
                      <i class="las la-file-alt"></i> 메모
                    </button>
                  </td>
                  <!--관리-->
                  <td class="td-btns">
                    <button class="btn btn-xs btn-line-b" onclick="location.href='detail.html'">상세 정보</button>
                    <button class="btn btn-xs btn-line-point"><i class="la la-cog"></i> 결제 설정</button>
                    <button class="btn btn-xs btn-line-point"><i class="la la-cog"></i> API 설정</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tbl-filter">
            <div class="d-left">
              <el-select v-model="viewList" placeholder="보기 설정" class="view-pc">
                <el-option 
                  v-for="list in options"
                  :key="list.value"
                  :label="list.label"
                  :value="list.value">
                </el-option>
              </el-select>
            </div>
            <div class="d-right">
              <div role="pagination" class="pager">
                <div class="txt-pg">
                  <span class="current">1</span>
                  <span>3</span>
                </div>
                <button class="btn btn-line-b btn-prev"><i class="la la-angle-left"></i></button>
                <button class="btn btn-line-b btn-next"><i class="la la-angle-right"></i></button>
                <label for="goto">이동</label>
                <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
              </div>
            </div>
          </div>
        </section>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 날짜 선택 */
        searchDetail: '1',
        searchDate: 'month',
        datepicker: '',
        btnType: 'all',

        /* 업체 구분 */
        businessType: 'ALL',
        /* 정산 서류 */
        adjustSubmit: 'ALL',
        /* 정산 가능 여부 */
        adjustStatus: 'ALL',
        /* 소속 */
        usertype: 'ALL',
        
        /**
         * 리스트 개수 select
         */
        options: [{
          value: 'Option1',
          label: '10개씩 보기'
        }, {
          value: 'Option2',
          label: '50개씩 보기'
        }, {
          value: 'Option3',
          label: '100개씩 보기'
        }],
        viewList: '',

      }
    },
    methods: {
      /* collapse */
      handleChange(val) {
        console.log(val);
      }
    }
  })
</script>
</html>