/** 예외 스타일 페이지 **/
/* 로그인 -login */
.wrap-login {
	@include flexbox; @include align-items(center); @include justify-content(center);
    width:100%; height:100vh; margin:0 auto; text-align:center; background:$light-f;
    @include media-mb {padding-left:10px; padding-right:10px}
    .inner {width:370px}
    .head-tit {width:174px; height:46px; margin:0 auto 40px; @include hide-txt; background:url('../../../common/img/logo_fill.svg') no-repeat 0 0 / 100%}
    .form input {display:block; width:100%; height:50px; margin-bottom:10px; padding:0 20px; font-size:1.6rem}
    .form-option {
    	@include flexbox; @include align-items(center); margin:10px 0 25px; font-size:1.3rem;
        label {margin-right:10px; font-size:1.3rem}
        a {display:block; margin-left:auto; line-height:32px; color:$dark-6}
    }
    .btn-login {display:block; width:100%; padding:12px 0; box-shadow:0 4px 8px 0 rgba($dark-6,.4); @include fw-md; font-size:1.6rem}
    .txt-bottom {
    	margin-top:40px; font-size:1.4rem;
    	a {margin-left:10px; color:$dark-3; text-decoration:underline}
    	a:hover {color:$point}
    }
}

/** 공통 **/
/* layout */
.contents {
	max-width:1290px;
	& > section:last-child {margin-bottom:0}
	&.v-width-lg {max-width:1100px}
}
/* flex position */
.d-right {margin-left:auto}

/* mobile */
@include media-mb {	
	.m-column {
		@include flex-direction(column);
		.m-flex {@include flexbox}
	}
	body .m-hide {display:none}
}

/* box */
.bx-basic {position:relative; margin-bottom:20px; background:$white; @include bxshadow; border-radius:5px; overflow:hidden}
.wrap-basic {position:relative; background:$white; border:1px solid $light-d; border-radius:10px; overflow:hidden}

/* 정산가능여부 */
.txt-state {
	@include fw-md;
	//&span {display:inline-block}
	&:after {content:''; display:inline-block; width:4px; height:4px; margin:.4rem; border-radius:50%; vertical-align:text-top}
	&.success {
		color:$positive-gn;
		&:after {background:$positive-gn; box-shadow:0 0 4px $positive-gn}
	}
	&.fail {
		color:$danger-rd;
		&:after {background:$danger-rd; box-shadow:0 0 4px $danger-rd; @include animation('ani-fail 1s infinite');}
	    @include keyframes(ani-fail) {
	      0% {opacity:.1}
	      65% {opacity:1}
	      100% {opacity:.1}
	    }
	}
	//.no-inp & {@include align-self(center);}
}

/* 리스트 검색 */
.wrap-bx-search {
	.wrap-form {
		padding:0;
		dt {color:$dark-6; line-height:1}
		dd {margin-bottom:0}
	}
	&.el-collapse .el-collapse-item__header {
		height:40px; line-height:40px; color:$dark-3;
		&.is-active {border-bottom-color:$light-d; background:$white}
	}
	&.el-collapse .el-collapse-item.is-active .el-collapse-item__wrap {background:$white; border:0}
	&.el-collapse .el-collapse-item__content {
		position:relative; padding:10px 20px 0;
		@include media-mb {padding:10px}
		.row {
			margin:0 -5px;
			&:last-of-type {margin-bottom:0}
			@include media-md {margin-bottom:0}
		}
		div[class*="col-"] {
			padding-left:5px; padding-right:5px;
			@include media-md {margin-bottom:10px}
		}
		dl {padding-bottom:20px}
		input {width:100%}

		/* 상세검색 */
    	.row.detail dl {padding-bottom:6.4rem}
	}
	.el-date-editor--daterange.el-input__inner {
		width:100%;
		input {width:auto; max-width:38%}
	}
	.wrap-btn-arr {
		display:inline-block; margin-left:7px; font-size:0; vertical-align:middle;
		.btn-line {
			width:26px; height:26px; padding:0; vertical-align:middle;   border:1px solid $light-d; @include bg-gradient($white,$light-f,'vertical');
			&:first-child {border-radius:3px 0 0 3px}
			&:last-child {border-radius:0 3px 3px 0; border-left-width:0}
		}
		i {font-size:14px}
	}
	.col-xs-12.group-radio {
		@include media-mb {@include flexbox; @include justify-content(space-between)}
	}
	.el-radio {
		margin-right:1vw;
		&:last-of-type {margin-right:0}
		&__label {@include inline-flex; @include align-items(center)}
		button {
			cursor:not-allowed; outline:0;
			&:hover {color:inherit}
		}
		&.is-checked button {
			cursor:pointer; color:$point; border-color:$point;
			&:hover {background:$point; color:$white}
		}
	}
	/* 검색버튼 */
	.wrap-btn {
		@include absolute(null,null,20px,20px);
		@include media-md {position:relative; right:auto; bottom:auto; width:100%}
		.btn-search {padding:6px 20px}
		.btn-line-b {
		  i {font-size:1.4rem; @include transition(transform); vertical-align:baseline}
		  &.active i {transform:rotate(180deg)}
		}
	}
}
/* 단일형태 검색 */
.wrap-search {
	position:relative; @include flexbox; @include flex(1); width:100%;
	input.inp-txt {@include flex(1); padding-right:34px}
	.btn-search {
		position:absolute; right:0; bottom:auto; height:34px; padding:0 6px; border:0; background:transparent;
		@include media-md {width:auto}
		i {font-size:20px; transform:scaleX(-1); line-height:34px; color:$dark-3}
	} 
}

/* 날짜 컨트롤러 -정산관리 */
.cal-control {
	position:relative; width:230px; margin:0 auto 30px; padding:10px; text-align:center; line-height:1;
	.txt {font-size:2rem; color:$dark-3}
	.btn {
		position:absolute; top:0; padding:10px;
		&.btn-prev {left:0}
		&.btn-next {right:0}
	}
}

/* 통계 위젯 */
.wrap-widget {
	margin:0 -7px 20px;
	@include media-mb {margin-bottom:10px}
	div[class*="col-"] {
		padding:0 7px;
		@include media-mb {margin-bottom:10px}
	}
	div[class*="widget-"] {
		position:relative; @include flexbox; @include bxshadow; border-radius:10px; overflow:hidden; background:$white;
    .colored {
      position:relative;
      &:after {content:''; @include absolute(null,null,20px,0); opacity:.3}
    }
		&.widget-rd {
      .colored {
        @include bg-gradient($rd-dk,$rd-lt,'horizontal');
        &:after {width:83px; height:60px; background:url('../img/img_bg_pay.svg') no-repeat 50% 50% / 100%}
        &, dd {color:$white}
      }
      dd {color:$rd-dk}
		}
		&.widget-yl {
      .colored {
        @include bg-gradient($warn-yl-dk,$warn-yl,'horizontal');
        &:after {width:83px; height:60px; background:url('../img/img_bg_pay.svg') no-repeat 50% 50% / 100%}
        &, dd {color:$white}
      }
      dd {color:$warn-yl-dk}
		}
		&.widget-pt {
      .colored {
        @include bg-gradient($point,$point-lt,'horizontal');
        &:after {width:90px; height:56px; background:url('../img/img_bg_linked.svg') no-repeat 50% 50% / 100%}
        &, dd {color:$white}
      }
      dd {color:$point}
		}
    &.widget-wt-rd {
      dt {color:$dark-6}
      dd {color:$rd-dk}
    }
    dl {
      position:relative; @include flex(1); width:100%; padding:1.5rem 2rem;/* ie10 */
      &:not(.colored):not(:last-of-type):after {content:''; position:absolute; right:0; top:15%; width:1px; height:70%; background:$light-d}
    }
		dt {
			margin-bottom:6px; font-size:1.3rem;
			@include media-mb {margin-bottom:6px; font-size:1.2rem}
		}
		.main-stat {
			dd {
				font-size:3rem;
				@include media-mb {font-size:2.2rem}
			}
		}
		&.horizon {
			@include flex-direction(column);
			&:after {
				bottom:auto; right:auto; top:45px; height:4.4rem;
				@include media-mb {display:none}
			}
			dl {
				@include flex(inherit);/* ie10 */
				@include media-mb {@include flexbox; @include align-items(center)}
			}
			dd {@include flex(1); text-align:right}
			.main-stat dt {@include media-mb {margin-bottom:0}}
		}
	}
}
.tab-lg .wrap-widget div[class*=widget-] {box-shadow:none}

/* 게시판 리스트 toggle sticky layout */
[data-v-sticky-container]{
  position:relative; @include flexbox; @include align-items(flex-start);
  
  /* 리스트 영역 */
  .board {
    @include flex(3); @include transition(all); margin-bottom:0;
    /* 우측 설정 열리면 클래스 추가됨 */
    &.active {
      @include flex(2); margin-right:20px;
      & ~ .bx-right {margin-right:0; opacity:1}
    }
  }
  /* 우측 설정 영역 */
  .bx-right {
    @include transition(margin,opacity); width:540px; margin-right:-540px; opacity:0;    
    /* 내용 영역 */
    .bx-con {overflow:auto}
  }  
}

/* flex 공통 */
.flex-wrap {
  @include flexbox;
  & > *:not(:first-child) {margin-left:10px}
}

/* 게시판 */
.board-list {
	position:relative; margin:0; padding:0; overflow-x:auto;
	table {width:100%}
	th, td {border-bottom:1px solid $light-d; text-align:left; line-height:100%; white-space:nowrap}
	thead th {
		padding:10px; color:$dark-6; font-size:1.3rem; @include fw-md; text-align:center; 
		background:$light-f; border-bottom:2px solid $light-d
	}
	tbody {
		background:$white;
		tr {
			&:hover {cursor:pointer}
			&.total td {@include fw-bd}
			.td-blank {padding:6vh 10px; background-color:$white}
			/* 선택된 tr */
			&.checked > td {background:rgba($warn-yl,.1)}
		}
		th {padding:12px 15px; font-size:1.4rem; @include fw-md; color:$dark-3}
		td {
			padding:10px; color:$dark-3; font-size:1.4rem; @include transition(background); text-align:center; vertical-align:top; white-space:normal;
			&.td-btns {
				.btn {display:block; width:100%; max-width:130px; margin-left:auto; margin-right:auto}
				.btn:not(:first-child) {margin-top:5px}
			}
			&.td-labels {white-space:normal}
			b {@include fw-md}
		}
		.txt-gn {color:$positive-gn}
	    /* 상호명/ID */
	    p.fw-md {margin-bottom:5px; font-size:1.6rem}
	    .txt-id {color:$dark-9}
	}
	.va-top {vertical-align:top}
	.va-mid {vertical-align:middle}
	.ta-left {text-align:left}
	.ta-right {text-align:right}
	.ta-center {text-align:center}

	/* checkbox -텍스트 없는 형태 */
	.inp-check {
		width:20px; height:20px; vertical-align:top;
		.checkmark {top:0}
	}
}

/* 테이블 */
.tbl-xs {
	width:100%; margin:0; border:1px solid lighten($point,20%);

	/* 게시판 셀 안에 테이블 */
	tr {
		th, td {padding:.5rem 1rem; border:0 solid lighten($point,20%); text-align:left; line-height:1.4}
		th {background-color:lighten($point,26%); color:$dark-6; font-size:1.2rem; @include fw-dl; border-right-width:1px; border-bottom-width:1px}
		td {color:$dark-3; border-bottom-width:1px}
		&:last-child {
			th, td {border-bottom:0}
		}
	}
	.board-list & td, &.tbl-row td {font-size:1.2rem; @include fw-md; white-space:nowrap}
	.flex-wrap {@include justify-content(space-between); @include align-items(center)}
	.btn {height:24px; margin:0 0 0 auto; line-height:24px}

	/* 마진 테이블 */
	&.tbl-col thead th {border-right-width:0; border-bottom:1px solid lighten($point,20%)}
	&.tbl-col td {border-color:$light-d; font-size:1.4rem; @include fw-dl}
}

/* 게시판 데이터 빈 화면 */
body .td-blank {
	text-align:center;
	i {margin-bottom:10px; font-size:40px; color:$light-d}
	p {color:$light-d; font-size:1.2rem}
}
.f-right {
	@include absolute(null,-50px,0,null);
	@include media-md {position:relative; top:auto; margin-bottom:10px; text-align:right}	
	.txt-s {margin:0 5px; line-height:24px; font-size:1.2rem; color:$dark-9}
}
/* 게시판 옵션 */
.tbl-filter {
	position:relative; @include flexbox; @include align-items(flex-end); height:54px; padding:10px 20px; background:$white;
	&.transparent {
		height:auto; min-height:28px; margin:0 0 10px; padding:0; background:transparent; border:0;
		/* 버튼영역 */
		.btn:not(:first-child) {margin-left:5px}
	}
	@include media-mb {
		padding:10px;
		.el-select .el-input {width:30vw}
	}

	/* 총 카운트 텍스트 */
	.txt-result {font-size:1.4rem}

	/* 페이징 */
	.pager {
		@include flexbox; @include align-items(center); font-size:1.2rem;
		.txt-pg {
			margin-right:8px; @include fw-dl; color:$dark-9;
			.current {@include fw-bd; color:$dark-3}
			span:last-child:before {content:'/'; display:inline-block; margin-right:3px}
		}
		.btn {
			width:32px; height:32px; padding:0;
			&:not(:first-child) {margin:0 1px}
			i {font-size:15px; line-height:100%}
		}
		label {margin:0 2px 0 5px}
		.inp-txt {width:40px}
	}
}
/* 입력폼 박스, 리스트 오른쪽 상세 영역 */
.bx-basic {
	.bx-tit {
		@include flexbox; @include align-items(center); margin:0; padding:10px 20px; border-bottom:1px solid $light-d;
		.tit {font-size:1.4rem; @include fw-rg; color:$dark-3}
		button {margin-left:auto; padding:0; font-size:1.8rem; color:$dark-9}
	}
	.bx-con {
		padding:15px 20px 30px;
		.row-con:not(:last-of-type) {margin-bottom:20px}
		.tit {margin:0 0 4px; font-size:1.3rem; @include fw-rg}
		/* 첨부파일 목록 */
		.list-file {
			margin-top:4px;
			li {
				position:relative; @include flexbox; @include align-items(center); padding:5px 10px; border:1px solid $light-d; background:rgba($dark-9,.2);
				font-size:1.2rem; color:$dark-3;
				&:not(:first-of-type) {margin-top:-1px}
				button {
					margin-left:auto; padding:3px; font-size:1.4rem; color:$dark-9; @include transition(color); background:transparent;
					&:hover {color:$danger-rd}
				}
			}
		}
		textarea {width:100%}
	}
	&.bx-right {
		.bottom-btn .btn {min-width:0; padding:10px 26px; font-size:1.4rem}

		/* 폼형태 -익일정산신청 */
		.wrap-form {padding:10px 0 0}
	}
}

/* 입력폼 */
.wrap-form {
	padding:20px 25px;
	@include media-mb {padding:15px}
	dl {padding-bottom:10px}
	dt {
		margin-bottom:4px; font-size:1.3rem;
		/* 필수입력 표시 */
		&.must label:after {content:'*'; margin-left:3px; @include fw-bd; color:$point}
	}
	dd {
		@include flexbox; min-height:34px; margin-bottom:4px; font-size:1.4rem; color:$dark-3;
		& > .inp-txt, & > .el-select {@include flex(1)}

		/* flex */
		.flex1 {@include flex(1)}
		.flex2 {@include flex(2)}
		.flex3 {@include flex(3)}
	}
	/* 에러메시지 */
	.txt-error {min-height:0; margin:0; color:$danger-rd; font-size:1.2rem}

	.inp-txt {min-height:34px}
	/* dd 내 요소가 인라인 나열일 때 여백 주기 */
	.btn:not(:first-child) {margin-left:5px}
	.ele-inline *:not(:first-child) {margin-left:5px}
	.bottom-btn {margin-top:30px}

	/* 제목과 내용이 일렬로 된 스타일 */
	&.horizon {
		padding:20px 20px 6px;
		dl {@include flexbox; max-width:600px; margin:0 auto; padding-bottom:14px}
		dt {min-width:100px; margin:7px 14px 0 0; text-align:right}
		dd {@include flex(1); @include flex-direction(column); @include justify-content(center); margin:0}
		/* 주소 */
		.f-row {@include flexbox; margin-bottom:5px}
	}
}
.el-tabs__content .wrap-form {
	@include media-mb {padding:0}
}
.no-inp {padding:0 10px; background:$light-f; line-height:34px; color:$dark-6; border-radius:3px}

/* 라벨스타일 */
*[class*="label-"] {
  display:inline-block; padding:3px 7px; border-radius:10px; @include fw-md; font-size:1.2rem; vertical-align:top;
  &.label-lg {padding:8px; font-size:1.4rem}
}
.label-new {padding:2px 5px; background:rgba($positive-gn,.1); color:$positive-gn; font-style:normal; @include fw-bd; font-size:10px}
.label-default {background:rgba($point,.1); color:$point}
.label-gy {
	background:rgba($dark-6,.1); color:$dark-6;
	.txt-s {@include fw-dl}
	b {color:$dark-3}
}

/* 하단 큰 버튼 */
.bottom-btn {
	margin-top:30px; text-align:center;
	@include media-mb {position:fixed; left:0; right:0; bottom:0; @include flexbox; box-shadow:0 2px 5px rgba($dark-3,.5); z-index:10}
	.btn {
		min-width:120px; @include margin-padding(all,0 5px,all,12px); font-size:1.6rem; box-shadow:0 4px 8px rgba($dark-6,.3); text-align:center;
		@include media-mb {@include flex(1); margin:0; padding-left:0; padding-right:0; border-radius:0}
	}
	.btn-disable {box-shadow:none}
}
/* 버튼 여러개 묶음 */
.wrap-btns .btn:not(:first-of-type) {margin-left:5px}

/* 하단 부가적 텍스트 영역 */
.txt-caution {
	margin-top:5px; font-size:1.1rem;
	.title {margin:0 0 5px; color:$dark-3; @include fw-md;}
	.list-type li {margin-bottom:2px}
}

/* 목록 텍스트 */
.bx-gry {
	@include margin-padding(all,10px 0,all,15px); background:$light-f;
	@include media-mb {padding:10px}
}
.list-type {
	& > li {
	    list-style:none; position:relative; padding-left:8px; margin-bottom:10px; line-height:1.5;
	    &:before {
	        content:''; display:block; @include absolute(0,7px,null,null); width:3px; height:3px;
	        border-radius:50%; background-color:$dark-6
	    }
	    &:last-of-type {margin-bottom:0}
	}
	&.decimal {
		padding-left:15px;
		& > li {
			list-style:decimal; padding-left:0;
			&:before {display:none}
		}
	}
}
.list-radio {
	margin:5px 0; border:1px solid $light-d; border-left:0; border-right:0;
	li .el-radio {
		display:block; padding:5px 10px;
		&:hover, &.is-checked {background:$light-f}
		@include media-mb {padding:2px 10px}
	}
}

/* 웰컴 컨텐츠 */
.wrap-intro {
	h2 {margin:0; padding:20px; font-size:1.8rem; color:$dark-3}
	.tit {
		position:relative; background:url('../img/bg_shape1@2x.png') no-repeat 0 0 / 310px; background-position:right 10px top;
		@include media-pc {background-position:right top}
	}
}

/* 홈 -main
.vue-main {
	.wrap-intro {
		.tit {@include fw-lt}
		.logo {display:inline-block; width:93px; height:24px; margin-left:6px; vertical-align:text-bottom}
		ul li {
			@include flexbox; @include align-items(center); padding:10px 20px; border-top:1px solid $light-d;
			@include media-mb {padding:12px}
			dl, p {
				@include flex(1);
				@include media-mb {margin-right:10px}
			}
			dt, p {font-size:1.4rem}
			p {color:$point}
			&:hover {background:$light-f}
		}
		.arrow {margin-right:10px; font-size:1.4rem; color:$dark-9}
		.opened {
			background:$light-f;
			.arrow {@include align-self(flex-start); line-height:20px}
			dt {@include fw-md; font-size:1.4rem; color:$dark-3}
			dd {margin-top:10px; @include fw-lt; font-size:1.4rem}
		}
		.btn-close {
			margin-left:10px; font-size:20px; color:$dark-9; @include transition(color);
			&:hover {color:$dark-3}
		}
	}
	.wrap-divide {
		@include flexbox;
		@include media-pc {display:block}
		.banner {
			position:relative; padding:14px; font-size:1.6rem; color:$white; border-radius:5px;
			&:after {content:''; position:absolute; right:3%; bottom:0; opacity:.5}
		}
	}
	.wrap-state-flex {
		@include flexbox; @include flex(1); @include align-items(center); @include flex-direction(column); margin-right:20px;
		@include media-pc {margin-right:0}
	}
	.wrap-state {
		@include flexbox; @include align-items(center); width:100%; margin:0 0 10px;
		@include media-mb {@include flex-direction(column)}
		.txt-state {
			font-size:1.8rem;
			&:before {width:8px; height:8px}
		}
		.lookup-api {
			margin-left:auto; padding-right:70px; @include bg-gradient($warn-yl-dk,$warn-yl,'horizontal');
			@include media-mb {width:100%; margin:10px 0 0}
			&:after {width:57px; height:43px; background:url('../img/img_bg_lookup.svg') no-repeat 0 0 / 100%}
		}
	}
	.wrap-chart-today {
		width:100%; padding:15px 20px;
		.tbl-filter {
			margin-bottom:15px;
			@include media-mb {@include align-items(center); @include justify-content(space-between); margin-bottom:0}
			.d-left {@include flexbox}
			dt {min-height:20px; margin-bottom:8px; font-size:1.4rem}
			.today {
				margin-right:30px; color:$point;
				@include media-mb {@include flex(1)}
			}
			.yesterday {color:$dark-3}
			.yesterday dt .el-input {
				&__inner {position:relative; width:85px; height:20px; padding:0; border:0; font-size:1.4rem}
				&__prefix, &__suffix {visibility:hidden}
				&:after {content:''; position:absolute; right:3px; top:3px; width:6px; height:13px; opacity:1; background:url('../img/arrow_select.svg') no-repeat 0 0 / 100%}
				input::placeholder {color:$dark-6}
			}
			.d-right {
				@include media-mb {
					margin:0 0 0 auto;
					.el-select .el-input {width:100%}
				}
			}
		}
	}
	.wrap-widget {
		@include flexbox; margin:0 0 20px;
		div[class*="widget-"] {
			width:18vw; max-width:272px; @include flex-direction(column);
			@include media-pc {max-width:100%; width:50%}
			&:after {bottom:55px}
			dt {font-size:1.6rem}
			dd {font-size:4rem}
		}
		div.widget-sk {
			margin-right:20px; @include bg-gradient($sub-sk-dk,$sub-sk,'horizontal');
			a {color:$sub-sk}
		}
		div.widget-pt {
			@include bg-gradient($point,$point-lt,'horizontal');
			&:after {width:97px; height:55px; background-image:url('../img/img_bg_addstore.svg')}
			a {color:$point}
		}
		a {
			display:block; padding:13px; background:rgba($white,.8); border-radius:5px; text-align:center; @include fw-md; font-size:1.6rem; @include transition(background);
			&:hover {background:rgba($white,1)}
		}
	}
	.bx-basic .tbl-filter {height:auto; padding:0; border:0; @include align-items(flex-start)}
	.wrap-chart-list {
		h2.tit {margin:0; padding:15px 20px 0; font-size:1.6rem; color:$dark-3}
		.tbl-filter {
			padding:15px 20px;
			& > *:not(:last-child) {margin-right:10px}
			.flex-wrap {flex:1 1 60%}
			.txt {font-size:1.4rem}
			.wrap-btns {margin-left:auto}

			@include media-pc {
				@include flex-wrap(wrap); @include align-items(center);
				.flex-wrap {display:none}
			}
		}
		.list-chart li {
			@include flexbox; @include align-items(center); padding:15px 20px; background:$light-f; border-top:1px solid $light-d;
			@include media-mb {padding:15px}
			dl {@include flex(0 0 46%)}
			dt {margin-bottom:8px; font-size:1.4rem}
			&.total dd {color:$point}
			&.pay dd {color:$rd-dk}
			&.calc dd {color:$positive-gn}
			.wrap-chart {@include flex(1 0 54%); margin-left:auto}
		}
		.edit {
			&.tbl-filter {@include align-items(center)}
			&.list-chart li {
				position:relative; padding-left:45px; cursor:move;
				&:hover:before {content:"\f0c9"; position:absolute; left:20px; top:50%; transform:translateY(-50%); font:900 16px/1 'Line Awesome Free'}
				.txt {margin-left:10px; font-size:1.6rem}
			}
		}
	}
} */

/* 리셀러 판매점 등록, 비밀번호 변경 -..Insert, settingPassword */
.wrap-autoadd {
  max-width:600px; margin:20px auto; text-align:center; font-size:1.4rem;
  .tit {
    margin-bottom:6px; font-size:1.8rem; @include fw-md; color:$dark-3;
    i {font-size:2.6rem; color:$positive-gn; vertical-align:bottom}
  }
  .form {
    @include flexbox; margin-top:20px;
    input {@include flex(1); margin-right:5px; font-size:1.4rem; border-color:transparent}
  }
  .wrap-info {
    display:table; width:100%; margin-top:50px;
    @include media-mb {display:block}
    .con {
      display:table-cell; width:45%; padding:40px 10px 25px; background:rgba($positive-gn,.1);
      img {width:135px; height:82px}
      .txt {margin-top:20px; font-size:1.3rem}
      @include media-mb {
        display:block; width:auto; padding:20px;
        .txt {margin-top:10px}
      }
    }
    .or {
      display:table-cell; vertical-align:middle; color:$dark-9;
      @include media-mb {display:block; margin:5px}
    }
  }
}
/* 비밀번호 변경 -settingPassword */
.vue-password .wrap-autoadd {
	margin:40px auto;
	.wrap-form {padding:5rem 0 6px}
}

/* 리셀러/판매점관리 리스트 -MemberList */
.vue-rslist {
  /* 게시판 */
  .board-list .tbl-xs .btn-txt {
    margin-left:3px; padding:2px 3px; font-size:1.6rem; color:$warn-yl; @include transition(all); border-radius:3px;
    &:hover {background:$warn-yl; color:$white}
  }
}

/* 리셀러/판매점 리스트, 상세 공통 */
.bx-con {
	/* 결제설정, API설정 공통 - switch 우측 정보 */
	.el-tab-pane .wrap-form dd.inline .d-right {
		* {display:inline-block; vertical-align:middle; font-size:1.3rem}
		.title {
			margin:0; @include fw-dl; color:$dark-9;
			&:not(:first-of-type) {margin-left:10px}
		}
		p {@include fw-md}
	}
	@media only screen and (max-width:1540px) {
		.el-tab-pane .wrap-form dd {
			@include flex-direction(column); @include justify-content(center);
			.el-switch {margin:5px auto 0 0}
			.el-switch ~ .d-right {margin:0 auto 0 0}
		}
	}
	/* 결제설정, API설정 - 수단 */
	.tab-pay-use .wrap-form, .tab-api-use .wrap-form {
		dt {min-width:60px}
		@media only screen and (min-width:1540px) {
			dd {@include flex-direction(inherit); @include align-items(center)}
		}
	}

	/* 결제설정 - 결제마진 */
	.tab-pay-margin .tbl-xs thead th {letter-spacing:-0.1rem}

	/* 결제설정 - 결제한도 */
	.tab-pay-limit {
		.wrap-form .dl-limit {
			width:auto; margin:0 auto;
			dt {width:auto}
		}
		.list-type {
			display:table; margin:0 auto 4px;
			li {margin-bottom:2px; font-size:1.3rem}
		}
		.txt-s {text-align:center; color:$dark-9}
	}	
	/* API설정 - 사용 */
	.tab-api-use dt {width:85px}
}

/* 결제 현황 조회 - 리셀러/판매점 목록, 상세 공통 */
.pay-inquiry {
	.wrap-search {
		margin-bottom:30px;
		.row {@include flexbox; margin:0 -5px}
		.col-md-3 {
			width:auto; padding-left:5px; padding-right:5px;
			&:first-child {@include flex(1)}
		}
	}
	.wrap-widget .widget-wt-rd {
		dl {padding:1rem 1.5rem}
		dd {font-size:2.4rem}
	}
	.tbl-xs td {padding:.5rem; font-size:1.2rem}
}

/* 부가세 자료 조회 - 리셀러/판매점 목록, 상세 공통 */
.pay-tax {
	.wrap-search {
		margin-bottom:30px;
		.el-radio-group {margin-left:5px}
	}
	section {margin-top:20px}
	.tit-md {@include align-self(center)}
	.flexbox .no-inp {
		font-size:1.3rem;
		dt {display:inline-block; margin-right:10px}
		dt:not(:first-child) {margin-left:20px}
		dd {display:inline-block; color:$dark-3}
	}
	.tbl-col {
		margin-top:10px;
		th {text-align:center}
		td {font-size:1.2rem}
		.ta-right {@include fw-md}
	}
}

/* 정산 서류 제출 */
.bx-right.bx-docu .row:first-of-type {margin-bottom:2rem}

/* 판매점 상세 */
.vue-rsdetail {
	/* 왼쪽 정보 */
	.side-info {float:left; width:320px; padding:3rem 2rem}
	.user-info {
		& > i {
			float:left; display:table; width:60px; height:60px; border-radius:50%; @include bg-gradient($sub-sk,$sub-sk-dk,'horizontal');
			span {display:table-cell; vertical-align:middle; text-align:center; font-size:1.6rem; font-style:initial; color:$white}
		}
		dl {padding-left:76px}
		.user-name {
			@include fw-md; font-size:1.6rem; color:$dark-3;
			.label-gy {@include fw-dl; font-size:1.1rem}
		}
		.user-id {margin:2px 0 8px; color:$dark-9; font-size:1.3rem}
		button:last-child {margin-left:4px}
	}
	.list-info {
		margin:40px 0; font-size:0;
		dt, dd {display:inline-block; min-height:24px}
		dt {width:28%; text-align:right; @include fw-md; font-size:1.3rem; color:$dark-9}
		dd {width:66%; margin-left:6%; font-size:1.4rem; color:$dark-3; word-break:break-word}
	}
	.info-nav li {
		@include flexbox; @include align-items(center); height:43px; 
		margin-bottom:4px; padding:0 15px; cursor:pointer; @include fw-md; color:$dark-3; border-radius:5px; @include transition(all);
		i {font-size:20px; opacity:.4}
		span {margin-left:8px; font-size:1.4rem}
		.la-angle-right {margin-left:auto}
		&:hover, &.on {
			background-color:lighten($point,26%); color:$point;
		}
	}

	/* 오른쪽 상세영역 */
	.bx-right {
		display:none; float:left; width:calc(100% - 340px); margin-left:20px;
		&.on {display:block}
	}

	/* 익일정산 신청 */
	.bx-nextadjust {
		.txt-sm {text-align:center}
		.wrap-form.horizon dt {width:20%}
	}
}


/* 유료API관리 */
.vue-apilist, .vue-apistats {}


/* 정산관리 공통 -AdjustSalesList, AdjustApiList */
.v-aj-salelist {
	.wrap-widget [class*="widget-"] {
		.colored {
			padding:2rem 3rem;
			dt {@include fw-md; font-size:2rem}
			dd {font-size:1.2rem}
		}
		&.widget-pt .colored:after {width:64px; height:56px; background:url('../img/img_bg_cash.svg') no-repeat 50% 50% / 100%}
		.txt {font-size:1.8rem}
	}  
	.board-list {
		th, td {vertical-align:middle}
		.total td {padding:15px 10px; border-bottom:0}
	}
	/* 데이터 없는 경우 */
	.pg-blank {
		margin-top:10vh; text-align:center; color:$dark-3;
		dl {margin-bottom:6rem}
		dt {margin-bottom:1rem; font-size:2.6rem; @include fw-md}
		dd {font-size:1.4rem}
		img {max-width:380px}
	}

 	/* 결제마진 정산 -AdjustSalesList */
	.row.wrap-widget [class*="widget-"] {@include flex-direction(column)}
	/* 목록 상단 제목 */
	.tbl-filter.transparent {
		.d-left {
			@include align-self(center);
			.tit-md {display:inline-block}
		}
		.d-right {
			.txt {font-size:1.4rem; vertical-align:middle}
			.btn {vertical-align:middle}
		}
	}
}

/* 설정 -settingMypage */
.vue-setting {
  /* 계정정보 */
  .wrap-form.horizon dt {min-width:112px}
}

/* 기본 마진 설정 -SettingMargin */
.v-mg-setting {
  .bx-gry .list-type li {font-size:1.3rem; margin-bottom:4px}
  .tbl-xs {margin-top:3rem}
  .txt-s {margin-top:4px; color:$dark-9}
}

/* 고객센터 */
/* 공지사항,문의내역 -boardList */
.v-board-list {
  .board-tit {
    display:block; @include transition(color);
    &:hover {color:$point}
  }
}

/* 공지사항,문의내역 상세 -boardDetail */
.v-board-detail {
  .bx-tit {
    padding:2rem 3rem;
    h3 {margin:0 0 0 10px; @include fw-md; font-size:1.6rem; color:$dark-3}
    .d-right {
      @include flexbox; @include align-items(center); font-size:1.3rem;
      dt {color:$dark-9}
      dd {margin-left:8px; @include fw-md; color:$dark-3}
      .btn-line-rd {margin-left:10px}
    }
  }
  .bx-con {padding:3rem; font-size:1.3rem}
  
  /* 문의내역 */
  .bx-basic.answer {
    border:2px solid $point;
    h3 {color:$point}
  }
}

/* 자주 묻는 질문 -boardFaq */
.v-faq {
  .faq-search {
    max-width:480px; margin:20px auto 30px;
    .inp-txt {height:44px; padding:10px 20px; border:2px solid $point; border-radius:30px; font-size:1.6rem}
    .btn-search {right:10px; top:5px}
  }
  .el-tabs.tab-md .el-tabs__content {
    position:relative; background:$white; border-radius:5px; @include bxshadow; overflow:hidden
  }
}
