<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="h-manage"></div>
    <!--template-->
    <div class="wrap-content">
      <div class="container">
        <div class="row">
        <!--breadcrumb-->
          <section class="page-info">
            <h2 class="tit">고객/적립금 관리</h2>
            <div class="breadcrumb">
              <ul>
                <li>홈</li>
                <li>고객관리</li>
                <li>고객/적립금 관리</li>
              </ul>
            </div>
          </section><!--//breadcrumb-->
          <!--페이지내용-->
          <div class="contents vue-managelist">
            <div class="summary">
              <div class="col-xs-6 col-sm-3 card customer">
                <dl>
                  <dt>실번호 고객 DB</dt>
                  <dd><b>206</b> 명</dd>
                </dl>
              </div>
              <div class="col-xs-6 col-sm-3 card all">
                <dl>
                  <dt>고객 적립</dt>
                  <dd><b>297,000</b> 원 &sol; 34명</dd>
                </dl>
              </div>
              <div class="col-xs-6 col-sm-3 card paid">
                <dl>
                  <dt>고객 사용</dt>
                  <dd><b>212,000</b> 원 &sol; 13명</dd>
                </dl>
              </div>
              <div class="col-xs-6 col-sm-3 card remain">
                <dl>
                  <dt>현재 잔액</dt>
                  <dd><b>85,000</b> 원 &sol; 21명</dd>
                </dl>
              </div>
            </div>
            <div class="search-filter">
              <section>
                <div class="wrap-date">
                  <el-date-picker
                    v-model="sDate"
                    type="date"
                    placeholder="시작일 선택">
                  </el-date-picker>
                  <span class="date-as">~</span>
                  <el-date-picker
                    v-model="eDate"
                    type="date"
                    placeholder="종료일 선택">
                  </el-date-picker>
                </div>
                <el-radio-group v-model="setDay" class="btngroup">
                  <el-radio-button label="전체"></el-radio-button>
                  <el-radio-button label="오늘"></el-radio-button>
                  <el-radio-button label="어제"></el-radio-button>
                  <el-radio-button label="금주"></el-radio-button>
                  <el-radio-button label="전주"></el-radio-button>
                  <el-radio-button label="금월"></el-radio-button>
                  <el-radio-button label="전월"></el-radio-button>
                </el-radio-group>
              </section>              
              <el-select v-model="listGroup" placeholder="그룹 선택">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <div class="wrap-search">
                <input type="search" class="inp-txt" placeholder="검색어 입력">
                <a class="btn-search">
                  <i class="la la-search"></i>
                </a>
              </div>
            </div>
            <div class="bottom-btn">
              <!--검색 조회하면 버튼 노출
              <button class="btn btn-primary">검색조회된 전체 고객에게 이벤트 문자 보내기 <i class="la la-angle-right"></i></button>-->
            </div>
            <div class="tbl-filter m-column">
              <!--목록 선택 시 disabled 값 삭제되게-->
              <div class="m-flex">
                <button class="btn btn-redline" disabled="disabled">선택고객 삭제</button>
              </div>
              <div class="wrap-right m-flex">
                <button class="btn">&plus; 고객등록</button>
              </div>
            </div>
            <section class="board-list">
              <table>
                <colgroup>
                  <col width="50px">
                  <col width="30%">
                  <col>
                  <col>
                  <col>
                  <col>
                  <col width="240px">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col"><!--check 시 부모 tr에 class 추가-->
                      <label class="inp-check box" for="listAll">
                        <input id="listAll" name="listAll" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </th>
                    <th scope="col">전화번호</th>
                    <th scope="col">그룹</th>
                    <th scope="col">등록일</th>
                    <th scope="col">최근 이용일</th>
                    <th scope="col">적립금 잔액</th>
                    <th scope="col">관리</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list1">
                        <input id="list1" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td onclick="document.location = 'detail.html';">010-14**-4543</td>
                    <td>VVIP</td>
                    <td>2019-08-30</td>
                    <td>2019-11-06</td>
                    <td>4,000</td>
                    <td class="btns">
                      <button @click="pointManageModal = true" class="btn btn-xs btn-redline">적립금 관리</button>
                      <button @click="pointHistoryModal = true" class="btn btn-xs">사용내역</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list2">
                        <input id="list2" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td onclick="document.location = 'detail.html';">010-75**-1791</td>
                    <td>VIP</td>
                    <td>2019-08-30</td>
                    <td>2019-10-15</td>
                    <td>1,000</td>
                    <td class="btns">
                      <button @click="pointManageModal = true" class="btn btn-xs btn-redline">적립금 관리</button>
                      <button @click="pointHistoryModal = true" class="btn btn-xs">사용내역</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="inp-check box" for="list3">
                        <input id="list3" name="list" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td onclick="document.location = 'detail.html';">010-57**-6545</td>
                    <td>일반</td>
                    <td>2019-08-30</td>
                    <td>2019-08-30</td>
                    <td>4,000</td>
                    <td class="btns">
                      <button @click="pointManageModal = true" class="btn btn-xs btn-redline">적립금 관리</button>
                      <button @click="pointHistoryModal = true" class="btn btn-xs">사용내역</button>
                    </td>
                  </tr>
                  <!--데이터 없을 경우 노출
                  <tr>
                    <td colspan="6" class="td-blank">
                      <i class="el-icon-chat-dot-round"></i>
                      <p>표시할 내용이 없습니다.</p>
                    </td>
                  </tr>-->
                </tbody>
              </table>
            </section>
            <div class="tbl-filter">
              <div role="pagination" class="pager">
                <div class="txt-pg">
                  <span class="current">1</span>
                  <span>3</span>
                </div>
                <button class="btn btn-prev"><i class="la la-angle-left"></i></button>
                <button class="btn btn-next"><i class="la la-angle-right"></i></button>
                <label for="goto">이동</label>
                <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
              </div>
              <div class="wrap-right">
                <button class="btn m-hide">인쇄</button>
              </div>
            </div>
          </div><!--//페이지내용-->
        </div>
      </div>

      <!--modal-->
      <el-dialog :visible.sync="pointManageModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-point">
        <div class="pop-title" slot="title">적립금 관리</div>
        <div class="contents">
          <div class="bx-gry">
            <p class="txt-lg">010-39**-2115</p>
            <dl>
              <dt>적립금 잔액</dt>
              <dd><b>2,000</b>원</dd>
            </dl>
          </div>
          <p class="ta-center">금액 입력 후 처리할 메뉴를 눌러주세요.</p>
          <dl class="form-dl">
            <dt>금액 입력</dt>
            <dd>
              <div class="inp-price">
                <input placeholder="0" type="tel" class="num-txt">
              </div>
            </dd>
          </dl>
          <div class="list-radio">
            <ul>
              <li>
                <el-radio label="use" v-model="pointState">적립금으로 할인 처리 (적립금 사용)</el-radio>
              </li>
              <li>
                <el-radio label="useCancel" v-model="pointState">적립금 할인 취소 처리 (적립금 사용 취소)</el-radio>
              </li>
              <li>
                <el-radio label="insert" v-model="pointState">적립금 지급하기</el-radio>
              </li>
              <li>
                <el-radio label="insertCancel" v-model="pointState">적립 취소하기</el-radio>
              </li>
            </ul>
          </div>
        </div>
        <div slot="footer">
            <button @click="pointManageModal = false" class="btn">취소</button>
            <button class="btn btn-primary">적용</button>
        </div>
      </el-dialog>

      <el-dialog :visible.sync="pointHistoryModal" :close-on-click-modal="false" @close="cancel" class="pop-layer pop-point">
        <div class="pop-title" slot="title">적립금 사용내역</div>
        <div class="contents">
          <div class="bx-gry">
            <p class="txt-lg">010-39**-2115</p>
            <dl>
              <dt class="d-inblock">적립금 잔액</dt>
              <dd class="d-inblock"><b>0</b>원</dd>
            </dl>
          </div>        
          <section class="board-list">
            <table>
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">구분</th>
                  <th scope="col">금액</th>
                  <th scope="col">작성일자</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="sub">사용</span>
                  </td>
                  <td>4,000</td>
                  <td>2019-08-30</td>
                </tr>
                <tr>
                  <td>
                    <span class="add">적립</span>
                  </td>
                  <td>1,000</td>
                  <td>2019-08-30</td>
                </tr>
                <tr>
                  <td>
                    <span class="sub">사용</span>
                  </td>
                  <td>1,000</td>
                  <td>2019-08-30</td>
                </tr>
                <!--데이터 없을 경우 노출
                <tr>
                  <td colspan="3" class="td-blank">
                    <i class="el-icon-chat-dot-round"></i>
                    <p>표시할 내용이 없습니다.</p>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </section>
          <div class="tbl-filter">
            <div role="pagination" class="pager">
              <div class="txt-pg">
                <span class="current">1</span>
                <span>3</span>
              </div>
              <button class="btn btn-prev"><i class="la la-angle-left"></i></button>
              <button class="btn btn-next"><i class="la la-angle-right"></i></button>
              <label for="goto">이동</label>
              <input type="tel" id="goto" placeholder="0" value="1" class="inp-txt">
            </div>
          </div>
        </div>
        <div slot="footer">
            <button @click="pointHistoryModal = false" class="btn">닫기</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * header 모바일메뉴
         */
        mbMenu: ['mCustomer'],

        /**
         * 검색 날짜
         */
        sDate: '',
        eDate: '',

        /**
         * 검색 버튼 radio
         */
        setDay: '전체',

        /**
         * 고객리스트 검색 - 그룹 select
         */
        options: [{
          value: '그룹 전체',
          label: '그룹 전체'
        }, {
          value: 'VVIP',
          label: 'VVIP'
        }, {
          value: 'VIP',
          label: 'VIP'
        }, {
          value: '골드',
          label: '골드'
        }, {
          value: '일반',
          label: '일반'
        }],
        listGroup: '',

        /**
         * modal
         */
        pointManageModal: false,
        pointHistoryModal: false,

        /**
         * modal-적립금 처리 radio
         */
        pointState: 'use',
      }
    },
    methods: {
      /**
       * 모달 닫기(취소)
       */
      cancel() {
          this.modal = false
      },
    }
  })
</script>
</html>