<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>유디페이 API 관리</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/udpay/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/udpay/common/img/favicon-32x32.png" sizes="32x32">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      $("#incheader").load("../inc/header.html");
    });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="/pf/pf_ud/udpay/manage/assets/css/udapi.css">
</head>
<body>
  <div id="app">
    <div id="incheader"></div>
    <!--nav-->    
    <el-aside id="lnb" class="sidebar" v-show="leftView">
      <div class="sidebar-content">
        <el-menu class="sidebar-nav" :default-active="leftmenu" @open="handleOpen" @close="handleClose">
          <el-menu-item class="dep1" index="mmain" onclick="location.href='../main/'">
            <div class="el-menu-item-text">
              <i class="ico xi-dashboard-o"></i>
              <span>대시보드</span>
            </div>
          </el-menu-item>
          <el-submenu index="mmsg">
            <template slot="title" class="dep1">
              <i class="ico xi-mail-o"></i> 
              <span>문자 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mmsg1" onclick="location.href='../msg/'">연동설정</el-menu-item>
              <el-menu-item index="mmsg2" onclick="location.href='../msg/list.html'">발송내역</el-menu-item>
              <el-menu-item index="mmsg3" onclick="location.href='../msg/use.html'">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="mkakao">
            <template slot="title" class="dep1">
              <i class="ico xi-message-o"></i> 
              <span>카카오톡 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mkakao1">사전준비</el-menu-item>
              <el-menu-item index="mkakao2">연동설정</el-menu-item>
              <el-menu-item index="mkakao3">발송내역</el-menu-item>
              <el-menu-item index="mkakao4">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="maccount">
            <template slot="title" class="dep1">
              <i class="ico la la-paste"></i> 
              <span>계좌성명조회 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="maccount1">연동설정</el-menu-item>
              <el-menu-item index="maccount2">발송내역</el-menu-item>
              <el-menu-item index="maccount3">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="mpayment">
            <template slot="title" class="dep1">
              <i class="ico xi-won"></i> 
              <span>충전/입금관리</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mpayment1" onclick="location.href='../payment/'">결제하기</el-menu-item>
              <el-menu-item index="mpayment2" onclick="location.href='../payment/list.html'">충전내역</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </div>
      <div class="cs-info">
        <p class="cs-tit"><i class="xi-emoticon-happy-o"></i> 고객상담문의</p>
        <p class="cs-tel">1800-3925</p>
        <div class="cs-time">
          <p><span>평일</span><span>9:00 ~ 18:00</span></p>
          <p><span>휴무</span><span>주말, 공휴일 휴무</span></p>
        </div>
      </div>
    </el-aside>
    <!--//nav-->

    <!--template-->
    <section id="content">
      <section id="content-inner">
        <div class="title_box clearfix">
          <div class="ttBox">
            <h1 class="tt">문자 발송내역</h1>
          </div>
          <div class="location">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item :to="{ path: '../main/' }">
                <i class="xi-home-o"></i>
              </el-breadcrumb-item>
              <el-breadcrumb-item>문자 발송내역</el-breadcrumb-item>
            </el-breadcrumb>
          </div>
        </div>
        <el-row>
          <el-col :span="24">
            <div class="grid-content">
              <div role="alert" class="el-alert is-light list_head">
                <div class="el-alert__content">
                  <span class="el-alert__title is-bold">문자발송 연동사용</span>
                  <div class="el-alert__description" v-if="content">
                    문자를 안정적으로 전송할 수 있으며, 전송 실패 시 자동환불되는 API입니다.
                    <div class="text-danger">
                      * 이용 제한 문구가 포함된 경우 문제메시지가 발송되지 않습니다.
                    </div>
                  </div>
                </div>
                <el-switch v-model="apiUseYn" active-text="사용함" inactive-text="사용 안 함"></el-switch>
              </div>
            </div>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
            <el-card shadow="always" class="no_padding">
              <div class="cardBox contains with_schBar">
                <div class="list_sch">
                  <el-form :inline="true" ref="form">
                    <el-form-item>
                      <el-select placeholder="메시지 구분" size="small" v-model="smsSendType">
                        <el-option label="전체" value=""></el-option>
                        <el-option label="SMS" value="SMS"></el-option>
                        <el-option label="LMS" value="LMS"></el-option>
                        <el-option label="MMS" value="MMS"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item>
                      <el-date-picker
                      v-model="datePicker"
                      type="daterange"
                      align="left"
                      size="small"
                      start-placeholder="시작일"
                      end-placeholder="종료일"
                      ></el-date-picker>
                    </el-form-item>
                    <el-form-item>
                      <el-button type="primary" size="mini" icon="xi-search" plain>검색</el-button>
                    </el-form-item>
                  </el-form>
                </div>
                <div class="list_wrap">
                  <div class="table_head">
                    <div class="list_total">
                      총 2건의 등록 내역이 있습니다.
                    </div>
                    <div class="list_ct_btn">
                      <el-button size="medium" type="success" icon="xi-file-download-o" plain>
                        엑셀다운로드
                      </el-button>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <div class="el-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition">
                      <div class="el-table__header-wrapper">
                        <table class="el-table__header">
                          <thead class="has-gutter">
                            <tr>
                              <th>
                                <div class="cell">구분</div>
                              </th>
                              <th>
                                <div class="cell">총 건수</div>
                              </th>
                              <th>
                                <div class="cell">api 테스트 여부</div>
                              </th>
                              <th>
                                <div class="cell">상태</div>
                              </th>
                              <th class="td-content">
                                <div class="cell">내용</div>
                              </th>
                              <th>
                                <div class="cell">요청일</div>
                              </th>
                            </tr>
                          </thead>
                        </table>
                        <!-- //el-table__header -->
                      </div>
                      <!-- //el-table__header-wrapper -->

                      <div class="el-table__body-wrapper is-scrolling-left">
                        <table class="el-table__body">
                          <tbody>
                            <tr class="el-table__row">
                              <td>
                                <div class="cell">
                                  <div class="tag-group">
                                    <el-tag type="info" size="medium" effect="plain" class="el-tag--round">
                                      MMS
                                    </el-tag>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="cell text-primary under">2건</div>
                              </td>
                              <td>
                                <div class="cell">실제</div>
                              </td>
                              <td>
                                <div class="cell">
                                  <span class="text-primary">요청완료</span>
                                </div>
                              </td>
                              <td class="td-content">
                                <div class="cell">
                                  고객님, 보유하고 계신 멤버십 포인트 12,030원이 유효기간 만료로 06월 30일에 소멸될 예정입니다.<br>홈페이지를 통해 자세히 확인해주세요.<br>2021-06-01 12:31:28
                                </div>
                              </td>
                              <td>
                                <div class="cell">2021-06-01 12:31:29</div>
                              </td>
                            </tr>
                            <tr class="el-table__row">
                              <td>
                                <div class="cell">
                                  <div class="tag-group">
                                    <el-tag type="info" size="medium" effect="plain" class="el-tag--round">
                                      SMS
                                    </el-tag>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="cell text-primary under">25건</div>
                              </td>
                              <td>
                                <div class="cell">실제</div>
                              </td>
                              <td>
                                <div class="cell">
                                  <span class="text-danger">예약취소</span>
                                </div>
                              </td>
                              <td class="td-content">
                                <div class="cell">
                                  한** 고객님, 가정의 달 5월에는 가족들과 아름다운 추억을 만들어 보시길 바라며 활짝 웃는 5월 보내세요<br>2021-05-01 12:31:28
                                </div>
                              </td>
                              <td>
                                <div class="cell">2021-05-01 12:31:29</div>
                              </td>
                            </tr>
                            <!-- //el-table__row -->
                          </tbody>
                        </table>
                        <!-- //el-table__body -->
                      </div>
                      <!-- //el-table__body-wrapper -->
                    </div>
                    <!-- //el-table -->
                  </div>
                  <!-- //table-responsive -->
                  <div class="table_foot">
                    <el-pagination
                    layout="prev, pager, next"
                    :total="1"
                    :page-size="1"
                    class="list_pager"></el-pagination>

                    <div class="list_sort">
                      <el-select placeholder="보기 구분" v-model="pageSize" size="medium">
                        <el-option v-for="list in options"
                        :key="list.value"
                        :label="list.label"
                        :value="list.value"></el-option>
                      </el-select>
                    </div>
                  </div><!--//table_foot-->
                  <!-- //list_wrap -->
                </div>
              </div>
              <!-- //cardBox.contains -->
            </el-card>
          </el-col>
        </el-row>
      </section>

      <!--modal-->
      <el-dialog title="발송내역 상세보기" :visible.sync="msgDetailModal" :close-on-click-modal="false" @close="cancel" class="md">
        <el-row class="mgb15">
          <el-col class="none">
            <el-card class="no_padding" shadow="never">
              <div class="cardBox">
                <ul class="summary_to_sent">
                  <li>
                    <dl>
                      <dt>총 발송건수</dt>
                      <dd class="num-txt sm text-secondary">
                        <strong>2</strong>
                        <small>건</small>
                      </dd>
                    </dl>

                  </li>
                  <li>
                    <dl>
                      <dt>성공건수</dt>
                      <dd class="num-txt sm text-primary">
                        <strong>2</strong>
                        <small>건</small>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>실패건수</dt>
                      <dd class="num-txt sm text-danger">
                        <strong>0</strong>
                        <small>건</small>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>총 사용금액</dt>
                      <dd class="num-txt sm text-deep-primary">
                        <strong>24.10</strong>
                        <small>원</small>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </el-card>
          </el-col>
        </el-row>
        <div class="overflow_scroll">
          <div class="el-table el-table--fit el-table--enable-row-transition">
            <div class="el-table__header-wrapper">
              <table class="el-table__header">
                <thead class="has-gutter">
                  <tr>
                    <th>
                      <div class="cell">상태</div>
                    </th>
                    <th>
                      <div class="cell">수신번호</div>
                    </th>
                  </tr>
                </thead>
              </table>
              <!-- //el-table__header -->
            </div>
            <!-- //el-table__header-wrapper -->

            <div class="el-table__body-wrapper">
              <table class="el-table__body">
                <tbody>
                  <tr class="el-table__row">
                    <td>
                      <div class="cell">
                        <span class="text-primary">발송완료</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell">010-2121-4545</div>
                    </td>
                  </tr>
                  <tr class="el-table__row">
                    <td>
                      <div class="cell">
                        <span class="text-primary">발송완료</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell">010-3232-9898</div>
                    </td>
                  </tr>
                  <!-- //el-table__row -->
                </tbody>
              </table>
              <!-- //el-table__body -->
            </div>
            <!-- //el-table__body-wrapper -->
          </div>
          <!-- //el-table -->
        </div>
      </el-dialog>
    </section>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script src="/pf/pf_ud/common/js/element/ko.js"></script>
<script>
  ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * menu
         */
         leftView: true,
         leftmenu: 'mmsg2',

        /**
         * 사용여부
         */
         apiUseYn: true,

         /**
          * 페이지 보기
          */
          options: [{
            value: '10개씩 보기',
            label: '10개씩 보기'
          }, {
            value: '50개씩 보기',
            label: '50개씩 보기'
          }, {
            value: '100개씩 보기',
            label: '100개씩 보기'
          }],
          pageSize: '',

          /**
           * 팝업
           */
           msgDetailModal: false,
         }
       },
       methods: {
        handleOpen(key, keyPath) {},
        handleClose(key, keyPath) {},

        /**
         * 모달 닫기(취소)
         */
         cancel() {
          this.modal = false
        },
      },
      components: {
        'carousel': VueCarousel.Carousel,
        'slide': VueCarousel.Slide
      }
    })
</script>
</html>