<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>유디페이 API 관리</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/udpay/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/udpay/common/img/favicon-32x32.png" sizes="32x32">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      $("#incheader").load("../inc/header.html");
    });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="/pf/pf_ud/udpay/manage/assets/css/udapi.css">
</head>
<body>
  <div id="app">
    <div id="incheader"></div>
    <!--nav-->    
    <el-aside id="lnb" class="sidebar" v-show="leftView">
      <div class="sidebar-content">
        <el-menu class="sidebar-nav" :default-active="leftmenu" @open="handleOpen" @close="handleClose">
          <el-menu-item class="dep1" index="mmain" onclick="location.href='../main/'">
            <div class="el-menu-item-text">
              <i class="ico xi-dashboard-o"></i>
              <span>대시보드</span>
            </div>
          </el-menu-item>
          <el-submenu index="mmsg">
            <template slot="title" class="dep1">
              <i class="ico xi-mail-o"></i> 
              <span>문자 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mmsg1" onclick="location.href='../msg/'">연동설정</el-menu-item>
              <el-menu-item index="mmsg2" onclick="location.href='../msg/list.html'">발송내역</el-menu-item>
              <el-menu-item index="mmsg3" onclick="location.href='../msg/use.html'">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="mkakao">
            <template slot="title" class="dep1">
              <i class="ico xi-message-o"></i> 
              <span>카카오톡 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mkakao1">사전준비</el-menu-item>
              <el-menu-item index="mkakao2">연동설정</el-menu-item>
              <el-menu-item index="mkakao3">발송내역</el-menu-item>
              <el-menu-item index="mkakao4">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="maccount">
            <template slot="title" class="dep1">
              <i class="ico la la-paste"></i> 
              <span>계좌성명조회 API</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="maccount1">연동설정</el-menu-item>
              <el-menu-item index="maccount2">발송내역</el-menu-item>
              <el-menu-item index="maccount3">사용현황</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="mpayment">
            <template slot="title" class="dep1">
              <i class="ico xi-won"></i> 
              <span>충전/입금관리</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="mpayment1" onclick="location.href='../payment/'">결제하기</el-menu-item>
              <el-menu-item index="mpayment2" onclick="location.href='../payment/list.html'">충전내역</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </div>
      <div class="cs-info">
        <p class="cs-tit"><i class="xi-emoticon-happy-o"></i> 고객상담문의</p>
        <p class="cs-tel">1800-3925</p>
        <div class="cs-time">
          <p><span>평일</span><span>9:00 ~ 18:00</span></p>
          <p><span>휴무</span><span>주말, 공휴일 휴무</span></p>
        </div>
      </div>
    </el-aside>
    <!--//nav-->

    <!--template-->
    <section id="content">
      <section id="content-inner">
        <div class="title_box clearfix">
          <div class="ttBox">
            <h1 class="tt">문자 사용현황</h1>
          </div>
          <div class="location">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item :to="{ path: '../main/' }">
                <i class="xi-home-o"></i>
              </el-breadcrumb-item>
              <el-breadcrumb-item>문자 사용현황</el-breadcrumb-item>
            </el-breadcrumb>
          </div>
        </div>
        <el-row>
          <el-col :span="24">
            <el-card shadow="always" class="no_padding">
              <div class="cardBox contains with_schBar">
                <div class="list_sch">
                  <el-form :inline="true" ref="form">
                    <el-form-item>
                      <el-select placeholder="연도 선택" size="small" v-model="year">
                        <el-option v-for="year in yearList" :key="year.value" :label="year.label" :value="year.value"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item>
                      <el-select placeholder="조회방법" size="small" v-model="searchType">
                        <el-option v-for="type in searchTypeList" :key="type.value" :label="type.label"
                        :value="type.value"></el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="list_ct_btn">
                    <el-button size="medium" type="success" icon="xi-file-download-o" plain>엑셀다운로드
                    </el-button>
                  </div>
                </div>
                <!-- //list_sch -->

                <div class="list_wrap">
                  <div class="table-responsive">
                    <div class="el-table el-table--fit el-table--enable-row-transition table-sum">
                      <div class="el-table__header-wrapper">
                        <table class="el-table__header">
                          <thead class="has-gutter">
                            <tr>
                              <th>
                                <div class="cell">사용 월</div>
                              </th>
                              <th>
                                <div class="cell">API 구분</div>
                              </th>
                              <th>
                                <div class="cell">총 사용건수</div>
                              </th>
                              <th>
                                <div class="cell">성공건수</div>
                              </th>
                              <th>
                                <div class="cell">실패건수</div>
                              </th>
                              <th>
                                <div class="cell">총 이용금액</div>
                              </th>
                            </tr>
                          </thead>
                        </table>
                        <!-- //el-table__header -->
                      </div>
                      <!-- //el-table__header-wrapper -->

                      <div class="el-table__body-wrapper is-scrolling-none">
                        <table class="el-table__body">
                          <tbody class="thr-row">
                            <tr class="el-table__row">
                              <td rowspan="4">
                                <div class="cell">
                                  <div class="tag-group">
                                    <el-tag effect="plain" class="el-tag--round el-tag--month">
                                      06<span>월</span>
                                    </el-tag>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="cell">문자(SMS)</div>
                              </td>
                              <td>
                                <div class="cell">2건</div>
                              </td>
                              <td>
                                <div class="cell text-primary">2건</div>
                              </td>
                              <td>
                                <div class="cell text-danger">0건</div>
                              </td>
                              <td>
                                <div class="cell"><strong>24.10</strong>원</div>
                              </td>
                            </tr>
                            <!-- //el-table__row -->
                            <tr class="el-table__row total_sum">
                              <td>
                                <div class="cell text-muddy">합계</div>
                              </td>
                              <td>
                                <div class="cell">
                                  <span>총 <strong>2</strong>건</span>
                                </div>
                              </td>
                              <td colspan="2"></td>
                              <td>
                                <div class="cell">
                                  <span class="text-primary">총 <strong>24.10</strong>원</span>
                                </div>
                              </td>
                            </tr>
                            <!-- //el-table__row -->
                          </tbody>
                          <tbody class="thr-row">
                            <tr class="el-table__row">
                              <td rowspan="4">
                                <div class="cell">
                                  <div class="tag-group">
                                    <el-tag effect="plain" class="el-tag--round el-tag--month">
                                      05<span>월</span>
                                    </el-tag>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="cell">문자(SMS)</div>
                              </td>
                              <td>
                                <div class="cell">2건</div>
                              </td>
                              <td>
                                <div class="cell text-primary">1건</div>
                              </td>
                              <td>
                                <div class="cell text-danger">1건</div>
                              </td>
                              <td>
                                <div class="cell"><strong>12.10</strong>원</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="cell">문자(LMS)</div>
                              </td>
                              <td>
                                <div class="cell">4건</div>
                              </td>
                              <td>
                                <div class="cell text-primary">4건</div>
                              </td>
                              <td>
                                <div class="cell text-danger">0건</div>
                              </td>
                              <td>
                                <div class="cell"><strong>138.10</strong>원</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="cell">문자(MMS)</div>
                              </td>
                              <td>
                                <div class="cell">56건</div>
                              </td>
                              <td>
                                <div class="cell text-primary">55건</div>
                              </td>
                              <td>
                                <div class="cell text-danger">1건</div>
                              </td>
                              <td>
                                <div class="cell"><strong>3424.10</strong>원</div>
                              </td>
                            </tr>
                            <!-- //el-table__row -->
                            <tr class="el-table__row total_sum">
                              <td>
                                <div class="cell text-muddy">합계</div>
                              </td>
                              <td>
                                <div class="cell">
                                  <span>총 <strong>62</strong>건</span>
                                </div>
                              </td>
                              <td colspan="2"></td>
                              <td>
                                <div class="cell">
                                  <span class="text-primary">총 <strong>3570.30</strong>원</span>
                                </div>
                              </td>
                            </tr>
                            <!-- //el-table__row -->
                          </tbody>
                        </table>
                        <!-- //el-table__body -->
                      </div>
                      <!-- //el-table__body-wrapper -->
                    </div>
                    <!-- //el-table -->
                  </div>
                  <!-- //table-responsive -->
                </div>
                <!-- //list_wrap -->
              </div>
              <!-- //cardBox.contains -->
            </el-card>
          </el-col>
        </el-row>
      </section>
    </section>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script src="/pf/pf_ud/common/js/element/ko.js"></script>
<script>
  ELEMENT.locale(ELEMENT.lang.ko)
  new Vue({
    el: '#app',
    data: function() {
      return {
        /**
         * menu
         */
         leftView: true,
         leftmenu: 'mmsg3',

        /**
         * 사용여부
         */
         apiUseYn: true,

         /**
          * 연도 선택
          */
          yearList: [{
            value: '2021년',
            label: '2021년'
          }, {
            value: '2020년',
            label: '2020년'
          }],
          year: '',

         /**
          * 월 선택
          */
          searchTypeList: [{
            value: '월별 조회',
            label: '월별 조회'
          }, {
            value: '일별 조회',
            label: '일별 조회'
          }],
          searchType: '',

          /**
           * 팝업
           */
           msgDetailModal: false,
         }
       },
       methods: {
        handleOpen(key, keyPath) {},
        handleClose(key, keyPath) {},

        /**
         * 모달 닫기(취소)
         */
         cancel() {
          this.modal = false
        },
      },
      components: {
        'carousel': VueCarousel.Carousel,
        'slide': VueCarousel.Slide
      }
    })
  </script>
  </html>