<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../storeManage/menu.html" class="store"><span>상점관리</span></a>
      <a href="./manage.html" class="customer nuxt-link-active"><span>고객관리</span></a>
      <a href="../ams/sendList.html" class="ams"><span>메시지관리</span></a>
      <a href="../board/list.html" class="info"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li>
          <a href="./manage.html">회원관리</a>
        </li>
        <li class="on">
          <a href="./grade.html">등급관리</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents grade-list">
      <section role="page-info" class="title-sec">
        <h1>등급관리</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li>회원관리</li>
            <li class="this-page">등급관리</li>
          </ul>
        </div>
      </section>
      <section class="table-filter">
        <button class="btn btn-rdline">선택등급삭제</button>
        <div role="search" class="search">
          <label>
            <span>검색</span>
            <input type="text" placeholder="검색어 입력">
            <a class="btn_search"></a>
          </label>
        </div>
        <div class="p-right">
          <el-switch v-model="gradeUseYn" active-text="사용" inactive-text="사용안함"></el-switch>
        </div>
      </section>
      <section role="data-table" class="data-table">
        <table>
          <colgroup>
            <col>
            <col>
            <col width="50%">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th class="centered-cell" scope="col">
                <label for="selectall" class="container-check">
                  <input type="checkbox" name="selectall" id="selectall">
                  <span class="checkmark"></span>
                </label>
              </th>
              <th scope="col">등급</th>
              <th scope="col">달성기준</th>
              <th scope="col">등록일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="centered-cell">
                <label for="chk1" class="container-check">
                  <input type="checkbox" name="chk1" id="chk1">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>일반</td>
              <td>주문금액 30,000원 이상</td>
              <td>2019-04-16</td>
            </tr>
            <tr>
              <td class="centered-cell">
                <label for="chk2" class="container-check">
                  <input type="checkbox" name="chk2" id="chk2">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>골드</td>
              <td>주문금액 100,000원 이상</td>
              <td>2019-04-16</td>
            </tr>
            <tr>
              <td class="centered-cell">
                <label for="chk3" class="container-check">
                  <input type="checkbox" name="chk3" id="chk3">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>프리미엄</td>
              <td>주문금액 200,000원 이상</td>
              <td>2019-04-16</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="table-filter">
        <div role="pagination" class="pager">
          <span><b>1</b>&#47;3</span>
          <button class="btn btn-ltline btn-prev">이전</button>
          <button class="btn btn-ltline btn-next">다음</button>
          <label for="act">
            <span>이동</span>
            <input type="text" class="input-txt" id="act" name="act" placeholder="0">
          </label>
        </div>
        <div class="btn-bottom-r">
          <button @click="addGradeModal = true" class="btn btn-rd">&plus; 등급생성</button>
        </div>
      </section>

      <!--modal-->
      <el-dialog :visible.sync="addGradeModal" :close-on-click-modal="false" @close="cancel" class="popup-layer pop-grade">
        <div class="pop-title" slot="title">등급생성</div>
        <div class="content-wrap">
          <section class="wrap-formbox">
            <div class="bx-tit">
              <h3 class="tit">등급생성</h3>
            </div>
            <div class="bx-con">
              <div class="col-xs-5">
                <dl>
                  <dt>
                    <label for="gradeName">등급명</label>
                  </dt>
                  <dd>
                    <input type="text" class="input-txt" name="gradeName" placeholder="등급명을 입력해 주세요.">
                  </dd>
                </dl>
              </div>
              <div class="col-xs-7">
                <dl>
                  <dt>
                    <label for="gradeType">등급요건</label>
                  </dt>
                  <dd>
                    <el-select v-model="gradeConditionType" placeholder="등급요건 선택" name="gradeType">
                      <el-option
                        v-for="item in gradeTypeList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                    <div class="flexbox eltype">
                      <input type="text" class="input-txt num-txt" placeholder="0">
                      <span class="txt-after">원 이상</span>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </section>
        </div>
        <div slot="footer">
          <button class="btn btn-rd">등록하기</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',

      gradeUseYn: true,

      /* modal */
      addGradeModal: false,

      /* 등급요건 */
      gradeTypeList: [{
        value: '주문 건수',
        label: '주문 건수'
      }, {
        value: '주문 금액',
        label: '주문 금액'
      }],
      gradeConditionType: '주문 금액',
    }
  },
  methods: {
    /* 모달 닫기(취소)*/
    cancel() {
        this.modal = false
    }
  }
})
</script>
</html>