<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="keyword" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/> <!-- IE최신버전으로 보기 -->
  <title>쏘다피자 구로디지털점</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <link rel="stylesheet" href="../assets/scss/basic.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/common.js"></script>
</head>
<body>
  <div id="app" class="container">
    <header class="header sub-header">
      <div class="header-col">
        <div onclick="location.href='index.html'" class="store-name">
          <div class="store-bi full-bg-img"></div>
          <h1>쏘다피자 구로디지털점</h1>
        </div>
        <div class="gnb">
          <button class="btn-gnb">menu</button>
          <nav class="gnb-content" role="navigation">
            <button class="btn-close">메뉴 닫기</button>
            <div class="profile default">
              <div class="profile-pic">
                <img src="http://210.183.36.207/uploads/-/system/user/avatar/79/avatar.png?width=90">
              </div>
              <p class="nick-name">떡볶이킬러2</p>
            </div>
            <div class="nav-list">
              <ul>
                <li><a href="mypage.html">내 정보</a></li>
                <li><a href="address.html">주소관리</a></li>
                <li><a href="order_list.html">주문관리</a></li>
                <li><a href="stamp.html">스탬프관리</a></li>
                <li><a href="coupon.html">쿠폰관리</a></li>
                <li><a href="review.html">리뷰관리</a></li>
              </ul>
            </div>
            <div class="nav-share">
              <dl>
                <dt>공유</dt>
                <dd class="ico-naver"><a>네이버 공유하기</a></dd>
                <dd class="ico-kakao"><a>카카오톡 공유하기</a></dd>
                <dd class="ico-fb"><a>페이스북 공유하기</a></dd>
                <dd class="ico-twitter"><a>트위터 공유하기</a></dd>
                <dd class="ico-url"><a>URL 공유하기</a></dd>
              </dl>
            </div>
          </nav>
          <div class="bg-dim"></div>
        </div>
        <button onclick="history.back()" class="btn-back el-icon-back">뒤로</button>
      </div>
    </header>
    <div class="wrap-orderlist no-btn">
      <section class="wrap-tit" v-if="!editYn">
        <h2 class="tit-page">주문내역</h2>
        <div class="btn-top-r">
          <button @click="editYn = true" class="btn btn-light">편집</button>
        </div>
      </section>
      <section class="edit" v-if="editYn">
        <label for="all" class="inp-check">
          <span class="txt">전체선택</span>
          <input type="checkbox" name="all" id="all">
          <span class="checkmark"></span>
        </label>
        <div class="btn-top-r">
          <button @click="editYn = false" class="btn btn-light">취소</button>
          <button class="btn btn-redline">삭제</button>
        </div>
      </section>
      <section class="wrap-list">
        <div class="list">
          <label for="check1" class="inp-check" v-if="editYn">
            <input type="checkbox" name="check1" id="check1">
            <span class="checkmark"></span>
          </label>
          <a href="order_detail.html">
            <div class="tit-order">
              <p class="txt-s">2018.12.27 18:24:25</p>
              <h3 class="tit">하프앤하프 피자(L) 외 3건</span>
              </h3>
              <i class="las la-angle-right"></i>
            </div>
            <div class="bottom">
              <div class="price-r">
                <div class="option-price">
                  <p>38,000</p>
                  <span>원</span>
                </div>
              </div>
              <div class="pay-type">
                <p>콜라서비스 결제 - 카드</p>
                <span class="label-cp">쿠폰</span>
                <span class="label-cp">스탬프</span>
              </div>
              <p class="state txt-rd">
                <i class="las la-headset"></i>주문접수-50분 예상
              </p>
            </div>
          </a>
        </div>
        <div class="list">
          <label for="check2" class="inp-check" v-if="editYn">
            <input type="checkbox" name="check2" id="check2">
            <span class="checkmark"></span>
          </label>
          <a href="order_detail.html">
            <div class="tit-order">
              <p class="txt-s">2018.12.27 18:24:25</p>
              <h3 class="tit">돈까스 외 4건</span>
              </h3>
              <i class="las la-angle-right"></i>
            </div>
            <div class="bottom">
              <div class="price-r">
                <div class="option-price">
                  <p>27,000</p>
                  <span>원</span>
                </div>
              </div>
              <div class="pay-type">
                <p>현장 결제 - 카드</p>
              </div>
              <p class="state txt-rd">
                <i class="las la-times-circle"></i>주문거절-매장 사정
              </p>
            </div>
          </a>
        </div>
        <div class="list">
          <label for="check3" class="inp-check" v-if="editYn">
            <input type="checkbox" name="check3" id="check3">
            <span class="checkmark"></span>
          </label>
          <a href="order_detail.html">
            <div class="tit-order">
              <p class="txt-s">2018.12.27 18:24:25</p>
              <h3 class="tit">큐브스테이크피자(R) 외 3건</span>
              </h3>
              <i class="las la-angle-right"></i>
            </div>
            <div class="bottom">
              <div class="price-r">
                <div class="option-price">
                  <p>38,500</p>
                  <span>원</span>
                </div>
              </div>
              <div class="pay-type">
                <p>현장 결제 - 현금</p>
              </div>
              <p class="state txt-rd">
                <i class="las la-headset"></i>주문 접수중
              </p>
            </div>
          </a>
        </div>
        <div class="list">
          <label for="check4" class="inp-check" v-if="editYn">
            <input type="checkbox" name="check4" id="check4">
            <span class="checkmark"></span>
          </label>
          <a href="order_detail.html">
            <div class="tit-order">
              <p class="txt-s">2018.12.27 18:24:25</p>
              <h3 class="tit">돈까스 외 4건</span>
              </h3>
              <i class="las la-angle-right"></i>
            </div>
            <div class="bottom">
              <div class="price-r">
                <div class="option-price">
                  <p>27,000</p>
                  <span>원</span>
                </div>
              </div>
              <div class="pay-type">
                <p>현장 결제 - 카드</p>
              </div>
              <p class="state txt-gr">
                <i class="las la-times-circle"></i>주문취소
              </p>
            </div>
          </a>
        </div>
        <div class="list">
          <label for="check5" class="inp-check" v-if="editYn">
            <input type="checkbox" name="check5" id="check5">
            <span class="checkmark"></span>
          </label>
          <a href="order_detail.html">
            <div class="tit-order">
              <p class="txt-s">2018.12.27 18:24:25</p>
              <h3 class="tit">큐브스테이크피자(R) 외 3건</span>
              </h3>
              <i class="las la-angle-right"></i>
            </div>
            <div class="bottom">
              <div class="price-r">
                <div class="option-price">
                  <p>38,500</p>
                  <span>원</span>
                </div>
              </div>
              <div class="pay-type">
                <p>현장 결제 - 현금</p>
              </div>
              <p class="state txt-gr">
                <i class="las la-check-circle"></i>배달완료
              </p>
            </div>
          </a>
        </div>
      </section>
      <div class="menu-add">
        <button class="btn btn-lg btn-gyline">더 보기</button>
      </div>
      <!--<div class="col-xs-12 pg-blank bi-w">
        <span>주문 내역이 없습니다.</span>
      </div>-->
    </div>
    </div>
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
	new Vue({
		el: '#app',
		data: function () {
			return {
        /**
         * 편집 여부
         * @type {boolean}
         */
        editYn: false,

			}
		},
		methods: {
			handleClick(tab, event) {
				console.log(tab, event);
			}
		}
	})
</script>

</html>