<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>pay&api : 리셀러</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/pna/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/pna/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../../assets/js/page.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#header").load("../inc/header.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
  <div id="app">
    <div id="header" class="mj2-1"></div>
    <!--template-->
    <div class="wrap-content">
      <!--페이지내용-->
      <div class="contents vue-rsadd">
        <!--탭-->
        <el-tabs type="card" v-model="tabLg" class="tab-lg">
          <!--1.자동등록-->
          <el-tab-pane name="autoAdd">
            <span slot="label">회원가입 링크를 통한 자동 등록</span>
            <div class="wrap-autoadd">
              <dl>
                <dt class="tit">
                  <i class="la la-info-circle"></i>
                  <span>귀사 전용 리셀러 회원가입 링크입니다.</span>
                </dt>
                <dd class="txt">아래 링크로 가입한 회원은 귀사의 리셀러로 자동등록됩니다.</dd>
                <dd class="form">
                  <input type="text" disabled="disabled" value="https://paynapi.com/rs/seller/a1100/join" class="inp-txt">
                  <button class="btn btn-point">복사하기</button>
                </dd>
              </dl>
              <div class="wrap-info">
                <div class="con">
                  <img src="../../assets/img/img_pn1.svg" alt="Pay&Api 배너로 리셀러에게 홍보하는 이미지">
                  <p class="txt">페이앤의 리셀러로 활동할 수 있는 유저들이 <br>볼 수 있는 여러 화면에 배너를 걸고 <br>귀사 전용 링크를 연결하거나</p>
                </div>
                <div class="or">또는</div>
                <div class="con">
                  <img src="../../assets/img/img_pn2.svg" alt="Pay&Api 가입 URL로 리셀러 등록하는 이미지">
                  <p class="txt">URL을 공유해 리셀러 회원을 <br>셀프 등록 시키세요.</p>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <!--2.직접등록-->
          <el-tab-pane name="selfAdd">
            <span slot="label">직접 등록</span>
            <form class="wrap-form">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <dl>
                    <dt class="must">
                      <label>리셀러 ID</label>
                    </dt>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="리셀러 ID를 입력해 주세요.">
                      <button class="btn btn-line-b">ID 중복 검사</button>
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>비밀번호</label>
                    </dt>
                    <dd>
                      <input type="password" class="inp-txt" placeholder="비밀번호를 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>비밀번호 확인</label>
                    </dt>
                    <dd>
                      <input type="password" class="inp-txt" placeholder="비밀번호를 한번 더 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>이메일</label>
                    </dt>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="이메일을 입력해 주세요.">
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-md-6">
                  <dl>
                    <dt class="must">
                      <label>사업자 여부</label>
                    </dt>
                    <dd class="no-inp">
                      <el-radio v-model="business" label="corporate">사업자</el-radio>
                      <el-radio v-model="business" label="individual">개인</el-radio>
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>상호명 (법인명)</label>
                    </dt>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="상호명 (법인명)을 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>사업자 번호</label>
                    </dt>
                    <dd>
                      <input type="tel" class="inp-txt" placeholder="사업자 번호를 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>대표자 명</label>
                    </dt>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="대표자 명을 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt class="must">
                      <label>휴대폰 번호</label>
                    </dt>
                    <dd>
                      <input type="tel" class="inp-txt" placeholder="휴대폰 번호를 입력해 주세요.">
                    </dd>
                  </dl>
                  <dl>
                    <dt>
                      <label>주소</label>
                    </dt>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="주소를 입력해 주세요.">
                      <button class="btn btn-line-b">주소검색</button>
                    </dd>
                    <dd>
                      <input type="text" class="inp-txt" placeholder="상세주소를 입력해 주세요.">
                    </dd>
                  </dl>
                </div>                
              </div>
              <div class="bottom-btn">
                <button class="btn">취소</button>
                <button class="btn btn-primary">저장</button>
              </div>
            </form>
          </el-tab-pane>
        </el-tabs>
      </div><!--//페이지내용-->
    </div>
    <!--//template-->
  </div>
</body>

<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        /* 탭 */
        tabLg: 'autoAdd',

        /* 사업자여부 radio */
        business: 'corporate'
      }
    },
    methods: {
    }
  })
</script>
</html>