<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>콜라서비스 : 사장님</title>
  <link rel="shortcut icon" type="image/x-icon" href="/pf/pf_ud/colaservice/common/img/favicon.ico">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/pf/pf_ud/colaservice/common/img/favicon_64.png" sizes="64x64">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $("#footer").load("../inc/footer.html");
  });
  </script>
  <!-- import CSS -->
  <link rel="stylesheet" href="../../assets/scss/basic.css">
</head>
<body>
<div id="app" class="admin-wrap">
  <header>
    <div role="global-navigation">
      <h1 class="logo">콜라서비스</h1>
      <a href="../payment/calendar.html" class="sale"><span>매출관리</span></a>
      <a href="../menu.html" class="store"><span>상점관리</span></a>
      <a href="../customer/manage.html" class="customer"><span>고객관리</span></a>
      <a href="./sendList.html" class="ams nuxt-link-active"><span>메시지관리</span></a>
      <a href="../board/list.html" class="info"><span>이용안내</span></a>
    </div>
  </header>
  <div class="flex-col">
    <nav>
      <!-- 상점 선택 -->
      <el-select v-model="currStore" placeholder="상점을 선택하세요.">
        <el-option 
          v-for="list in storeList"
          :key="list.value"
          :label="list.label"
          :value="list.value">
        </el-option>
      </el-select>
      <a class="btn btn-home">내 상점 보기</a>
      <div class="wrap-mem">
        <div class="wrap-my">
          <i></i>
          <a href="../member/mypage.html">원조홍대무뼈닭발 구로점</a>
        </div>
        <button onclick="location.href='../index.html'" class="btn btn-log">로그아웃</button>
      </div>
      <!-- 서브 메뉴 -->
      <ul role="local-navigation">
        <li>
          <a href="./sendList.html">발송내역</a>
        </li>
        <li class="on">
          <a href="./chargeList.html">충전내역</a>
        </li>
        <li>
          <a href="./setting.html">자동메시지 설정</a>
        </li>
        <li>
          <a href="./dispatch.html">일반메시지 보내기</a>
        </li>
      </ul>
    </nav>
    <!--template-->
    <div class="contents ams-chargelist">
      <section role="page-info" class="title-sec">
        <h1>충전내역</h1>
        <div class="breadcrumb">
          <ul>
            <li>홈</li>
            <li>메시지관리</li>
            <li class="this-page">충전내역</li>
          </ul>
        </div>
      </section>
      <section class="wrap-con ams-autoset">
        <section class="total-figure">
          <dl>
            <dt>보유 포인트</dt>
            <dd>34,702<span>P</span></dd>
          </dl>
          <!-- 포인트 충전 팝업 -->
          <button @click="chargeModal = true" class="btn btn-rdline">+ 충전하기</button>
        </section>
      </section>
      <section role="data-table" class="data-table">
        <table class="table-ams-charge-list">
          <colgroup>
            <col>
            <col width="40%">
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>충전일자</th>
              <th class="right-cell">충전금액</th>
              <th class="right-cell">충전포인트</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="centered-cell">2019-01-29 17:24:31</td>
              <td class="right-cell">10,000원</td>
              <td class="right-cell">1,000P</td>
              <td class="centered-cell">승인완료</td>
            </tr>
            <tr>
              <td class="centered-cell">2019-01-29 17:24:31</td>
              <td class="right-cell">10,000원</td>
              <td class="right-cell">1,000P</td>
              <td class="centered-cell">승인완료</td>
            </tr>
            <tr>
              <td class="centered-cell">2019-01-29 17:24:31</td>
              <td class="right-cell">70,000원</td>
              <td class="right-cell">7,000P</td>
              <td class="centered-cell">취소</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="table-filter">
        <div role="pagination" class="pager">
          <span><b>1</b>&#47;3</span>
          <button class="btn btn-ltline btn-prev">이전</button>
          <button class="btn btn-ltline btn-next">다음</button>
          <label for="act">
            <span>이동</span>
            <input type="text" class="input-txt" id="act" name="act" placeholder="0">
          </label>
        </div>
      </section>

      <!--modal-->
      <el-dialog :close-on-click-modal="false" :lock-scroll="true" :visible.sync="chargeModal" @close="cancel" class="popup-layer pop-ams-point">
        <div class="pop-title" slot="title">포인트 충전</div>
        <div class="content-wrap">
          <section class="total-figure">
            <dl>
              <dt>보유 포인트</dt>
              <dd>34,702<span>P</span></dd>
            </dl>
          </section>
          <ul class="list-s">
            <li>적용 포인트 : SMS 1포인트/LMS 3포인트</li>
            <li>결제취소는 결제일로부터 15일 이내까지만 가능하며, 구매 후 일부 금액을 사용한 경우 결제금액이 환불되지 않습니다.</li>
          </ul>
          <div class="list-radio">
            <ul>
              <li v-bind:class="{ active: smsPoint == 10000 }">
                <el-radio label="10000" v-model="smsPoint" >1,000P</el-radio>
                <b>10,000원</b>
              </li>
              <li v-bind:class="{ active: smsPoint == 30000 }">
                <el-radio label="30000" v-model="smsPoint">3,000P</el-radio>
                <b>30,000원</b>
              </li>
              <li v-bind:class="{ active: smsPoint == 50000 }">
                <el-radio label="50000" v-model="smsPoint">5,000P</el-radio>
                <b>50,000원</b>
              </li>
              <li v-bind:class="{ active: smsPoint == 100000 }">
                <el-radio label="100000" v-model="smsPoint">10,000P</el-radio>
                <b>100,000원</b>
              </li>
              <li v-bind:class="{ active: smsPoint == 200000 }">
                <el-radio label="200000" v-model="smsPoint">20,000P</el-radio>
                <b>200,000원</b>
              </li>
              <li v-bind:class="{ active: smsPoint == 300000 }">
                <el-radio label="300000" v-model="smsPoint">30,000P</el-radio>
                <b>300,000원</b>
              </li>
            </ul>
          </div>
        </div>
        <div slot="footer">
          <button @click="cancel" class="btn btn-dkline">취소</button>
          <button class="btn btn-rd">결제하기</button>
        </div>
      </el-dialog>
    </div>
    <!--//template-->
    <div id="footer"></div>
  </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="/pf/pf_ud/common/js/element/vue.js"></script>
<!-- import JavaScript -->
<script src="/pf/pf_ud/common/js/element/index.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return {
      /* 상점선택 */
      storeList: [{
        value: '원조홍대무뼈닭발 구로점',
        label: '원조홍대무뼈닭발 구로점'
      }, {
        value: '미스타피자 가양점',
        label: '미스타피자 가양점'
      }],
      currStore: '',

      /* modal */
      chargeModal: false,
      smsPoint: '10000'
    }
  },
  methods: {
    /* 모달 닫기(취소)*/
    cancel() {
        this.modal = false
    }
  }
})
</script>
</html>