/* commom */
.con-blank {
	@include flexbox; min-height:40vh; padding:20px; text-align:center;
	.inner {@include flex(1); @include align-self(center); @include flex-direction(column); @include justify-content(center)}
	i {font-size:6rem; color:$light-d}
	p {margin:10px 0; font-size:1.4rem; color:$dark-9}
	.btn {margin-top:40px}
}

/* 판매점 리스트 -ReSellerManageList */
.pop-managelist {
	.el-dialog__body {overflow:hidden}
	.wrap-bx-search.filter {margin-bottom:0}
	.list-store {
		max-height:320px; overflow-y:auto;
		li {border-bottom:1px solid $light-d}
		a {
			@include flexbox; @include align-items(center); padding:10px 20px; font-size:1.4rem; color:$dark-3;
			&:hover {@include fw-md; color:$point}
			&:after {content:'\f105'; margin-left:auto; font:900 14px/1 'Line Awesome Free'; color:$dark-9}
		}
	}
	.btn-more {
		width:100%; max-width:420px; margin:0 auto; color:$point;
		&:hover {background:$point}
		i {margin-right:5px}
	}
}