@charset "utf-8";
@import url('/ud/common/css/NotoSansKR-Hestia.css');
@import url('/ud/common/css/normalize.css');
@import url('/ud/common/css/grid.css');
@import url('/ud/common/css/line-awesome.min.css');
@import url('main.css');
@import url('sub.css');
@import url('popup.css');
@font-face {
    font-family:'yg-jalnan';
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight:normal; font-style: normal
}

html, body {
    margin:0; padding:0; width:100%; height:auto;
    font-family:'NotoSansCJKkr','Noto Sans Korean',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    font-weight:300; font-size:10px; color:#666;
    letter-spacing:-0.05em; word-break:keep-all;
    background-color:#fff
}
input::-ms-clear, input::-ms-reveal {display:none}
button:disabled,
button[disabled] {cursor:not-allowed}
dl, dt, dd,
p,
h1, h2, h3, h4, h5 {margin:0; padding:0; font-style:normal}
ul, menu, dir, ol, li {margin:0; padding:0; list-style:none}
table, tr, th, td {margin:0; padding:0; border-collapse:collapse}
em, address {font-style:normal}
select::-ms-expand {display:none}
::selection {background:#716b84; color:#fff}

* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
a, a:hover, a:active, a:visited {text-decoration:none; cursor:pointer}
br {font-family:dotum,sans-serif !important}/* 디자인폰트 사용시 ie에서 엑박표출 문제 */

/* input */
::-webkit-input-placeholder {color:#ddd; font-weight:300}
::-moz-placeholder {color:#ddd; font-weight:300}
:-ms-input-placeholder {color:#ddd; font-weight:300}
:-moz-placeholder {color:#ddd; font-weight:300}
input[type="text"],
input[type="tel"],
.inp-txt {
  padding:10px; border:1px solid #ccc; border-radius:3px
}
.radio-inline {
    position:relative; display:inline-block; 
    width:auto; height:38px; padding-left:30px; color:#666; cursor:pointer
}
.radio-inline:not(:first-child) {margin-left:20px}
.radio-inline input[type="radio"] {
    position:absolute; margin:8px 0 0 -30px; -webkit-appearance:none; border:none
}
.radio-inline input[type="radio"]:before {
    content:''; position:absolute; top:0; left:0;
    width:20px; height:20px;
    background-color:#fff; border:1px solid #ddd; border-radius:12px;
    transition:ease 0.2s border-color, ease 0.2s background-color    
}
.radio-inline input[type="radio"]:checked:before {border-color:#ec3939}
.radio-inline input[type="radio"]:after {
    content:''; position:absolute; top:4px; left:4px;
    width:14px; height:14px; border-radius:8px;
    background-color:#ec3939; opacity:0; transition:ease 0.2s opacity
}
.radio-inline input[type="radio"]:checked:after {opacity:1}
.radio-inline span {
    font-size:1.3rem; line-height:38px
}
.radio-inline input[type="radio"]:checked ~ span {font-weight:500}

/* button */
button {transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out}
.btn {
  display:inline-block; padding:0 20px;
  font-size:1rem; font-weight:400;
  text-align:center; white-space:nowrap;
  vertical-align:middle; cursor:pointer;
  border:1px solid transparent; border-radius:5px;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out
}
.btn-big {
  padding:19px 44px;
  font-size:1.8rem; border-radius:5px
}
.btn-white {
  color:#ec3939; background:#fff; box-shadow:0 6px 15px rgba(180,14,14,.4)
}
.btn-white:hover {background:#ffd5d5}
.btn-rd, .btn-redline:hover {
  color:#fff; background:#ec3939
}
.btn-rd:hover {background:#d13232}
.btn-redline {background:#fff; border-color:#EC3939; color:#EC3939}
.btn-gy {background:#F0F0F0; color:#999}

/* 문의하기 버튼 */
.btn-float {
  position:fixed; right:10px; bottom:70px;
  width:70px; height:70px; padding:10px 0;
  border-radius:50%; box-shadow:0 2px 4px rgba(0,0,0,.4); z-index:10
}
.btn.btn-kakao {
  background:#FFE000; color:#381E1F
}
.btn.btn-kakao:before {
  content:''; display:block; width:35px; height:32px; margin:0 auto 2px;
  background:url('../image/ico_kakao@2x.png') no-repeat 0 0 / 100%;
}

/* text */
.ta-right {text-align:right}
.ta-left {text-align:left}
.ta-center {text-align:center}
.txt-bold {
    font-weight:700; color:#222
}
.txt-s {font-size:1.1rem}
.txt-point {color:#EC3939}

/* display */
.d-block {display:block}
.d-inlineb {display:inline-block}
.d-none {display:none}


/* common */
.inner {
    position:relative; max-width:1000px; height:100%;
    margin-left:auto; margin-right:auto
}
.inner:after {
    content:''; display:block; clear:both
}
.container-body {
    position:relative; padding:60px 0 0
}

/* header */
.header {
    position:fixed; top:0; left:0; right:0; z-index:9000;
    height:60px; background:#fff; border-bottom:1px solid #ddd
}
.header.no-fixed {position:relative}
.header .logo {
    display:block; position:absolute; left:0; top:50%; transform:translateY(-50%);
    width:129px; height:28px;
    background:url('../../../common/img/bi_logo@2x.png') no-repeat 0 0 / 100%;
    font-size:0; text-indent:-9999px
}
.header .wrap-gnb-btns {
    position:absolute; right:0; top:50%; transform:translateY(-50%); 
}
.header .wrap-gnb-btns .btn-pale {    
    margin-left:10px; padding:0 16px;
    color:#999; font-size:1.4rem; line-height:32px;
    border:1px solid #ddd; border-radius:50px; background:#fff
}
.header .wrap-gnb-btns .btn-pale:hover {
    color:#ec3939; border-color:#ec3939
}
.header .wrap-gnb-btns .btn-join,
.header .wrap-gnb-btns .btn-log {color:#222}
.btn .ico {
    display:inline-block; margin-right:3px; vertical-align:middle;
    width:17px; height:17px
}
.btn .i-join {background:url('../image/ico_join@2x.png') no-repeat 0 0 / 100%}
.btn .i-log {background:url('../image/ico_login@2x.png') no-repeat 0 0 / 100%}
.btn .i-call {
    height:20px; background:url('../image/ico_call_s.svg') no-repeat 0 0 / 100%
}


/* gnb */
.gnb {margin-left:190px}
.gnb li {display:inline-block}
.gnb li a {
    display:block; position:relative; padding:20px;
    color:#666; font-size:1.6rem; font-weight:400;
    transition:color .15s ease-in-out
}
.gnb li a:hover,
.gnb li.active a {
    color:#222; font-weight:700
}
.m-gnb {display:none}
.m-gnb .bg-dim {
    transition:background-color .2s ease-in-out; opacity:0
}


/* footer */
.footer {
    background:#3d3e42; color:#aaa
}
.footer .inner {padding:25px 0 30px}
.footer .txt-comp {
    color:#ddd; font-size:1.4rem
}
.footer .link-terms {margin:15px 0}
.footer .link-terms li {
    display:inline-block; margin-right:20px
}
.footer .link-terms li a {
    color:#ddd; font-size:1.2rem
}
.footer .info-comp {
    margin-bottom:10px;
    font-size:1.1rem; line-height:1.5
}
.footer .info-comp li {display:inline-block}
.footer .info-comp li:after {
    content:''; display:inline-block; 
    width:1px; height:9px; margin:0 7px;
    background-color:#aaa
}
.footer .info-comp li:first-child {margin-left:0}
.footer .info-comp li:last-child:after {display:none}
.footer .info-comp li a {color:#aaa}

/* scroll-top */
a.top {
    display:none; position:fixed; right:2em; bottom:2em;
    width:40px; height:40px; text-align:center;
    background:#fff; border-radius:50%; box-shadow:0 3px 10px rgba(0,0,0,.2);
    transition:bottom .2s ease-in-out; z-index:9000; opacity:.8
}
a.top i {
    color:#aaa; font-size:20px; line-height:40px
}

/* 반응형 */
body .wrap-m,
body .btn-mb,
body .view-mb {display:none}
span.br {display:block}

/* 브라우저 안내 */
.wrap-ie {width:auto; margin:5% 15px 0; text-align:center}
.wrap-ie dl {font-size:18px; color:#333}
.wrap-ie dl dt {margin:20px 0 50px; font-size:30px}
.wrap-ie dl dt em {display:block; font-size:34px; font-weight:700}
.wrap-ie dl dd {margin-bottom:50px}
.wrap-ie dl dd em {font-weight:500; text-decoration:underline}

/* only pc */
@media all and (min-width:1000px){
    a.top:hover {bottom:3em}
}

/* tablet,mobile */
@media all and (max-width:1000px){
    html,body {font-size:8px}
    .inner {
        margin-left:15px; margin-right:15px
    }
    .header {height:50px}
    .header .inner {margin-right:60px}
    .container-body {padding-top:50px}

    /* gnb */
    .gnb,
    .wrap-gnb-btns {display:none}
    .m-gnb {
        display:block; position:relative
    }
    .m-gnb nav {
        position:fixed; top:0; right:-200px; bottom:0; 
        width:200px; padding-top:50px;
        background-color:#3d3e42; z-index:9001
    }
    .m-gnb nav ul {border-top:1px solid rgba(255,255,255,.1)}
    .m-gnb nav li {border-bottom:1px solid rgba(255,255,255,.1)}
    .m-gnb nav li a {
        display:block; padding:0 15px;
        color:#fff; font-size:1.8rem; font-weight:400; line-height:50px
    }
    .m-gnb nav li a i {
        display:inline-block; position:relative; top:1.5px;
        min-width:18px; margin-right:5px; text-align:center; font-size:21px    
    }
    .m-gnb .btn-m-gnb,
    .m-gnb .btn-m-close {
        display:block; position:absolute; width:50px; height:50px;
        text-align:center; font-size:23px; line-height:50px
    }
    .m-gnb .btn-m-gnb {
        top:-50px; right:0; color:#222
    }
    .m-gnb .btn-m-close {
        top:0; right:0; color:#fff
    }
    .m-gnb .bg-dim.on {
        position:fixed; top:0; left:0; right:0; bottom:0;
        background-color:#000; opacity:.6; z-index:9
    }
}
@media all and (max-width:768px) {
    html,body {
        font-size:7.5px; letter-spacing:-0.1em
    }

    /* button */
    .btn-big {
        padding:15px 40px; font-size:2rem
    }
    body .btn-pc,
    body .view-pc {display:none}
    body .btn-mb {display:inline-block}
    body .view-mb {display:block}

    span.br {display:inline; margin-right:3px}
}