@charset "UTF-8";
/* _button.scss */

// button style init
.btn{
  @include boxSizing;
  @include prefix(transition-property, (color, border, background-color), webkit o);
  @include prefix(transition-duration, 250ms, webkit o);
  margin:0;
  display: inline-block;
  font-weight: 500;
  color: $text-dark;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .4667rem 1rem;
  font-size: $font-size-xxsmall;
  line-height: 1.5;
  border-radius: $border-radius-small;

  i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }
  > span,
  > i{
    vertical-align: middle;
  }
}

// button size
.btn{
  &-lg{
    padding: 1.133rem 2rem;
    font-size: $font-size-small;
  }
  &-md{
    padding: 1.067rem 1.667rem;
    font-size: $font-size-xsmall;
  }
  &-sm{
    padding: 1rem 1.333rem;
    font-size: $font-size-xsmall;
  }
  &-xs {
    padding: .687rem 1rem;
    font-size: $font-size-xsmall;
  }

  @include res(sm){
    &-sm {
      padding: 1.062rem 1.667rem;
    }
  }

}

// button block 100%
.btn-block{
  display: block;
  width:100%;
}

// button border-radius
.btn-round{
  &-circle{
    border-radius: $border-radius-round;
  }
  &-sm{
    border-radius: $border-radius-small;
  }
}
// button group
.btn-group{
  .btn{
    &:not(:last-child){
      margin-right: 1rem;
      
      @include res(sm) {
        margin-right: 1.467rem;
      }
    }
  }

  &.center{
    text-align: center;
  }

  &-bottom{
    margin-top:4.375rem;
    
    .btn-base {
      opacity: .6;
    }

    @include res(sm){
      &{
        .btn{
          min-width:200px;

          &:not(:last-child){
            margin-right:1.467rem;
            margin-bottom:0;
          }
        }
        .btn-api{
          min-width:278px;
        }
      }
    }
  }
}


// 백그라운드버튼 테마 스타일
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: $white;
    background-color: $value;
    border: 1px solid $value;

    &:hover{
      background-color: darken($value, 3%);
      border: 1px solid darken($value, 3%);
    }
  }
}

// 라인버튼 테마 스타일
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $value;
    background-color: $white;
    border: 1px solid $value;

    &:hover{
      background-color: $value;
      color:$white;
    }
  }
}

// 백그라운드버튼 기본 스타일
.btn-default{
  padding: 1.25rem 1.667rem;
  border-color: $text-dark;
  background-color: $text-dark;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-semibold;
  color: $white;

  &:hover{
    background-color: darken($text-dark, 15%);
    color:$white;
  }
}

// 라인버튼 기본 스타일
.btn-outline-default{
  padding: .9333rem 1.667rem;
  border-color: rgba($text-light,.3);
  background-color: $white;
  font-size: $font-size-xsmall;
  color: $text-dark;

  i{
    color:$primary;
  }

  &:hover{
    background-color: $text-light;
    color:$white;
    i{
      color: $white !important;
    }
  }
}


.btn-white{
  color:$text-dark;
  background-color: $white;
}

.btn-white-primary{
  color:$primary;
  background-color: $white;
  border-color:$white;
}

.btn-shadow-primary{
  box-shadow: 0 1.875rem 3.125rem rgba(19, 105, 250, .3);
}
.btn-shadow{
  box-shadow: 0 1.875rem 3.125rem rgba($lighter-black, .3);
}



// 버튼 호버 애니메이션 스타일
.btn-ani-arrow{
  i{
    @include prefix(transition-duration, 250ms, webkit o);
    @include prefix(transition-property, animation, webkit o);
  }

  @include hover-focus-active{
    i{
      @include prefix(animation, slide1 600ms ease-in-out infinite, webkit);
    }
  }
}

// 앱 다운로드 버튼
$btn-download-icon: playGoogle, apple;

@each $value in $btn-download-icon{
  .btn-#{$value}{
    letter-spacing: 0;

    &:before {
      content:"";
      display: inline-block;
      vertical-align: middle;
      margin-right:5px;
      background: url("../img/common/ico_#{$value}.svg") right center no-repeat;
      width: 19px;
      height: 22px;
      background-size: 19px 22px;
    }
  }
}
.btn-outline-default.btn-apple{
  @include hover-focus-active{
    &:before {
      background-image: url("/assets/up/img/common/ico_apple_white.svg");
    }
  }
}

.btn-appStore-sub{
  &:before{
    background-image: url("/assets/up/img/common/ico_apple_black.svg");
  }
  &:hover,&:focus,&:active {
    &:before {
      background-image: url("/assets/up/img/common/ico_apple.svg");
    }
  }
}


.flow-item-btn{
  @each $value in $btn-download-icon{
    .btn-#{$value}{
      min-width: 200px;
    }
  }
}

.btn-theme-wrap{
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;

  @include res(md) {
    display: block;
  }
}

.btn-theme {
  position: relative;
  z-index: 999;
  background:$white;
  border-radius: $border-radius-round;
  padding: 1rem 2rem;
  color:$text-dark;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .07);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;

  i{
    position: relative;
    top: 2px;
    margin-right: 4px;
  }


  @include hover-focus() {
    background: rgba($black,.7);
    color:$white;
    box-shadow: rgba(45, 45, 45, .05) 0 2px 2px, rgba(49, 49, 49, .05) 0 4px 4px, rgba(42, 42, 42, .05) 0 8px 8px, rgba(32, 32, 32, .05) 0 16px 16px, rgba(49, 49, 49, .05) 0 32px 32px, rgba(35, 35, 35, .05) 0 64px 64px;

    i{
      color:$yellow;
    }
  }
}