@charset "UTF-8";
/* _forms.scss */

// 필수값 표시
.required-data{
  display: inline-block;
  width: 4px;
  height: 4px;
  text-align: center;
  border-radius: 50%;
  background-color: $primary;
  text-indent: -9999px;
  vertical-align: sub;
}

// select
.select-wrapper{
  position: relative;

  &:after{
    content:"\ea4e";
    display: inline-block;
    font-family: $font-family-icon;
    position: absolute;
    top:50%;
    right: 1.267rem;
    z-index: -1;
    font-size: 180%;
    @include prefix(transform, translateY(-50%), webkit ms);
  }
  select {
    @include prefix(appearance, none, webkit moz);
    display: inline-block;
    padding: .25rem;
    font-family: inherit;
    border:0;
    border-radius: 0;
    background: transparent;
  }

  // for IE 11
  select::-ms-expand {
    display: none;
  }

  // for IE 9
  &:after{
    //width:100px \0/IE8;/*IE8적용*/
    //width:150px \0/IE9;/*IE9적용*/
    //height:50px  \0/IE8+9;/*IE8+9적용*/
  }

  html>body .select-wrapper:after {
    display: none;
    content:"";
  }
}

// checkbox
.checkbox {
  @include controller;

  input + span {
    border-radius: $border-radius-circle;
    background-color: rgba($gray,.2);

    &::after {
      background: url("../img/common/ico_checkbox_off.svg") center center no-repeat;
      background-size: auto;
      width: 26px;
      height: 26px;
    }
  }
}

// radio
.radio {
  @include controller;

  input + span {
    border-radius: $border-radius-circle;
    background-color: $white-gray;

    &::after {
      border-radius: $border-radius-circle;
      margin: 7px;
      width: 12px;
      height: 12px;
    }
  }

  input:checked + span::after {
    background-color: $white;
  }
  
  & ~ & {
    margin-left: 1.5rem
  }
}


// 게시글 작성 폼
.form{

  // .form-wrapper
  &-wrapper{
    width:100%;
    margin:0 auto;

    input,
    select,
    textarea{
      @include boxSizing;
      -webkit-appearance: none;
      margin:0;
      background-color: transparent;
      border: 1px solid $border-light;
      border-radius: .533rem;
      bottom: 0;
      left: 0;
      outline: 0;
      overflow: hidden;
      padding: 1rem 1.267rem;
      resize: none;
      top: 0;
      width: 100%;
      font-size: $font-size-xs;
      color:$text-light;

      &:active,
      &:focus{
        box-shadow: 0 0 0 0.2rem rgba($primary,.25);
        border-color: $primary;
      }
    }

    textarea{
      min-height: 222px;
    }
  }
  
  // .form-container
  &-container:not(:first-of-type) {
    margin-top: 2rem;
  }

  // .form-item
  &-item{
    &.divider{
      padding-top: 10px;
    }
    &:not(:first-child){
      margin-top: 1.667rem;
    }

    dt{
      margin-bottom:.533rem;
      font-size: $font-size-xs;
      color:$text-light;
    }
  
  
    // 파일첨부 스타일
    .files {
      @include clearfix;
      
      > * {
        display: block;
      }
  
      // 삭제버튼
      &-item {
        display: inline-block;
    
        i {
          color: $danger;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    
    
    .btn-files {
      position: relative;
      margin:0;
      padding: .5rem 1rem;
      font-size: 1rem;
    
      [type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }
  
    .files .text-black {
      display: block;
      margin: .5rem 0;
    }
  }

  // .form-info
  &-info{
    margin-bottom:1rem;
    color: $text-base;
  }

  // .form-agree-check
  &-agree-check{
    margin-top: 1.8rem;
  }
  
  @include res(md) {
    &-container {
      @include prefix(display, flex, webkit moz ms o);
    }
    
    &-item {
      @include prefix(flex, 1, webkit moz ms o);
  
      &:not(:first-child){
        margin: 0 0 0 1.667rem;
      }
  
      // 파일첨부
      .files .btn-files {
        float: left
      }
      .commentFile {
        display: block;
        padding: .5rem 0 0 7.5rem;
      }
      .files .text-black {
        display: inline-block;
        margin: 0 0 0 .5rem;
      }
    }
  }
}