@charset "UTF-8";
/* _modal.scss */

.popup {
  &-layer {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include prefix(transition, all 0.2s, webkit o);

    &.on {
      z-index: 999;
      opacity: 1;
    }

    .bg-dim {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
    }
  }

  // popup-wrapper
  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 360px;
    padding: 2.333rem;
    border-radius: $border-radius-small;
    background: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    @include prefix(transform, translate(-50%, -50%), webkit ms);
  
    @include res(sm) {
      .pop-md & {
        width: 640px
      }
    }

    .b-close {
      position: absolute;
      top: 15px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      text-indent: -9999px;
      color: $text-dark;
      border: 0;
      background-color: transparent;
      font-size: 1.067rem;
      line-height: 30px;

      &:before,
      &:after {
        position: absolute;
        top: 5px;
        left: 15px;
        height: 20px;
        content: '';
        border-left: 1px solid $black;
      }

      &:before {
        @include prefix(transform, rotate(-45deg), webkit ms);
      }

      &:after {
        @include prefix(transform, rotate(45deg), webkit ms);
      }
    }
  }

  // popup-header
  &-header {
    position: relative;
    text-align: center;
    background-color: $white;

    .b-close {
      position: absolute;
      top: -25px;
      right: -20px;
      cursor: pointer;
      text-decoration: underline;
      color: $primary;
    }
  }

  // popup-title
  &-title {
    color: $black;
    font-size: 1.267rem;
    font-weight: $font-weight-bold;
  }

  // popup-exp
  &-exp {
    margin-top: 5px;
    font-size: $font-size-xxs;
  }

  // popup-body
  &-body {
    padding: 2rem 0 0;
    background-color: $white;

    hr {
      margin: 1.2rem 0;
    }
  }

  // popup-text
  &-text {
    font-size: $font-size-base;

    .font-gmarket {
      font-size: $font-size-md;
    }
  }
  
  // popup-foot
  &-foot {
    padding-top: 2rem;
    text-align: center;
    
    .btn {
      margin: 0 .15rem;
      padding: .8rem 2rem;
      font-size: $font-size-xsmall
    }
  }
}


// 비사업자 판매 시, 유의사항
#popup-noBiz {
  .popup-wrapper,
  .popup-body {
    padding: 0;
  }

  .popup-wrapper {
    overflow-y: auto;
    width: 98%;
    max-height: 100%;
    border-radius: $border-radius-xsmall;

    @include res(xs) {
      overflow-y: hidden;
      height: auto;
    }
    @include res(sm) {
      width: 675px;
    }
  }

  .popup-header {
    padding: 1.8rem;
    color: $white;
    background-color: saturate($light-black, 1%);

    .b-close {
      position: absolute;
      top: 15px;
      right: 10px;
      color: $white;

      &:before,
      &:after {
        border: 1px solid $white;
        background-color: $white;
      }
    }

    li {
      font-size: $font-size-xxs;
    }


    @include res(sm) {
      & {
        padding: 2.333rem;

        li {
          font-size: $font-size-base;
        }
      }
    }
  }

  .popup-title {
    margin-bottom: 1rem;
    text-align: center;
    color: $white;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;

    span {
      color: $yellow;
    }
  }
}

// 비사업자 판매 시 유의사항
.alert-noDealer {
  .alert-p1 {
    padding: 0.8rem 0.6rem;
    text-align: center;
    color: $danger;
    border-top: 1px solid rgba($danger, 0.15);
    border-bottom: 1px solid rgba($danger, 0.15);
    background-color: rgba($danger, 0.05);
    font-size: 0.9rem;
    font-weight: $font-weight-bold;

    &:before {
      display: inline-block;
      margin-right: 10px;
      content: "\ee58";
      vertical-align: middle;
      font-family: $font-family-icon;
      font-size: 2rem;
    }

    p {
      display: inline-block;
      vertical-align: middle;
    }

    @include res(sm) {
      & {
        padding: 1rem 0.6rem;
        font-size: 1.02rem;
      }
    }
  }

  .alert-p2 {
    @include boxSizing;
    padding: 1.2rem;

    .ol-list,
    .bullet-list {
      font-size: .87rem;
    }

    .card {
      margin: 0.5rem 0;
    }

    @include res(sm) {
      .ol-list {
        max-height: 300px;
        overflow-y: auto;
      }
      & {
        padding: 2rem;

        .ol-list,
        .bullet-list {
          font-size: $font-size-base;
        }
      }
    }
  }

  .alert-p3 {
    padding: 8px;
    text-align: center;
    color: rgba($white, .95);
    background-color: $danger;
  }


  // 비사업자 판매시 유의사항 단독페이지 (/etc/noDealer)
  &.smaller {
    width: 70%;
    margin: 0 auto;

    .card.mb-3 {
      padding: 1.2rem 2rem;
    }

    .alert-p1 {
      border: 0;
    }
  }
}


// 서비스 출시 팝업
#popup-open {
  .popup-wrapper {
    width: 100%;
    max-width: 640px;
    padding: 0;
  }
  
  .popup-header {
    padding: 1.5rem 2.333rem;
    background: $primary;
    
    .popup-title {
      color: $white;
    }
    
    .b-close {
      top: 12px;
      right: 12px;
      
      &:before, &:after {
        border-color: $white;
      }
    }
  }
  
  .popup-body {
    padding: 1.8rem 2.333rem;
    max-height: 65vh;
    overflow-y: auto;
    
    .txt {
      margin: .65rem 0;
      font-size: 1rem;
      
      b {
        color: $lighter-black;
      }
    }
    
    .bg-primary-light {
      margin: 1rem 0;
      padding: 1rem 1.8rem;
      
      .ol-list {
        font-size: .95rem;
        
        li {
          margin: .4rem 0;
          line-height: 1.4;
          
          &:before {
            color: $primary
          }
        }
      }
    }
  }
  
  .popup-foot {
    padding: 1.5rem 0;
  }
}

// 댓글 수정
#popModify {
  .form-item {
    .files {
      @include clearfix;
      margin-top: 1rem;
    }
  }
}