@charset "UTF-8";
/* _table.scss */

// 테이블 스타일 init
table {
  width: 100%;
  font-size: $font-size-xsmall;
  color: $text-dark;

  th, td {
    border:1px solid $border-light;
    text-align: center;
    vertical-align: middle;
    color: $text-dark;

    &:first-child{
      border-left:0;
    }
    &:last-child{
      border-right:0;
    }
  }

  th{
    font-weight:$font-weight-medium;
  }

  thead{
    th {
      padding:1rem 0;
      background-color: rgba($border-light, .2);
      vertical-align: bottom;
    }
  }

  tbody {
    th, td{
      padding: 1.667rem 1rem;
      word-break: keep-all;
    }
  }

  @include res(sm) {

      td {
        &.td-rwd {
          width: 300px;
        }
      }

  }
  @include res(md){

      tbody {
        th, td {
          padding: 1.667rem 2.667rem;
        }
      }

  }
}

// 테이블 스타일 custom
.table-wrapper{
  width:100%;

  &-scrolling{
    overflow-x: scroll;

    .table{
      min-width:880px;
    }
  }
}
.table-default{
  border-top: 2px solid $light-black;

  th, td{
    small{
      font-size: 82%;
      opacity: .7;
    }
  }
  
  th.with-bg {
    background-color: rgba($border-light, .2);
  }

  // 첨부파일 다운
  .file_btn{
    .btn{
      width:100%;
      text-align:left;

      &:not(:first-child){
        margin-top:1rem;
      }

      i{
        font-size: 115%;
        margin-right:.1rem;
      }
      > *{
        vertical-align:middle;
      }
    }
  }
}

.table-list{
  width: 100%;
  font-size: $font-size-xxsmall;

  td{
    color: $text-base;
  }

  tbody {
    th, td {
      padding: 1rem .5rem;
    }
  }
}

.td-rwd{
  width:30%;
  display: none;
  .file_btn{
    a{
      width: 200px !important;
      display: block;
      margin: 0 auto;
    }
  }
  @include res(md){
    & {
      display: table-cell;
    }
  }
}

.td-rwd-line{
  border-right: 0;

  @include res(md){
    &{
      border:  1px solid $border-light;
    }
  }
}

.td-rwd-btn{
  margin-top: 20px;
  display: flex;
  justify-content: center;

  a{
    margin: 0 5px;
    padding: 1rem 0 !important;
    width: 160px;
    font-size: $font-size-xxsmall;
  }

  @include res(md){
    &{
      display: none;
    }
  }
}

.smdlBox{
  dl{
    margin-bottom: 10px;
  }
}


.scrollTextWrap{
  overflow-x:hidden;
  .terms_wrapper{
    .tab{
      li{
        display: block;
        .tab-link{
          font-size: $font-size-xsmall;
          padding: 1rem 0;
        }
      }
    }
    th,td, *, a{
      font-size: .9rem !important;
      padding: 0 !important;
      color: rgba($text-dark, .7);
    }
  }
}


.terms_wrapper{
  .st{
    display: block;
  }

  .tab{
    display: table;
    width: 100%;
    margin-bottom: 2rem;
    li{
      display: table-cell;
      vertical-align: middle;

      .tab-link{
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        color:rgba($text-dark,.4);
        padding-bottom: 2rem;
        border-bottom: 2px solid $bg;
        display: block;
        width: 100%;

        &.active{
          color:$text-dark;
          border-color: $black;
        }
      }
    }
  }
}

.ins-wrapper{
  .st{
    display: block;
  }

  .tab{
    display: table;
    width: 100%;
    margin-bottom: 2rem;

    li{
      display: table-cell;
      vertical-align: middle;

      .tab-link{
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        color:rgba($text-dark,.4);
        padding-bottom: 2rem;
        border-bottom: 2px solid $bg;
        display: block;
        width: 100%;

        &.active{
          color:$text-dark;
          border-color: $black;
        }
      }
    }
  }
}

.stepInsBox{
   > li{
    margin-bottom: 2rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
  .imgBox{
    margin: 1rem 0 2rem 0;
  }
  ol{
    margin-top: 10px;

    li{
      em{
        margin-right: 10px;
      }
    }
  }
    dt{
      margin-bottom: .5rem;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;

      em{
        margin-right: 13px;
        color:$primary;
        letter-spacing: 0;
        font-size: $font-size-base;
        position: relative;
        top: -2px;
      }
    }
}